<?php

function putLoginForm($userAccount,$toPolicy,$toPSF='',$toSkin='') {
    global $POLICIES, $AUTH, $sessionID;
    
    // TODO IDEIGLENES OVERRIDE -- if ($toPolicy=='public') $toPSF='portal:portal:vmgNyiltnap';

    /* reading data from SESSION */
    if ($userAccount=='' && $_SESSION['lastCreatedAccount']!='') 
        $userAccount=$_SESSION['lastCreatedAccount'];

    echo '<h1>'._SITE.'</h1>'."\n";
    echo '<h2>'._GREETING.'</h2>'."\n";

    // Caps-Lock
    echo '<div id="warning"><div style="display:none;" id="capsLockWarning">'._CAPSLOCKWARNING.'</div></div>';

    formBegin(array('method'=>'post', 
    'action'=>'index.php?policy=public&page=auth&f=login&toPolicy='.$toPolicy.'&sessionID='.$sessionID ,
    'name'=>"loginablak"));

    echo '<input type="hidden" name="action" value="login" />';
    echo '<input type="hidden" name="toPSF" value="'.$toPSF.'" />';

    echo '<table cellspacing="0" cellpadding="1" align="center" class="loginablak">'."\n";
    echo '<thead>'."\n";
    echo '<tr>'."\n";
    echo '<td colspan="3">'."\n";
    echo _LOGIN;
    echo '</td>'."\n";
    echo '</tr>'."\n";
    echo '</thead>'."\n";
    echo '<tfoot>'."\n";
    echo '<tr>'."\n";
    echo '<td colspan="3">'."\n";
    echo '<input type="submit" class="mayorButton" tabindex="3" name="button" value=" '. _LOGIN .' "
        onclick="document.loginablak.button.disabled=true;
    document.loginablak.button.value=\' Várj... \';
    document.loginablak.submit()" class="submit" />'."\n";
    echo '</td>'."\n";
    echo '</tr>'."\n";
    echo '</tfoot>'."\n";
    echo '<tbody>'."\n";
    echo '<tr class="top">'."\n";
    echo '<td rowspan="2">'."\n";
    if ($toPolicy == '') $toPolicy=_POLICY;
    echo '<img src="skin/classic/base/img/policy/'.$toPolicy.'100.png" alt="Login" class="authImg" />';
    echo '</td>'."\n";
    echo '<td >'."\n";
    if (defined('_BOLONDOS') && _BOLONDOS===true)
        echo visszafele(_USERNAME); 
    else
        echo _USERNAME;
    echo '</td>'."\n";
    echo '<td>'."\n";
    //echo '<span class="icon-user"></span>';
    echo '<input id="focus" type="text" accesskey="l" tabindex="1" name="userAccount" value="'.$userAccount.'" maxlength="32" placeholder="" />'."\n";
    echo '</td>'."\n";
    echo '</tr>'."\n";
    echo '<tr>'."\n";
    echo '<td>'."\n";

    echo '<select class="pp" name="toPolicy">'."\n";
    $SEL = array($toPolicy => ' selected="selected" ');
    for ($i=0; $i < count($POLICIES); $i++) {
        $_policy = $POLICIES[$i];
        if ($AUTH[$_policy]['authentication'] != 'none') {
            echo '<option value="'.$_policy.'" '.$SEL[$_policy].'>';
            echo constant('_'.strtoupper($_policy).'_PASSWORD');
            echo '</option>'."\n";
        }
    }
    echo '</select>'."\n";
    echo '</td>'."\n";
    echo '<td>'."\n";
    //echo '<span class="icon-key"></span>';
    echo '<input id="userPassword" type="password" accesskey="p" tabindex="2" name="userPassword" maxlength="20" placeholder="" value="" />'."\n";
    echo '</td>'."\n";
    echo '</tr>'."\n";
    echo '</tbody>'."\n";
    echo '</table>'."\n";
    formEnd();
}
