

    form.reg { background-color: rgb(100,150,200); margin:40px; text-align: center}

    div.validRegisztracio {
	 text-align:center;
	background-color: lightgreen;
	margin:40px;
	height:5em;
	font-size:large;
	line-height:5em;
	vertical-align:middle;
	color:white;
    }    
    div.validRegisztracio span { padding-right:10px; }

    div.notValidRegisztracio {
	 text-align:center;
	background-color: #EE9090;
	margin:40px;
	height:5em;
	font-size:large;
	line-height:5em;
	vertical-align:middle;
	color:white;
    }    
    div.notValidRegisztracio span { padding-right:10px; }

