
    ol.kerelem { }
    ol.kerelem li { background-color: rgb(130,130,130); margin: 10px 5em; padding: 10px; text-align: left; }
    ol.kerelem li div.szoveg { background-color: width: 80%; padding: 10px; margin: 0px auto; font-style: italic;  color: white;  font-size: 14px;}
    ol.kerelem li div.valasz { background-color: rgb(220,200,180); width: 80%; padding: 10px; margin: 5px auto 10px auto; font-style: italic; }


    ol.kerelem fieldset { background-color: rgb(120,100,180); }
    ol.kerelem legend {  border: 1px solid white; padding: 6px; font-weight: bold; color: white; background-color: rgb(60,60,100); }
    ol.kerelem li textarea { width: 90%; margin: 10px 0px; border: solid 1px #888888; font-size:14px; height:5em; padding:0.8em; }

    ol.kerelem span.dt {  padding: 5px 10px; margin: 5px 20px; border: 1px solid white; font-weight: bold; color: white; background-color: rgb(60,100,60); }
    ol.kerelem input {  padding: 5px 10px; margin: 5px 20px; border: 1px solid white; font-weight: bold; color: white; background-color: rgb(100,100,60); }

    span.mg { background-color: orange; color: white; padding:7px 20px; margin:20px; border: solid 1px white; }
    span.mg2 { background-color: rgb(200,100,100); color: white; padding:7px 20px; margin:20px; border: solid 1px white; }
    ol.kerelem select.mg { background-color: orange; color: white; font-weight: bold; border: solid 1px orange; }
    ol.kerelem select.telephely { background-color: rgb(200,100,100); color: white; font-weight: bold; border: solid 1px rgb(200,100,100); }

    ol.kerelem input.mg {  background-color: rgb(100,100,100); }

    ol.kerelem li.jovahagyott,
    ol.kerelem input.jh {  background-color: rgb(100,160,100); }
    ol.kerelem input.njh {  background-color: rgb(200,100,60); }
    ol.kerelem input.done {  background-color: rgb(100,100,160); }

    ol.kerelem li.jovahagyott { border: solid 1px green; margin-right:5em; }
