



    form.hiba {
	background-color: rgb(20,120,140);
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 0px;
	padding-top: 0em;
	padding-bottom: 0.5em;
	color: white;
	margin-bottom: 2em;
	text-align: center;
	border-bottom: solid 2px rgb(20,40,60);
    }

    form.hiba h1 { font-size: 14pt; border-bottom: solid 2px rgb(100,200,160); border-width: 2px 0px; background-color: rgb(20,40,60); margin: 4px 0px; padding: 3px}
    form.hiba textarea { font-size: 14px; background-color: rgb(250,250,250); width: 99%; height: 100px; border: solid 1px black; padding:2px;}

    form.hiba input,
    form.hiba select {
	margin:2px 10px;
	background-color: cyan;
	border: solid 1px rgb(120,220,240);
	padding:0px 10px;
    }