<?php

    function putKerelmek($Kerelmek, $telephelyId, $TELEPHELY) {

	global $KERELEM_TAG;

	echo '<ol class="kerelem">';
	for ($i = 0; $i < count($Kerelmek); $i++) {
	    $_K = $Kerelmek[$i];

	    if ($Kerelmek[$i]['jovahagyasDt'] != '') $class = ' class="jovahagyott" ';
	    else $class = '';

	    echo '<li '.$class.'>';
		echo '<fieldset>';
		echo '<legend>';
		echo $Kerelmek[$i]['rogzitesDt'];
		echo ' : ';
		echo $Kerelmek[$i]['userAccount'];
		if ($Kerelmek[$i]['kategoria'] !='')
		    echo '<span style="border: solid 1px white; background-color: #678670; padding: 2px 5px; margin: 0px 5px;">'.$Kerelmek[$i]['kategoria'].'</span>';
		if ($_K['telephelyId'] !='')
		    echo '<span style="border: solid 1px white; background-color: #678670; padding: 2px 5px; margin: 0px 5px;">'.$_K['telephelyId'].'</span>';
		echo '</legend>';


		echo '<div class="szoveg">';
		    echo nl2br(htmlspecialchars($Kerelmek[$i]['szoveg']));
		echo '</div>';

		echo '</fieldset>';

		if (__VEZETOSEG || __NAPLOADMIN) {

		    formBegin();
		    echo '<input type="hidden" name="action" value="hibaAdmin" />';
		    echo '<input type="hidden" name="kerelemId" value="'.$Kerelmek[$i]['kerelemId'].'" />';
		    echo '<input type="hidden" name="telephelyId" value="'.$telephelyId.'" />';
		

			echo '<textarea name="valasz"'.$class.'>';
			echo ($Kerelmek[$i]['valasz']);
			echo '</textarea><br />';

			echo '<span class="mg">';
			if (count($KERELEM_TAG)>0) {
        		    echo '<select name="kategoria" class="mg">';   
        		    echo '<option value="">-</option>';                                                                                                                                   
        		    for ($j=0; $j<count($KERELEM_TAG); $j++) {                                                                                                                           
            			$_v = $KERELEM_TAG[$j];
				$_SEL = ($_v==$Kerelmek[$i]['kategoria']) ? 'selected="selected"':'';
            			echo '<option value="'.$_v.'" '.$_SEL.'>'.$_v.'</option>';
        		    }                                                                                                                                                                    
        		    echo '</select>';                                                                                                                                                    
    			}           
			echo '</span>';

		    if (count($TELEPHELY)>=1) {
			echo '<span class="mg2">';
			echo '<select class="telephely" name="kerelemTelephelyId">';
			echo '<option value=""></option>';
			for ($ti=0; $ti<count($TELEPHELY); $ti++) {
			    $_T = $TELEPHELY[$ti];
			    $_SEL = ($_K['telephelyId'] == $_T['telephelyId']) ? ' selected="selected" ' : '' ;
			    echo '<option value="'.$_T['telephelyId'].'" '.$_SEL.'>'.$_T['telephelyRovidNev'].'</option>';
			}			
			echo '</select>';
			echo '</span>'."\n";
		    }


			echo '<input class="mg" type="submit" name="megjegyzes" value="'._MEGJEGYZES.'" />';

//			if ($Kerelmek[$i]['jovahagyasDt'] != '') echo '<span class="dt">'.$Kerelmek[$i]['jovahagyasDt'].' '.$_K['jovahagyasAccount'].'</span>';
			if ($Kerelmek[$i]['jovahagyasDt'] != '')
			    echo '<input class="njh" type="submit" title="'.$_K['jovahagyasAccount'].'" name="nemHagyJova" value="'.$Kerelmek[$i]['jovahagyasDt'].'" />';
			else
			    echo '<input class="jh" type="submit" name="jovahagy" value="'._JOVAHAGYAS.'" />';

    			echo '<input class="done" type="submit" name="lezar" value="'._LEZARAS.'" />';



		    formEnd();

		} else {

		    echo '<div class="valasz">';
			echo nl2br(htmlspecialchars($Kerelmek[$i]['valasz']));
		    echo '</div>';

		    echo '<div>';
			echo '<span class="dt">'.$Kerelmek[$i]['rogzitesDt'].'</span>';
			if ($Kerelmek[$i]['jovahagyasDt'] != '') echo '<span class="dt">'.$Kerelmek[$i]['jovahagyasDt'].'</span>';
			if ($Kerelmek[$i]['lezarasDt'] != '') echo '<span class="dt">'.$Kerelmek[$i]['lezarasDt'].'</span>';
		    echo '</div>';
		}

	    echo '</li>';

	}
	echo '</ol>';

    }


?>
