
    form.esemeny table { margin: 20px 35px 0px 35px;  border-spacing: 1px; border: 1px solid #aabbcc; background-color: #f0f0f0; padding: 10px; position: relative; }
    form.esemeny table th { background-color: #a8a8a8; padding: 4px; color: white; }
    form.esemeny table tr:hover th { background-color: #ff8800; padding: 4px; color: white; cursor: pointer; }
    form.esemeny table td { background-color: #ececec; padding: 4px; } 

    form.esemeny table tr.jelentkezes:nth-child(odd) td { background-color: #d6d6d6; }

//    form.esemeny table tr.valasztott:nth-child(even) td { background-color: #a6e6a6; }
//    form.esemeny table tr.valasztott:nth-child(odd) td { background-color: #86d686; }

    form.esemeny table tr.jelentkezes td, form.esemeny table tr.valasztott td { min-width: 60px; }
    form.esemeny table input.felvesz { font-size: 10px; color: green; border-radius: 15px; }
    form.esemeny table input.lead { font-size: 10px; color: red; border-radius: 15px; }
    form.esemeny table input.felvesz:hover, form.esemeny table input.lead:hover { background-color: orange; }
    form.esemeny table input.felvesz:disabled, form.esemeny table input.lead:disabled { color: #666; background-color: #ccc; }
    form.esemeny table td.letszam { text-align: right; }
    form.esemeny table td.minmax { text-align: center; }
    form.esemeny table td.min { border-left: 1px dotted red; }
    form.esemeny table td.max { border-right: 1px dotted red; }
    form.esemeny table td span.icon-minus-sign { padding: 3px 20px; color: #800; }
    form.esemeny table td span.icon-ok-sign { padding: 3px 20px; color: #080; }
