@media screen,print {

    table.new input { border: solid 1px black; }

    table.searchresult { background-color: #aaaaaa; margin-bottom:20px; }
    table.searchresult thead th { background-color: #d6bddb; height:2em; border-bottom: solid 2px purple; }
    table.searchresult tfoot th { background-color: purple; }
    table.searchresult th { background-color: #ffffff; }
    table.searchresult a { color: black; text-decoration: none; }
    table.searchresult a:hover { text-decoration: underline; }

    table.new { background-color: #aaaaaa; margin-bottom:20px; margin-top:30px;}
    table.new thead th { background-color: #ccccee; height:2em; border-bottom: solid 2px purple; }
    table.new thead td { text-align: center; background-color: #ccccee; height:2em; border-bottom: solid 2px purple; }
    table.new th { background-color: #ffffff; }
    table.new td { background-color: #ffffff; }
    table.new td input { }

    .paros { background-color: #eeeeee; }
    .paratlan { background-color: #dddddd; }

    table.new input.hiba { outline: solid 1px red; }

}