
    table.bontas { border-spacing: 0 15px; margin: 50px 20px;}


    table.bontas tbody tr th { -moz-box-shadow: 0px -15px #3ca; -webkit-box-shadow: 0px -15px #3ca; box-shadow: 0px -15px #3ca; }
    table.bontas tbody tr th.targyTipus { background-color: #ddd; color: #a55; }
    table.bontas tbody:nth-child(odd) tr th { -moz-box-shadow: 0px -15px #3ac; -webkit-box-shadow: 0px -15px #3ac; box-shadow: 0px -15px #3ac; }
    table.bontas tbody tr:first-child th { -moz-box-shadow: 0px 0px; -webkit-box-shadow: 0px 0px; box-shadow: 0px 0px; }
    table.bontas tbody tr.kesz:first-child th { -moz-box-shadow: 0px 3px #0f0 inset; -webkit-box-shadow: 0px 3px #0f0 inset; box-shadow: 0px 3px #0f0 inset; }

    table.bontas td, table.bontas th { position: relative; background: #cba; background: #0a7; padding: 5px 8px; height: 50px;  border: solid white; border-width: 2px 1px; color: white; }
    table.bontas th { text-align: left; }
    table.bontas tbody:nth-child(odd) td, table.bontas tbody:nth-child(odd) th { background: #abc; background: #3facc7; background: #07a; }
    
    table.bontas tr.shadow1 td { -moz-box-shadow: 5px 5px #888; -webkit-box-shadow: 5px 5px #888; box-shadow: 5px 5px #888; }
    table.bontas tr.shadow2 td { -moz-box-shadow: 5px 5px #888, 10px 10px #999; -webkit-box-shadow: 5px 5px #888, 10px 10px #999; box-shadow: 5px 5px #888, 10px 10px #999; }
    table.bontas tr.shadow3 td { -moz-box-shadow: 5px 5px #888, 10px 10px #999, 15px 15px #aaa; -webkit-box-shadow: 5px 5px #888, 10px 10px #999, 15px 15px #aaa; box-shadow: 5px 5px #888, 10px 10px #999, 15px 15px #aaa; }
    table.bontas tr.shadow4 td { -moz-box-shadow: 5px 5px #888, 10px 10px #999, 15px 15px #aaa, 20px 20px #bbb; -webkit-box-shadow: 5px 5px #888, 10px 10px #999, 15px 15px #aaa, 20px 20px #bbb; box-shadow: 5px 5px #888, 10px 10px #999, 15px 15px #aaa, 20px 20px #bbb; }
    table.bontas tr.shadow5 td { -moz-box-shadow: 5px 5px #888, 10px 10px #999, 15px 15px #aaa, 20px 20px #bbb, 25px 25px #ccc; -webkit-box-shadow: 5px 5px #888, 10px 10px #999, 15px 15px #aaa, 20px 20px #bbb, 25px 25px #ccc; box-shadow: 5px 5px #888, 10px 10px #999, 15px 15px #aaa, 20px 20px #bbb, 25px 25px #ccc; }

    table.bontas tr.aktiv td { opacity: 1; } /* ha <1-re állítom, akkor olyan, mintha z-index-e a targyak div fölé nőne... */

    table.bontas div.bontas { background: white; color: #333; padding: 2px 4px; margin: 2px 0px; cursor: pointer; }
    table.bontas div.bontas ul.tankor-oraszam { list-style-type: none; margin: 0 0 0 6px; padding: 0; display: inline-block; float: right; color: #fff; }
    table.bontas div.bontas ul.tankor-oraszam li { margin: 0 1px 0 0; padding: 0px 4px; display: inline-block; background-color: #f60; }
    table.bontas div.bontas ul.tankor-oraszam li:nth-child(even) { background-color: #fa0; }
    table.bontas div.bontas ul.tankor-oraszam li.marad { margin: 0; padding: 0px 4px; display: inline-block; background-color: #888; }
    table.bontas div.bontas.ok ul.tankor-oraszam li.marad { background-color: green; }
    table.bontas div.bontas.fail ul.tankor-oraszam li.marad { background-color: red; }

    table.bontas td span.felev1, table.bontas td span.felev2 { 
	background-color: yellow; color: black; margin:0; padding:0; position: absolute; border: solid yellow; font-size: 8pt; 
    }
    table.bontas td span.felev1 { top: 0; left: 0; border-width: 0px 10px 2px 0px; border-radius: 0 0 10px 0; }
    table.bontas td span.felev2 { bottom: 0; right: 0; border-width: 2px 0px 0px 10px; border-radius: 10px 0 0 0;}
    table.bontas span { cursor: pointer; padding: 5px; }
    table.bontas span:hover { color: orange; }
    table.bontas span.delBontas { float: right; color: #800; margin-right: -5px; margin-top: -2px;}
    table.bontas span.addBontas, table.bontas span.addBontasTargy { padding: 20px 10px; }
    table.bontas tr.aktiv span.addBontasTargy { color: orange; }
    table.bontas span.slideDown { padding: 20px 5px; }
    table.bontas span.slideUp { padding: 20px 5px; }
    table.bontas span.slideUpAll { padding: 20px 5px; }


    div#targyak { z-index: 79; position: fixed; top: 200px; overflow: auto; height: 60%; background-color: rgba(73,71,71,0.92); border: black 1px solid; color: white; padding: 0px 2px; display: none; }
/*    
    div#targyak { overflow: auto; padding: 0px 2px; display: none; }
*/
    div#targyak h1 { font-size: 16px; text-align: center; border-bottom: 1px solid #ddd; padding: 4px 8px; margin: 2px; }
    div#targyak h1 span { position:relative; z-index: 100; }
    div#targyak span.icon-remove-circle { float: left; font-size: 18px; cursor: pointer; }
    ul#targyakUl { list-style-type: none; padding: 0px 6px 20px 6px; }
    ul#targyakUl li { padding: 3px; }
    ul#targyakUl li:hover { background-color: rgba(255,255,255,0.9); color: rgb(71,71,71); cursor: pointer; }
    div#targyakUp, div#targyakDown { z-index: 80; position: fixed; text-align: center; background-color: rgba(170,70,70,0.6); height: 21px; padding-top: 10px; width: auto; display: none; }

    #updateWindowSide p.bontasAdat,
    #updateWindowSide p.tankorNev { text-align: center; border-bottom: solid 1px #ddd; padding: 8px 0; margin: 0; }
    #updateWindowSide ul.tankorLista  { list-style-type: none; color: rgba(255,255,255,1); margin:30px 10px; padding:0; }
    #updateWindowSide ul.tankorLista li { padding:0; cursor: pointer; margin-right: 40px; }
    #updateWindowSide ul.tankorLista li:hover { background-color: rgba(200,200,200,1); color: #000; }
    #updateWindowSide ul.tankorLista li.hozzarendelt { border-right: 0px orange solid; }
    #updateWindowSide ul.tankorLista li.tiltott { color: rgba(255,255,255,0.5); cursor: not-allowed; }
    #updateWindowSide ul.tankorLista li.osszevonasTilt { color: rgba(255,255,255,0.5); }
    #updateWindowSide ul.tankorLista li.tiltott:hover { background-color: rgba(200,200,200,1); color: #fff; }
    #updateWindowSide ul.tankorLista li div.jobbra { float: right; margin-right: -40px; color: white; min-width: 40px; text-align: right; }
    #updateWindowSide ul.tankorLista li:hover div.jobbra { background-color: rgb(200,150,150); }
    #updateWindowSide ul.tankorLista li div.jobbra span.plusz { display: none; position: absolute; margin-top: -18px; margin-left: -3px; border-bottom: 1px solid white}
    #updateWindowSide ul.tankorLista li div.jobbra span.minusz { display: none; position: absolute; margin-top: 26px; margin-left: -3px; padding-top: 1px; border-top: 1px solid white}
    #updateWindowSide ul.tankorLista li div.jobbra:hover strong { position: absolute; display: inline-block; padding: 20px 20px 23px 20px; right: 5px; font-size: 20px; background: rgb(200,150,150); color: yellow; }
    #updateWindowSide ul.tankorLista li div.jobbra:hover span.plusz,
    #updateWindowSide ul.tankorLista li div.jobbra:hover span.minusz { display: inline-block; color: white; }
    #updateWindowSide ul.tankorLista li strong { color: white; }
    #updateWindowSide ul.tankorLista li.tiltott strong { color: #eee; }
    #updateWindowSide ul.tankorLista li.tiltott.hozzarendelt div.jobbra::before { content: "✔"; float:right; color: #4f4; width: 10px; margin-right: -11px; text-align: center; } /*  ✕  ☑  ☒ ⊗ ×✖ ❌ ☠"  */
    #updateWindowSide ul.tankorLista li.tiltott div.jobbra::before { content: "❌"; float: right; color: red; width: 10px; margin-right: -11px; text-align: center; }
    #updateWindowSide ul.tankorLista li.osszevonasTilt div.jobbra::before { content: "▚"; float: right; color: darkorange; width: 10px; margin-right: -11px; text-align: center; font-weigth: bold; }
    #updateWindowSide ul.tankorLista li.osszevonasEnged div.jobbra::before { content: "▐"; float: right; color: yellow; width: 10px; margin-right: -11px; text-align: center; font-weigth: bold; }
/*  ೦ ೧ ထ  လ ⤻ ⤽ ⤼  ⩆  ⩇ ⩉ ⩁  ⩃ ⩌ ⩂ ⩐ ∪ ⋃  Ꙭ  Ꙫ Ꙩ ⫠ ⫨ ⫯ ⫰ ⨪ ⩦ ⫗  ⫘  ⨂  ⨁   Ꙩ Ꙩ   ¦ | Ø Θ Ο ǀ ǁ ༶  ༓  ᙂ ᙃ ᗜ ᗢ ᗨ ⊦ ⊪ ⎇  ⎌ ⑆ ╬ ╫ ▃ ▐  ▚ ▐ ▌x0 */
    #updateWindowSide div#addTankor { background: rgba(70,70,70,0.9); position: absolute; width: 330px; margin: 0; padding: 3px 10px; border-bottom: 1px dotted #aaa; text-align: right; }
    #updateWindowSide div#addTankor, #updateWindowSide div#addTankor span { cursor: pointer; }
    #updateWindowSide div#disableAddTankor, #updateWindowSide div#disableAddTankor span { cursor: not-allowed; }
    #updateWindowSide div#disableAddTankor { color: #888; background: rgba(70,70,70,0.9); position: absolute; width: 330px; margin: 0; padding: 3px 10px; border-bottom: 1px dotted #aaa; text-align: right; }

    #updateWindowSide div.slideToggleContainer ul { list-style-type: none; margin: 10px 0px; display: none; cursor: default; padding: 0 10px; }
    #updateWindowSide div.slideToggleContainer ul li { display: inline-block; width: 100px; }
    #updateWindowSide div.slideToggleContainer { cursor: pointer; margin: 0; padding: 3px 10px; border-bottom: 1px dotted #aaa; }
    #updateWindowSide div.slideToggleContainer span.icon-chevron-down { float: right; z-index: 0; }
    #updateWindowSide div.slideToggleContainer span.changed { color: yellow; }
    #updateWindowSide ul#tankorSzemeszter li { width: 120px; }
    #updateWindowSide ul#tankorSzemeszter input { width: 40px; text-align: right;}

    #updateWindowSide p.tankorModosit { cursor: pointer; color: yellow; text-align: right; margin: 0; padding: 0 10px 0 0; display: none; background-color: rgba(240,240,220,0.5); border-bottom: 2px solid yellow; color: rgb(70,70,70); color: white;}
    #updateWindowSide span.tankorNevExtra { cursor: pointer;}
    #updateWindowSide span.tankorNevExtra.changed { color: yellow; }
    #updateWindowSide input#tankorNevExtra { width: 50px; display: none; }

    form#szures { border-radius: 0 0 10px 10px; background: rgba(170,170,170,0.9); color: white; margin: 0px auto; position: absolute; left: 175px; top: 150px; right: 240px; z-index: 1; }
    form#szures div#osztaly div.evfolyamJel { display: inline-block; cursor: pointer; background-color: rgb(70,70,70); width: 50px; height; text-align: center; padding: 5px 0; margin-bottom: 1px;}
    form#szures div#osztaly div.evfolyamJel.checked { background-color: #820; }
    form#szures div#osztaly span.selectOsztaly { cursor: pointer; background-color: #888; margin: 1px 0px 1px 1px; border: none #888; border-width: 0px 1px 1px 0px; padding: 5px; }
    form#szures div#osztaly span.selectOsztaly.checked { background-color: orange; }
    form#szures div#osztaly span.selectOsztaly.checked.bontasOk { background-color: darkorange; }
    form#szures div#osztaly span.selectOsztaly.bontasOk { background-color: green; }
    form#szures div.kSelect { float: left; }
    form#szures input#filterOk { float: right; padding: 10px; margin-right: 15px; margin-top: 1px; }

    div#stat { background: red; position: absolute; top: 150px; right: 40px; z-index: 2; border-radius: 0 0 10px 10px; }
    div#stat table { width: 210px; }
    div#stat table th#oratervenKivuli { cursor: pointer; }
    div#stat table th#oratervenKivuli ul { display: none; list-style-type: none; margin: 0; padding: 4px 0 0 0; text-align: left; font-weight: normal; position: absolute; left: -50px; right: 0px; background-color: #888; }
    div#stat table th#oratervenKivuli ul li { margin: 1px 0; padding: 4px; background: #ddd; }
    div#stat table th#oratervenKivuli ul li span.diff { float: right; }



