{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Terem list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Leiras</th>
                <th>Ferohely</th>
                <th>Tipus</th>
                <th>Teremid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('intezmeny_terem_show', { 'id': entity.teremid }) }}">{{ entity.leiras }}</a></td>
                <td>{{ entity.ferohely }}</td>
                <td>{{ entity.tipus }}</td>
                <td>{{ entity.teremid }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('intezmeny_terem_show', { 'id': entity.teremid }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('intezmeny_terem_edit', { 'id': entity.teremid }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('intezmeny_terem_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
