{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Terem</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Leiras</th>
                <td>{{ entity.leiras }}</td>
            </tr>
            <tr>
                <th>Ferohely</th>
                <td>{{ entity.ferohely }}</td>
            </tr>
            <tr>
                <th>Tipus</th>
                <td>{{ entity.tipus }}</td>
            </tr>
            <tr>
                <th>Teremid</th>
                <td>{{ entity.teremid }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('intezmeny_terem') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('intezmeny_terem_edit', { 'id': entity.teremid }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
