{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Osztaly list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Leiras</th>
                <th>Kezdotanev</th>
                <th>Vegzotanev</th>
                <th>Jel</th>
                <th>Kezdoevfolyam</th>
                <th>Kezdoevfolyamsorszam</th>
                <th>Osztalyid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('intezmeny_osztaly_show', { 'id': entity.osztalyid }) }}">{{ entity.leiras }}</a></td>
                <td>{{ entity.kezdotanev }}</td>
                <td>{{ entity.vegzotanev }}</td>
                <td>{{ entity.jel }}</td>
                <td>{{ entity.kezdoevfolyam }}</td>
                <td>{{ entity.kezdoevfolyamsorszam }}</td>
                <td>{{ entity.osztalyid }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('intezmeny_osztaly_show', { 'id': entity.osztalyid }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('intezmeny_osztaly_edit', { 'id': entity.osztalyid }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('intezmeny_osztaly_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
