{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Osztaly</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Leiras</th>
                <td>{{ entity.leiras }}</td>
            </tr>
            <tr>
                <th>Kezdotanev</th>
                <td>{{ entity.kezdotanev }}</td>
            </tr>
            <tr>
                <th>Vegzotanev</th>
                <td>{{ entity.vegzotanev }}</td>
            </tr>
            <tr>
                <th>Jel</th>
                <td>{{ entity.jel }}</td>
            </tr>
            <tr>
                <th>Kezdoevfolyam</th>
                <td>{{ entity.kezdoevfolyam }}</td>
            </tr>
            <tr>
                <th>Kezdoevfolyamsorszam</th>
                <td>{{ entity.kezdoevfolyamsorszam }}</td>
            </tr>
            <tr>
                <th>Osztalyid</th>
                <td>{{ entity.osztalyid }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('intezmeny_osztaly') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('intezmeny_osztaly_edit', { 'id': entity.osztalyid }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
