<?php

    function _format($szam) {
	return (substr($szam,strpos($szam,'.'),3)=='.00') ? intval($szam):$szam;
    }


    function putKepzesTankor($ADAT) {

	/* Rendelkezésre álló strukturák:
	    oraterv array('tipus','targyId','evfolyam','szemeszter');        
	    targyak
	    osztalyok
	*/

	putKepzesInfo($ADAT);
	$_colspan=6;

	echo '<table align="center" border="1">';
	echo '<thead><tr><th colspan="'.$_colspan.'">'.($ADAT['osztalyEvfolyam']).'. '._EVFOLYAM.'</th></tr></thead>';
	echo '<thead><tr><th>'._TARGY.'</th><th>'._FELEV1.'</th><th>'._FELEV2.'</th><th colspan="2">'._MEGLEVO_TANKOR.'</th><th>'._UJ_TANKOR.'</th></tr></thead>';
	echo '<tfoot><tr><th>'.($ADAT['osztalyEvfolyam']).'. '._EVFOLYAM.'</th></tr></tfoot>';

	if (is_array($ADAT['oraterv']['mintatantervi'])) {
	    echo '<tbody>';
	    foreach ($ADAT['oraterv']['mintatantervi'] as $targyId => $TARGYADAT) {
		echo '<tr>';

		echo '<th>'.($ADAT['targyak'][$targyId][0]['targyNev']).'</th>';

//		if (is_null($targyId)) 
		for ($szemeszter = 1; $szemeszter<=2; $szemeszter++) {
		    $TA=$TARGYADAT[$ADAT['osztalyEvfolyam']][$szemeszter][0];
		    $HETI[$szemeszter] = $TA['hetiOraszam'];
		    echo '<td>';
		    echo $TA['hetiOraszam'].' ';
		    echo $TA['kovetelmeny'];
		    echo '</td>';
		}
		/* TANKÖRÖK */
		$dbTankor=count($ADAT['osztalyTankor'][$targyId]);
		echo '<td>'.$dbTankor.'</td>';
		echo '<td>';
		if ($dbTankor >0) {
		    echo '<ul>';
		    for ($j=0; $j<$dbTankor; $j++)  {
			$tankorAdat = $ADAT['osztalyTankor'][$targyId][$j];
			echo '<li>';
			    _putTankorAdat($tankorAdat);
			echo '</li>';
		    }
		    echo '</ul>';
		} else {
		    
		}
		echo '</td>';

/*		for ($_evf = $ADAT['kepzesAdat']['kezdoEvfolyam']; $_evf<=$ADAT['kepzesAdat']['zaroEvfolyam']; $_evf++) {
		    if ($_evf ==	$ADAT['osztalyEvfolyam']) echo $_evf;
		}
*/

		echo '<td>';

		    $TANKORADAT = array('osztalyId'=>$ADAT['osztalyId'], 'targyId'=>$targyId,'min'=>0,'max'=>0,'hetiOraszam'=>$HETI,'kovetelmeny'=>$TA['kovetelmeny']);

		    _putUjTankor($TANKORADAT,$ADAT['tankorTipusok']); // tankör adat és tankör típus

		echo '</td>';
		echo '</tr>'."\n";
	    }
	    echo '</tbody>';
	}

	echo '</table>'."\n";
//	var_dump($ADAT['oraterv']['mintatantervi']);


    }


    function _putUjTankor($ADAT,$TT) {

	global $TANKOR_TIPUS;


	formBegin(array('target'=>'_blank','checkSalt'=>false,'method'=>'post','action'=>location('index.php?page=naplo&sub=intezmeny&f=tankor&action=ujTankorFromKepzes')));

	    echo '<input type="submit" />';
	    /* heti óraszám nincs lekezelve */
	    echo '<input type="hidden" name="heti1" value="'.$ADAT['hetiOraszam'][1].'" />';
	    echo '<input type="hidden" name="heti2" value="'.$ADAT['hetiOraszam'][1].'" />';
	    echo '<input type="hidden" name="kovetelmeny" value="'.$ADAT['kovetelmeny'].'" />';
	    echo '<input type="hidden" name="targyId" value="'.$ADAT['targyId'].'" />';
	    echo '<input type="hidden" name="osztalyId" value="'.$ADAT['osztalyId'].'" />';


	/* Tankörtípus */

    	echo '<select name="tankorTipusId">';                                                                                
    	    foreach  ($TT as $_k=>$_v) {                                                                       
                    echo '<option value="'.$_k.'">';
                    echo $_k.": ";                                                                                                   
                    echo $_v['rovidNev'].": ";                                                                                       
                    echo $_v['leiras'];                                                                                              
                    echo '</option>';                                                                                                
    	    }                                                                                                                    
        echo '</select>';          

	/* Elnevezés */

                echo '<select name="tipus">';                                                                                        
                foreach ($TANKOR_TIPUS as $_k=>$_v) {                                                                                
                    echo '<option value="'.$_v.'"'.'>'.$_k.'</option>';
                }                                                                                                                    
                echo '</select>';                    


	formEnd();




    }

    function _putTankorAdat($ADAT) {

	$_class = ($ADAT['felveheto']==1?'valaszthato':'');

	echo '<span class="'.$_class.'">';
	echo $ADAT['tankorNev'];
	echo '('.$ADAT['tankorId'].')';

	for($i=0;$i<count($ADAT['tanarok']); $i++) {
	    echo ' '.$ADAT['tanarok'][$i]['tanarNev'];
	    echo ' ('.$ADAT['tanarok'][$i]['tanarId'].')';
	}
	echo '-'.$ADAT['kovetelmeny'];
	echo '-'.$ADAT['jelenlet'];
	echo '-'.$ADAT['tankorTipusId'];


	echo '</span>';

    }

    function putKepzesInfo($ADAT) {

	echo $ADAT['kepzesAdat']['kepzesNev'];
	echo $ADAT['kepzesAdat']['tanev']; // indulo
	echo '...'.$ADAT['kepzesAdat']['kezdoEvfolyam'];
	echo '...'.$ADAT['kepzesAdat']['zaroEvfolyam'];
	if (count($ADAT['kepzesAdat']['osztalyIds'])>0) {

	    echo '<ul>';
	    for ($i=0; $i<count($ADAT['kepzesAdat']['osztalyIds']); $i++) {
		$_osztalyId = $ADAT['kepzesAdat']['osztalyIds'][$i];

		if ($ADAT['osztalyok'][$_osztalyId]['vegzoTanev']>=__TANEV)  { 
		    echo '<li>';
		    echo $ADAT['osztalyok'][$_osztalyId]['osztalyJel'];
		    echo ' ';
		    echo $ADAT['osztalyok'][$_osztalyId]['leiras'];
		    echo ' ';
		    echo $ADAT['osztalyok'][$_osztalyId]['kezdoTanev'].'-';
		    echo $ADAT['osztalyok'][$_osztalyId]['vegzoTanev'];
		    echo ' ';
		    echo $ADAT['osztalyok'][$_osztalyId]['kezdoEvfolyam'];
		    echo ' ';
		    echo '['.$_osztalyId.']';
		    echo '</li>';
		}
	    }
	    echo '</ul>';
	}

    }

    function putKepzesOraterv($ADAT) {

	$kepzesId = $ADAT['kepzesId'];
	$kezdoEvfolyam=$ADAT['kepzesAdat']['kezdoEvfolyam'];
	$zaroEvfolyam=$ADAT['kepzesAdat']['zaroEvfolyam'];

	$TARGYAK = reindex($ADAT['targyak'],array('targyId'));

	if (!is_numeric($kezdoEvfolyam) && !is_numeric($zaroEvfolyam)) {
	    return false;
	}

	/* KÉPZÉS ÓRASZÁMOK	POST
	   ----------------	----
	    *kepzesId
	    *evfolyam
	    kotelezoOraszam	KO_[kepzesId]_[evfolyam]
	    maximalisOraszam	MO_[kepzesId]_[evfolyam]
	*/

	formBegin(array('name'=>'kepzesOraterv','class'=>'kepzesOraterv'));
	echo '<input type="hidden" name="kepzesId" value="'.$kepzesId.'" />';
	echo '<input type="hidden" name="action" value="do" />';
	echo '<table align="center">';

	    echo '<thead>';
		//FEJLÉC
		echo '<tr><th>'._EVFOLYAM.'</th>';
		    for ($i=$kezdoEvfolyam; $i<=$zaroEvfolyam; $i++) {
			echo '<th>'.$i.'.</th>';		    }
		    echo '<th rowspan="2">&nbsp;</th>';
		echo '</tr>';
		// ÉVFOLYAMONKÉNTI ÓRASZÁMOK
		echo '<tr><th>'._KOTELEZO_ORASZAM.'-'._MAXIMALIS_ORASZAM.'</th>';
		    for ($i=$kezdoEvfolyam; $i<=$zaroEvfolyam; $i++) {
			echo '<td>';
			    echo '<input type="text" size="3" maxlength="5" name="KO_'.$i.'" title="'._KOTELEZO_ORASZAM.'" value="'.$ADAT['oraszam'][$i]['kotelezoOraszam'].'" />'; // KO = kötelező óraszám
			    echo '-<input type="text" size="3" maxlength="5" name="MO_'.$i.'" title="'._MAXIMALIS_ORASZAM.'" value="'.$ADAT['oraszam'][$i]['maximalisOraszam'].'" />'; // MO = maximális óraszám
			echo '</td>';
		    }
		echo '</tr>';

	    echo '</thead>'."\n";

	    echo '<tfoot>';
		//LÁBLEC
		echo '<tr><th>'._EVFOLYAM.'</th>';
		    for ($i=$kezdoEvfolyam; $i<=$zaroEvfolyam; $i++) {
			echo '<th>'.$i.'.</th>';
		    }
		    echo '<th>&nbsp;</th>';
		echo '</tr>';
		echo '<tr><td>Még hiányzó / Max választható</th>';
		
		    for ($i=$kezdoEvfolyam; $i<=$zaroEvfolyam; $i++) {
			$min = $ADAT['oraszam'][$i]['kotelezoOraszam'];
			$max = $ADAT['oraszam'][$i]['maximalisOraszam'];
			$sum=0;
			reset($ADAT['oraterv']);
			if (is_array($ADAT['oraterv'])) foreach($ADAT['oraterv'] as $tipus=>$DT) foreach($DT as $targyId => $D) {
			    	$sum+=($D[$i][1][0]['hetiOraszam']+$D[$i][2][0]['hetiOraszam']) / 2;
			}
			$_class = ($min<=$sum && $sum<=$max) ? 'class="ok"':$_class = ($max-$sum<0) ? 'class="alert"' : '';;
			echo '<td '.$_class.'>';
			    echo ($min-$sum) . "&laquo;". ($max - $sum);
			echo '</td>';
		    }
		    echo '<th>&nbsp;</th>';
		echo '</tr>';
	    echo '</tfoot>'."\n";


	// KÉPZÉS ÓRATERV
	/* --------------
	    *kepzesOratervId
	    kepzesId
	    targyId
	    evfolyam
	    szemeszter
	    hetiOraszam
	    kovetelmeny enum('jegy','négyszintű (szöveges minősítés)','százalékos','aláírás','háromszintű','egyedi felsorolás','szöveges szempontrendszer','nincs') DEFAULT null
	    tipus	enum('első nyelv','második nyelv','kötelezően választható','szabadon választható','mintatantervi') 
	*/
	    flush();
	    echo '<tbody>';

	    if (is_array($ADAT['oraterv']))
	    foreach($ADAT['oraterv'] as $tipus => $X)
	    foreach($X as $targyId => $DI) {
		$D = $DI;
		// TOMEG:
		$targyIdEsc = _escape($tipus).'_'.$targyId;
		$_class = ($tipus!='mintatantervi') ? 'class="nm"' : '';
	    echo '<tr>';
	    echo '<th '.$_class.'>';
		echo '<span title="'.$TARGYAK[$targyId][0]['targyJelleg'].' '.$TARGYAK[$targyId][0]['evkoziKovetelmeny'].' '.$TARGYAK[$targyId][0]['zaroKovetelmeny'].'">';
		echo $TARGYAK[$targyId][0]['targyNev'];
		echo ' ('._unescape($targyIdEsc).')';
		echo '</span>';
	    echo '</th>';
	    for ($i=$kezdoEvfolyam; $i<=$zaroEvfolyam; $i++) {
		$up1 = ($D[$i][1][0]['kovetelmeny']!='');
		$up2 = ($D[$i][2][0]['kovetelmeny']!='');
		$_class = ($D[$i][1][0]['hetiOraszam']+$D[$i][2][0]['hetiOraszam'] > 0) ? ' class="nn" ' : '';
		echo '<td'.$_class.'>';
		    /* első félévi */
		    echo '<input type="text" size="1" maxlength="4" name="T_'.$targyIdEsc.'_O_'.$i.'_1" value="'._format($D[$i][1][0]['hetiOraszam']).'" />';
		    _put_simple_select($ADAT['kepzesOraterv.kovetelmeny'],'T_'.$targyIdEsc.'_K_'.$i.'_1',$D[$i][1][0]['kovetelmeny']);
		    echo '<br/>';
		    /* második félévi */
		    echo '<input type="text" size="1" maxlength="4" name="T_'.$targyIdEsc.'_O_'.$i.'_2" value="'._format($D[$i][2][0]['hetiOraszam']).'" />';
		    _put_simple_select($ADAT['kepzesOraterv.kovetelmeny'],'T_'.$targyIdEsc.'_K_'.$i.'_2',$D[$i][2][0]['kovetelmeny']);
		echo '</td>';
	    }
	    echo '<th>';
	    echo '<input type="submit" value="'._OK.'" class="felvesz" />';
	    echo '<input type="submit" name="torol_'._escape($tipus).'_'.$targyId.'" value="X" class="torol" />';

	    echo '</th>';
	    echo '</tr>'."\n";
	    // -- idáig TOMEG
	    flush();
	    }
	    // EGY UJ:
	    echo '<tr class="ures">';
	    echo '<th>';
		    _put_targy_select($ADAT['targyak'],$ADAT['kepzesOraterv.tipus'],'UJ_targyTipusId','targyId','targyNev',null);
		    //_put_targy_select($ADAT['targyak'],$ADAT['kepzesOraterv.tipus'],'UJ_targyId','targyId','targyNev',$targyId);
	    echo '</th>';
	    for ($evf=$kezdoEvfolyam; $evf<=$zaroEvfolyam; $evf++) {
		echo '<td>';
		    //$i;
		    echo '<input type="text" size="2" maxlength="3" name="UJ_O_'.$evf.'_1" />';
		    _put_simple_select($ADAT['kepzesOraterv.kovetelmeny'],'UJ_K_'.$evf.'_1',null);
		    echo '<br/>';
		//echo '</td>';
		//echo '<td>';
		    echo '<input type="text" size="2" maxlength="3" name="UJ_O_'.$evf.'_2" />';
		    _put_simple_select($ADAT['kepzesOraterv.kovetelmeny'],'UJ_K_'.$evf.'_2',null);
		echo '</td>';
	    }
	    echo '<th>';
	    echo '<input type="submit" />';
	    echo '</th>';
	    echo '</tr>';
	    // -- idáig EGY UJ
	echo '</tbody>';
	echo '</table>'."\n";
	formEnd();

    }

    function _put_simple_select($VALUES,$name,$selected) {

	echo '<select name="'.$name.'">';
	    echo '<option value=""></option>';
	    for($i=0; $i<count($VALUES); $i++) {
		$_SEL = ($selected==$VALUES[$i]) ? 'selected="selected"':'';
		echo '<option value="'.$VALUES[$i].'" '.$_SEL.'>';
		    echo $VALUES[$i];
		echo '</option>'."\n";
	    }
	echo '</select>'."\n";
    }

    function _put_targy_select($VALUES1,$VALUES2,$name,$keyname,$valuename,$selected) { // immáron speciális, feleslegessé vált a key, value

//	global $FOGLALT;
//	if (in_array( $key, $FOGLALT )) echo $key;

	echo '<select name="'.$name.'">';
	    echo '<option value="0">'._VALASSZ.'</option>';
	    echo '<optgroup label="'._TARGYAK.'">';
	    for($i=0; $i<count($VALUES1); $i++) {
		$key= $VALUES1[$i][$keyname];		
		$value= $VALUES1[$i][$valuename];
		$_SEL = ($selected==$key) ? 'selected="selected" ':'';
		echo '<option value="'._escape('mintatantervi').'_'.$key.'" '.$_SEL.'>';
		    echo $value;
		    if ($VALUES1[$i]['targyJelleg']!='') echo ' ('.$VALUES1[$i]['targyJelleg'].')';
		echo '</option>';
	    }
	    echo '</optgroup>';
	    echo '<optgroup label="'._EGYEB.'">';
	    for($i=0; $i<count($VALUES2); $i++) {
		$key=$value=$VALUES2[$i];		
		$_SEL = ($selected==$key) ? 'selected="selected" ':'';
		echo '<option value="'._escape($key).'_" '.$_SEL.'>';
		    echo $value;
		echo '</option>';
	    }
	    echo '</optgroup>';



	echo '</select>'	;
    }

    function _putTankorTipusSelect() {
                                                                                                                         
    	echo '<select name="tankorTipusId">';                                                                                
        foreach ($ADAT['tankorTipusok'] as $_k=>$_v) {                                                                       
                    $_SEL = ($_k==$TOPOST['tankoradat']['tankorTipusId']) ? ' selected="selected"':'';                               
                    echo '<option value="'.$_k.'"'.$_SEL.'>';                                                                        
                    echo $_k.": ";                                                                                                   
                    echo $_v['rovidNev'].": ";                                                                                       
                    echo $_v['leiras'];                                                                                              
                    echo '</option>';                                                                                                
        }                                                                                                                    
        echo '</select>';          

    }

?>
