<?php

    function putTankorTanarMatrix($ADAT) {

	$COLORS = array(1=>'#198198',2=>'#298298',3=>'green',4=>'red',5=>'#aabbcc',6=>'#bbccaa',7=>'#ccaabb',8=>'#aaccbb',9=>'#aaccee','9Ny'=>'#ffccee',10=>'#ffaacc',11=>'#eeffbb',12=>'#ccddff');
	$TANKOROK = $ADAT['tankorok'];
	$TANAROK = $ADAT['tanarok'];
	for ($i=0; $i<count($TANKOROK); $i++) {
	    $_T = $TANKOROK[$i];
	    $TARGYTANKOR[$_T['targyId']][] = $_T;
	}

	// -- var_dump($T);
	// -- var_dump($ADAT['targyak'][62]);
	formBegin(array('id'=>'tantargyFelosztasForm'));
	echo '<div style="100%;overflow-x:auto;overflow-y:auto" class="tanarTankor">';
	echo '<table align="center" cellpadding="1"  cellspacing="1">';
	echo '<thead>';
	echo '<tr>';
	    echo '<th></th>';
	    foreach ($TARGYTANKOR as $_targyId => $_TA) {
	    echo '<th colspan="'.count($_TA).'">';
		echo $ADAT['targyak'][$_targyId][0]['targyNev'];
	    echo '</th>';
	    }
	echo '</tr>';
	echo '<tr>';
	    echo '<th></th>';
//	    for ($i=0; $i<count($TANKORSOR); $i++) { $_tankorAdat = $TANKORSOR[$i];
	    foreach ($TARGYTANKOR as $_targyId => $TANKORSOR) {
	    for ($i=0; $i<count($TANKORSOR); $i++) { $_tankorAdat = $TANKORSOR[$i];
	    $color = $COLORS[substr($_tankorAdat['tankorNev'],0,strpos($_tankorAdat['tankorNev'],'.') )];
	    echo '<td id="col_'.$_tankorAdat['tankorId'].'" style="text-align:center; background-color:'.$color.'">';
		echo str_replace($ADAT['targyak'][$_tankorAdat['targyId']][0]['targyNev'].' ','',$_tankorAdat['tankorNev']);
	    echo '</td>';
	    }}
	echo '</tr>';
	echo '</thead>'."\n";

	for ($i=0; $i<count($TANAROK); $i++) { $_tanarAdat = $TANAROK[$i];
	    echo '<tr>';
		echo '<th id="row_'.$_tanarAdat['tanarId'].'">';
		    echo $_tanarAdat['tanarNev'];
		    echo '('.$_tanarAdat['tanarId'].')'; // DEBUG TODO
		echo '</th>';
//		for ($j=0; $j<count($TANKOROK); $j++) { $_tankorAdat = $TANKOROK[$j];
		foreach ($TARGYTANKOR as $_targyId => $TANKORSOR) {
		for ($j=0; $j<count($TANKORSOR); $j++) { $_tankorAdat = $TANKORSOR[$j];
		    $_CHK = _inarray($_tanarAdat['tanarId'],$_tankorAdat['tanarok']) ? 'checked="checked" ':'';
		    echo '<td id="cell_'.$_tanarAdat['tanarId'].'_'.$_tankorAdat['tankorId'].'">';
		    //echo '<input type="radio" name="'.$_tankorAdat['tankorId'].'" '.$_CHK.'/>';
		    echo '<input type="checkbox" name="tanarTankor[]" value="'.$_tanarAdat['tanarId'].'_'.$_tankorAdat['tankorId'].'" '.$_CHK.'/>';
		    echo '</td>';
		}}
	    echo '</tr>'."\n";
	}
	echo '</table>'."\n";
	echo '</div>'."\n";
	formEnd();
    }

    function _inarray($tanarId,$tankorTanar) {
	for ($i=0;$i<count($tankorTanar);$i++) {
	    if ($tankorTanar[$i]['tanarId']== $tanarId) return true;
	}
	return false;
    }

?>
