<?php

function putIntezmenyValaszto($Intezmenyek) {

	formBegin();

	echo '<input type="hidden" name="action" value="intezmenyValasztas" />'."\n";

	echo '<select name="intezmeny">'."\n";
	$SEL = array(__INTEZMENY => ' selected="selected"');

	for ($i = 0; $i < count($Intezmenyek); $i++) {

		$rovidnev = $Intezmenyek[$i]['rovidNev'];
		if ($Intezmenyek[$i]['alapertelmezett'] == 1)
		echo '<option value="'.$rovidnev.'" class="default"'.$SEL[$rovidnev].'>';
		else
		echo '<option value="'.$rovidnev.'"'.$SEL[$rovidnev].'>';

		echo $Intezmenyek[$i]['nev'].' ('.$Intezmenyek[$i]['OMKod'].')';
		echo '</option>'."\n";

	}

	echo '</select>'."\n";

	echo '<input type="submit" value="'._OK.'" />'."\n";

	formEnd();

}

function putTanevValaszto($Tanevek) {

	formBegin();

	echo '<input type="hidden" name="action" value="tanevValasztas" />'."\n";

	echo '<select name="tanev">'."\n";
	$SEL = array(__TANEV => ' selected="selected"');
	for ($i = 0; $i < count($Tanevek); $i++) {
		echo '<option value="'.$Tanevek[$i].'"'.$SEL[$Tanevek[$i]].'>';
		echo $Tanevek[$i];
		echo '</option>'."\n";
	}
	echo '</select>'."\n";

	echo '<input type="submit" value="'._OK.'" />'."\n";

	formEnd();
}

?>
