<?php
/*
    Module: naplo
*/

    function putJegySelect($ADAT) {
	/* 
	    _jegySelectTipus = zaroJegy || ...
	    _jegySelectTipus = jegy (nincs tesztelve)		
	*/
	global $KOVETELMENY;
	extract($ADAT,EXTR_PREFIX_ALL,''); 
	if ($_tabindex != '') $tabindex_str = 'tabindex="'.$_tabindex.'" '; else $tabindex_str = '';
	// mire vonatkozik a select
	if ($_jegySelectTipus == 'zaroJegy')  {
	    $idTipus = 'zaroJegyId'; // intezmeny
	    $megjelenes = 'hivatalos';
	}else{
	    $idTipus = 'jegyId'; // tanev
	    $megjelenes = 'rovid';
	}
	// prepare variables
	$PRE = array($idTipus,'diakId','targyId','evfolyam','evfolyamJel','tanev','szemeszter');
	for ($i=0; $i<count($PRE); $i++) {
	    $_x = '_'.$PRE[$i];
	    $VARS[] = $PRE[$i].'='.$$_x;
	}
	// HTML
	$_title = ($ADAT['evfolyamJel']!='') ? $ADAT['evfolyamJel'].'. évfolyamon' : '';
	$_title .= ($ADAT['hivatalosDt']!='') ? ' hivatalosan:'.$ADAT['hivatalosDt'] : '';
	$_title .= ($ADAT['modositasDt']!='') ? ' módosítva:'.$ADAT['modositasDt'] : '';
	$_title .= ($ADAT['info']!='') ? ' '.$ADAT['info'] : '';
	//$readonly = ' readonly="readonly" disabled="disabled" ';
	$readonly='';
	if ($_jegyTipus != '' && count($_zaroJegyTipusok)==0) {
    	    echo "\n".'<select name="'.$_variable.'[]" '.$tabindex_str.' title="'.$_title.'" '.$readonly.'>';
	    echo '<option value="'.implode('/',$VARS).'/delete=true">-</option>'."\n";
	    for ($o = 0; $o < count($KOVETELMENY[$_jegyTipus]['értékek']); $o++) {
		$_osztalyzat = $KOVETELMENY[$_jegyTipus]['értékek'][$o];
		$_SEL = ($_megjegyzes=='' && $_osztalyzat == $_jegy) ? 'selected="selected"':'';
		$_megj = null;
		echo '<option value="'.implode('/',$VARS)."/jegy=$_osztalyzat/jegyTipus=$_jegyTipus/megjegyzes=$_megj".'" '.$_SEL.'>';
		    echo $KOVETELMENY[$_jegyTipus][$_osztalyzat][$megjelenes];
		echo '</option>'."\n";
		// + megjegyzés szerinti jegyek
		if ($KOVETELMENY[$_jegyTipus][$_osztalyzat]['megjegyzes']!='') {
		    $_megj = $KOVETELMENY[$_jegyTipus][$_osztalyzat]['megjegyzes'];
		    $_SEL = (($_megjegyzes==$_megj) && ($_osztalyzat == $_jegy)) ? 'selected="selected"':'';
		    echo '<option value="'.implode('/',$VARS)."/jegy=$_osztalyzat/jegyTipus=$_jegyTipus/megjegyzes=$_megj".'" '.$_SEL.'>';
		    echo $KOVETELMENY[$_jegyTipus][$_osztalyzat][$megjelenes];
		    echo ' '.$_megj;
		    echo '</option>'."\n";
		}
	    }
	    echo '</select>'."\n";
	} elseif (count($_zaroJegyTipusok)>=1) { // ha engedélyezett (van megadott érvényes jegyTipus)
        	echo '<select name="'.$_variable.'[]" class="jegyAdat" title="'.$_title.' '.$readonly.' ">'."\n";
		echo '<option value="'.implode('/',$VARS).'/delete=true">-</option>'."\n";
                foreach ($_zaroJegyTipusok as $_junk => $__jegyTipus) {
            	    echo '<optgroup label="'.$__jegyTipus.'">';
		    if (is_array($KOVETELMENY[$__jegyTipus]['értékek']))
                    foreach ($KOVETELMENY[$__jegyTipus]['értékek'] as $idx => $_osztalyzat) {
			$_SEL = (($_megjegyzes=='') && ($_osztalyzat == $_jegy) && ($_jegyTipus == $__jegyTipus)) ? 'selected="selected"':'';
                	echo '<option '.$_SEL.' value="zaroJegyId='.$_zaroJegyId.'/diakId='.$_diakId.'/targyId='.$_targyId.'/evfolyam='.$_evfolyam.'/evfolyamJel='.$_evfolyamJel.'/tanev='.$_tanev.'/szemeszter='.$_szemeszter.'/jegy='.$_osztalyzat.'/jegyTipus='.$__jegyTipus.'/megjegyzes=">'.$KOVETELMENY[$__jegyTipus][$_osztalyzat]['hivatalos'].'</option>'."\n";
			// + megjegyzés szerinti jegyek
			if ($KOVETELMENY[$__jegyTipus][$_osztalyzat]['megjegyzes']!='') {
			    $_megj = $KOVETELMENY[$__jegyTipus][$_osztalyzat]['megjegyzes'];
			    $_SEL = (($_megjegyzes==$_megj) && ($_osztalyzat == $_jegy) && ($_jegyTipus == $__jegyTipus)) ? 'selected="selected"':'';
			    echo '<option '.$_SEL.' value="zaroJegyId='.$_zaroJegyId.'/diakId='.$_diakId.'/targyId='.$_targyId.'/evfolyam='.$_evfolyam.'/evfolyamJel='.$_evfolyamJel.'/tanev='.$_tanev.'/szemeszter='.$_szemeszter.'/jegy='.$_osztalyzat.'/jegyTipus='.$__jegyTipus.'/megjegyzes='.$_megj.'">';
			    echo $KOVETELMENY[$__jegyTipus][$_osztalyzat]['hivatalos'];
			    echo ' '.$_megj;
			    echo '</option>'."\n";
			}

                    }
            	    echo '</optgroup>';
        	}
		//hack, nem szép: echo '<optgroup label="info"><option disabled="disabled">'.$_title.'</option></optgroup>';
                echo '</select>'."\n";
		if ($ADAT['jegyTipus']=='szöveges szempontrendszer') {
		    echo '<a href="'.
			href(
			    'index.php?page=naplo&sub=osztalyozo&f=szovegesErtekeles&diakId='.$_diakId
			    .'&tanev='.$_tanev.'&szemeszter='.$_szemeszter.'&evfolyam='.$_evfolyam.'&evfolyamJel='.$_evfolyamJel.'&tankorId='.$_tankorId
			)
			.'" class="onClickUpdateWindow szoveges" title="'._SZOVEGES_MINOSITES.'">☰</a>';
		}
	} else { // ha nincs megadva jegyTipus, sajnos nem írható be jegy
		echo 'A tárgyhoz nincs rögzítve a jegyTipus!';
	}
    }

?>
