{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Osztalyjelleg list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Osztalyjellegnev</th>
                <th>Erettsegizo</th>
                <th>Kovosztalyjellegid</th>
                <th>Kezdoevfolyam</th>
                <th>Vegzoevfolyam</th>
                <th>Elokeszitoevfolyam</th>
                <th>Osztalyjellegeles</th>
                <th>Evfolyamjelek</th>
                <th>Osztalyjellegid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('program_osztalyjelleg_show', { 'id': entity.osztalyjellegid }) }}">{{ entity.osztalyjellegnev }}</a></td>
                <td>{{ entity.erettsegizo }}</td>
                <td>{{ entity.kovosztalyjellegid }}</td>
                <td>{{ entity.kezdoevfolyam }}</td>
                <td>{{ entity.vegzoevfolyam }}</td>
                <td>{{ entity.elokeszitoevfolyam }}</td>
                <td>{{ entity.osztalyjellegeles }}</td>
                <td>{{ entity.evfolyamjelek }}</td>
                <td>{{ entity.osztalyjellegid }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('program_osztalyjelleg_show', { 'id': entity.osztalyjellegid }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('program_osztalyjelleg_edit', { 'id': entity.osztalyjellegid }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('program_osztalyjelleg_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
