{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Osztalyjelleg</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Osztalyjellegnev</th>
                <td>{{ entity.osztalyjellegnev }}</td>
            </tr>
            <tr>
                <th>Erettsegizo</th>
                <td>{{ entity.erettsegizo }}</td>
            </tr>
            <tr>
                <th>Kovosztalyjellegid</th>
                <td>{{ entity.kovosztalyjellegid }}</td>
            </tr>
            <tr>
                <th>Kezdoevfolyam</th>
                <td>{{ entity.kezdoevfolyam }}</td>
            </tr>
            <tr>
                <th>Vegzoevfolyam</th>
                <td>{{ entity.vegzoevfolyam }}</td>
            </tr>
            <tr>
                <th>Elokeszitoevfolyam</th>
                <td>{{ entity.elokeszitoevfolyam }}</td>
            </tr>
            <tr>
                <th>Osztalyjellegeles</th>
                <td>{{ entity.osztalyjellegeles }}</td>
            </tr>
            <tr>
                <th>Evfolyamjelek</th>
                <td>{{ entity.evfolyamjelek }}</td>
            </tr>
            <tr>
                <th>Osztalyjellegid</th>
                <td>{{ entity.osztalyjellegid }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('program_osztalyjelleg') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('program_osztalyjelleg_edit', { 'id': entity.osztalyjellegid }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
