<?php

    function putElszamolas($ADAT) {

	if (!is_array($ADAT['napok']) || count($ADAT['napok'])==0) return false;

	$napszam = ($ADAT['napok'][1]['tanítási nap']+$ADAT['napok'][1]['speciális tanítási nap']);

	$napTipus = array('tanítási nap','speciális tanítási nap','tanítás nélküli munkanap','tanítási szünet');

	echo '<table class="elszamolas" cellpadding="1" cellspacing="1">'."\n";
	echo '<thead>';
	echo '<tr><th>'._MUNKATERV.'</th>';
	foreach ($ADAT['napTipusok'] as $tipus) {
	    echo '<th>'.$tipus.'</th>';
	}
	echo '</tr>'."\n";
	echo '</thead><tfoot></tfoot>';
	echo '<tbody>';
	foreach ($ADAT['napok'] as $munkatervId => $mAdat) {
	    echo '<tr><th>'.$ADAT['munkaterv'][$munkatervId]['munkatervNev'].' ('.$munkatervId.')</th>';
	    foreach ($ADAT['napTipusok'] as $tipus) {
		echo '<td>'.$mAdat[$tipus].'</td>';
	    }
	    echo '</tr>';
	}
	echo '</tbody>';
	echo '</table>'."\n";

	echo '<table class="elszamolas" cellpadding="1" cellspacing="1" >'."\n";

	$Munkaido = array('lekötött','fennmaradó');
	$Tipus = array('normál','normál máskor','helyettesítés','felügyelet','egyéb','összevonás');
	echo '<thead><tr>';

	    echo '<th rowspan="3">'._TANAR.'</th>';
	    echo '<th rowspan="1" colspan="'.(count($Tipus)+1).'">'._KOTOTT_MUNKAIDO.'</th>';
	    echo '<th rowspan="3">'._HETI_ORASZAM.'</th>';
	    echo '<th rowspan="2" colspan="4">'._ELOIRT_HETI_MUNKAORA.' '.$napszam.' '._NAPRA_VETITVE.'</th>';

	echo '</tr>'."\n";
	echo '<tr>';
	    echo '<th colspan="2">lekötött</th>';
	    echo '<th colspan="1">lekötött+fennmaradó</th>';
	    echo '<th colspan="2">fennmaradó</th>';
	    echo '<th colspan="1">nem számolt</th>';
	    echo '<th rowspan="2">Σ</th>';

	echo '</tr>';
	echo '<tr>';
	    for ($i = 0; $i < count($Tipus); $i++) {
		echo '<th>'.$Tipus[$i].'</th>';
	    }
	    echo '<th>55%</th>';
	    echo '<th>65%</th>';
	    echo '<th>80%</th>';
	    echo '<th>100%</th>';

	echo '</tr></thead>'."\n";

	echo '<tbody>';
	for ($t = 0; $t < count($ADAT['tanarok']); $t++) {
	    $tanarId = $ADAT['tanarok'][$t]['tanarId'];
	    if (!__VEZETOSEG && !__NAPLOADMIN && $tanarId!=__USERTANARID) continue;
	    $tanarNev = $ADAT['tanarok'][$t]['tanarNev'];
	    $tanarHetiMunkaora = $ADAT['tanarok'][$t]['hetiMunkaora'];
	    $_THM = ($tanarHetiMunkaora / 5) * $napszam ; // Tanári Heti Munkaóra a vizsgált időszakra vetítve (tanítási napok

	    $sum = 0;
	    echo '<tr>';
		echo '<th><a href="'.href('index.php?page=naplo&sub=haladasi&f=haladasi&tanarId='.$tanarId).'">'.$tanarNev.'</a></th>';
		for ($i = 0; $i < count($Tipus); $i++) {
		    echo '<td class="'.ekezettelen($Tipus[$i]).'">';
		    echo '<span title="';
			echo intval($ADAT['detailed'][$tanarId][$Tipus[$i]]['lekötött']).'+';
			echo intval($ADAT['detailed'][$tanarId][$Tipus[$i]]['fennmaradó']).'=';
		    echo '">';
			echo $ADAT[$tanarId][$Tipus[$i]];
		    echo '</span>';//ezt mégsem így kéne
		    echo '</td>';
		    // 2013-kivételek...
		    if ($Tipus[$i]!='összevonás') 
			$sum += intval($ADAT[$tanarId][$Tipus[$i]]);
		}
		echo '<th>'.$sum.'</th>';
		echo '<td>'.$ADAT[$tanarId]['oraszam'].'</td>';

/* FIGYELEM! 
    A vezető pedagógus neveléssel-oktatással lekötött munkaideje gyakorló óvodában a teljes munkaideje hatvan százaléka, más gyakorló nevelési-oktatási intézményben a teljes munkaideje harminc százaléka lehet.
    A gyakornoknak a neveléssel-oktatással lekötött munkaideje tanítók, általános és középiskolai tanárok esetében a teljes munkaideje ötven százaléka
    gyakornok, ped i, ped ii, mesterpedagógus, kutatótanár
*/


		if ($_THM>0) $eff = @ceil(100*$sum/$_THM);
		else $eff = 100;

		if ($eff<=55) $_style = ' class="e1" ';
		elseif ($eff<=65) $_style = ' class="e2" ';
		elseif ($eff<=80) $_style = ' class="e3" ';
		else $_style = ' class="e4" ';

		echo '<td '.$_style.'>'.$_THM*0.55.'</td>';
		echo '<td '.$_style.'>'.$_THM*0.65.'</td>';
		echo '<td '.$_style.'>'.$_THM*0.80.'</td>';
		echo '<td '.$_style.' title="'.$ADAT['tanarok'][$t]['hetiMunkaora'].'" >'.$_THM.'</th>';

	    echo '</tr>'."\n";

	}

	echo '</tbody></table>'."\n";

    }

?>
