<?php

    function putOraFelvetelForm($tankorId, $tanarId, $dt, $ora, $teremId, $ADAT) {
	formBegin(array('class'=>'pluszora'));
	    echo '<input type="hidden" name="action" value="oraFelvetele" />';
	    echo '<input type="hidden" name="tankorId" value="'.$tankorId.'" />';
	    echo '<input type="hidden" name="tanarId" value="'.$tanarId.'" />';
	    echo '<input type="hidden" name="dt" value="'.$dt.'" />';
	    echo '<input type="hidden" name="ora" value="'.$ora.'" />';
	    echo '<input type="hidden" name="teremId" value="'.$teremId.'" />';
	    
	    echo '<label for="eredet">'._EREDET.'</label>';
	    echo '<select name="eredet" id="eredet">';
		echo '<option value="plusz">'._PLUSZ.'</option>';
		echo '<option value="órarend">'._ORAREND.'</option>';
	    echo '</select>';
	    if ($ADAT['tipus'] != 'normál') echo '<strong> '.$ADAT['tipus'].' </strong>';

	    echo '<input type="submit" value="'._ORA_FELVETELE.'" />';
	formEnd();
    }

    function putOrak($Orak, $title, $ADAT) {

	echo '<h2>'.$title.' '._ORAI.'</h2>';
	echo '<ul class="pluszora">';

	    for ($i = $ADAT['napiMinOra']; $i <= $ADAT['napiMaxOra']; $i++) {
		echo '<li>';
		    echo '<span class="oraszam">' . $i . '. ' . _ORA . '</span> ';
		    if (is_array($Orak[$i])) {
			if (is_array($Orak[$i][0])) {
			    for ($j = 0; $j < count($Orak[$i]); $j++) {
				echo '<span>' . $Orak[$i][$j]['tankorNev'] . '</span> ';
			    }
			} else {
			    echo '<span>' . $Orak[$i]['tankorNev'] . '</span>';
			}
		    }
		echo '</li>';
	    }

	echo '</ul>';
    }

?>
