
    table.elszamolas { background-color: rgb(220,220,220); margin: 10px auto; }

    table.elszamolas thead tr th { background-color: #F23668; color: white; text-align: center; padding:2px;}

    table.elszamolas tbody tr th { background-color: #f9f9f9; text-align: left; padding-left:1em; padding-right:0.5em;}
    table.elszamolas tbody tr th a { color: black; display:block; }
    table.elszamolas tbody tr td { background-color: rgb(180,200,200); text-align: right ; padding-right:1em;}

    table.elszamolas tbody tr:hover th { background-color: #eeeeee; }
    table.elszamolas tbody tr:hover td { background-color: rgb(200,220,220); }

    table.elszamolas tbody tr td.e1 { background-color: #493E89; color: white; }
    table.elszamolas tbody tr td.e2 { background-color: green; color: white; }
    table.elszamolas tbody tr td.e3 { background-color: orange; color: white; }
    table.elszamolas tbody tr td.e4 { background-color: red; color: white; }

    table.elszamolas tbody tr td.osszevonas { background-color: rgba(0,0,0,0.1); color: #333333; }