
    form.minuszora { margin: 20px auto; width: 500px; text-align: center; }
    form.minuszora ul { text-align: left; list-style-type: none; padding: 1px;  background-color: rgb(20,40,60);}
    form.minuszora ul li { margin: 1px; padding: 2px; background-color: rgb(20,80,40); color: white; font-weight: bold; }
    form.minuszora ul ul { list-style-type: none; background-color: rgb(200,200,200); }
    form.minuszora ul ul li { padding: 4px 4px; margin: 1px 20px; background-color: rgb(255,240,220); color: black; font-weight: normal; }
    form.minuszora input { color: rgb(200,0,0); font-weight: bold; }