{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Diak list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Neveloid</th>
                <th>Oid</th>
                <th>Diakigazolvanyszam</th>
                <th>Tajszam</th>
                <th>Adoazonosito</th>
                <th>Szemelyiigazolvanyszam</th>
                <th>Tartozkodasiokiratszam</th>
                <th>Viseltnevelotag</th>
                <th>Viseltcsaladinev</th>
                <th>Viseltutonev</th>
                <th>Szuleteskorinevelotag</th>
                <th>Szuleteskoricsaladinev</th>
                <th>Szuleteskoriutonev</th>
                <th>Szuletesihely</th>
                <th>Szuletesiido</th>
                <th>Nem</th>
                <th>Allampolgarsag</th>
                <th>Lakhelyorszag</th>
                <th>Lakhelyhelyseg</th>
                <th>Lakhelyirsz</th>
                <th>Lakhelykozteruletnev</th>
                <th>Lakhelykozteruletjelleg</th>
                <th>Lakhelyhazszam</th>
                <th>Lakhelyemelet</th>
                <th>Lakhelyajto</th>
                <th>Tartorszag</th>
                <th>Tarthelyseg</th>
                <th>Tartirsz</th>
                <th>Tartkozteruletnev</th>
                <th>Tarthazszam</th>
                <th>Tartemelet</th>
                <th>Tartajto</th>
                <th>Jogviszonykezdete</th>
                <th>Jogviszonyvege</th>
                <th>Telefon</th>
                <th>Mobil</th>
                <th>Email</th>
                <th>Statusz</th>
                <th>Penzugyistatusz</th>
                <th>Tartkozteruletjelleg</th>
                <th>Szocialishelyzet</th>
                <th>Fogyatekossag</th>
                <th>Gondozasiszam</th>
                <th>Elozoiskolaomkod</th>
                <th>Lakohelyijellemzo</th>
                <th>Torvenyeskepviselo</th>
                <th>Megjegyzes</th>
                <th>Nekazonosito</th>
                <th>Torzslapszam</th>
                <th>Diakid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('intezmeny_diak_show', { 'id': entity.diakid }) }}">{{ entity.neveloid }}</a></td>
                <td>{{ entity.oid }}</td>
                <td>{{ entity.diakigazolvanyszam }}</td>
                <td>{{ entity.tajszam }}</td>
                <td>{{ entity.adoazonosito }}</td>
                <td>{{ entity.szemelyiigazolvanyszam }}</td>
                <td>{{ entity.tartozkodasiokiratszam }}</td>
                <td>{{ entity.viseltnevelotag }}</td>
                <td>{{ entity.viseltcsaladinev }}</td>
                <td>{{ entity.viseltutonev }}</td>
                <td>{{ entity.szuleteskorinevelotag }}</td>
                <td>{{ entity.szuleteskoricsaladinev }}</td>
                <td>{{ entity.szuleteskoriutonev }}</td>
                <td>{{ entity.szuletesihely }}</td>
                <td>{% if entity.szuletesiido %}{{ entity.szuletesiido|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.nem }}</td>
                <td>{{ entity.allampolgarsag }}</td>
                <td>{{ entity.lakhelyorszag }}</td>
                <td>{{ entity.lakhelyhelyseg }}</td>
                <td>{{ entity.lakhelyirsz }}</td>
                <td>{{ entity.lakhelykozteruletnev }}</td>
                <td>{{ entity.lakhelykozteruletjelleg }}</td>
                <td>{{ entity.lakhelyhazszam }}</td>
                <td>{{ entity.lakhelyemelet }}</td>
                <td>{{ entity.lakhelyajto }}</td>
                <td>{{ entity.tartorszag }}</td>
                <td>{{ entity.tarthelyseg }}</td>
                <td>{{ entity.tartirsz }}</td>
                <td>{{ entity.tartkozteruletnev }}</td>
                <td>{{ entity.tarthazszam }}</td>
                <td>{{ entity.tartemelet }}</td>
                <td>{{ entity.tartajto }}</td>
                <td>{% if entity.jogviszonykezdete %}{{ entity.jogviszonykezdete|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.jogviszonyvege %}{{ entity.jogviszonyvege|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.telefon }}</td>
                <td>{{ entity.mobil }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.statusz }}</td>
                <td>{{ entity.penzugyistatusz }}</td>
                <td>{{ entity.tartkozteruletjelleg }}</td>
                <td>{{ entity.szocialishelyzet }}</td>
                <td>{{ entity.fogyatekossag }}</td>
                <td>{{ entity.gondozasiszam }}</td>
                <td>{{ entity.elozoiskolaomkod }}</td>
                <td>{{ entity.lakohelyijellemzo }}</td>
                <td>{{ entity.torvenyeskepviselo }}</td>
                <td>{{ entity.megjegyzes }}</td>
                <td>{{ entity.nekazonosito }}</td>
                <td>{{ entity.torzslapszam }}</td>
                <td>{{ entity.diakid }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('intezmeny_diak_show', { 'id': entity.diakid }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('intezmeny_diak_edit', { 'id': entity.diakid }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('intezmeny_diak_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
