{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Diak</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Neveloid</th>
                <td>{{ entity.neveloid }}</td>
            </tr>
            <tr>
                <th>Oid</th>
                <td>{{ entity.oid }}</td>
            </tr>
            <tr>
                <th>Diakigazolvanyszam</th>
                <td>{{ entity.diakigazolvanyszam }}</td>
            </tr>
            <tr>
                <th>Tajszam</th>
                <td>{{ entity.tajszam }}</td>
            </tr>
            <tr>
                <th>Adoazonosito</th>
                <td>{{ entity.adoazonosito }}</td>
            </tr>
            <tr>
                <th>Szemelyiigazolvanyszam</th>
                <td>{{ entity.szemelyiigazolvanyszam }}</td>
            </tr>
            <tr>
                <th>Tartozkodasiokiratszam</th>
                <td>{{ entity.tartozkodasiokiratszam }}</td>
            </tr>
            <tr>
                <th>Viseltnevelotag</th>
                <td>{{ entity.viseltnevelotag }}</td>
            </tr>
            <tr>
                <th>Viseltcsaladinev</th>
                <td>{{ entity.viseltcsaladinev }}</td>
            </tr>
            <tr>
                <th>Viseltutonev</th>
                <td>{{ entity.viseltutonev }}</td>
            </tr>
            <tr>
                <th>Szuleteskorinevelotag</th>
                <td>{{ entity.szuleteskorinevelotag }}</td>
            </tr>
            <tr>
                <th>Szuleteskoricsaladinev</th>
                <td>{{ entity.szuleteskoricsaladinev }}</td>
            </tr>
            <tr>
                <th>Szuleteskoriutonev</th>
                <td>{{ entity.szuleteskoriutonev }}</td>
            </tr>
            <tr>
                <th>Szuletesihely</th>
                <td>{{ entity.szuletesihely }}</td>
            </tr>
            <tr>
                <th>Szuletesiido</th>
                <td>{{ entity.szuletesiido|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nem</th>
                <td>{{ entity.nem }}</td>
            </tr>
            <tr>
                <th>Allampolgarsag</th>
                <td>{{ entity.allampolgarsag }}</td>
            </tr>
            <tr>
                <th>Lakhelyorszag</th>
                <td>{{ entity.lakhelyorszag }}</td>
            </tr>
            <tr>
                <th>Lakhelyhelyseg</th>
                <td>{{ entity.lakhelyhelyseg }}</td>
            </tr>
            <tr>
                <th>Lakhelyirsz</th>
                <td>{{ entity.lakhelyirsz }}</td>
            </tr>
            <tr>
                <th>Lakhelykozteruletnev</th>
                <td>{{ entity.lakhelykozteruletnev }}</td>
            </tr>
            <tr>
                <th>Lakhelykozteruletjelleg</th>
                <td>{{ entity.lakhelykozteruletjelleg }}</td>
            </tr>
            <tr>
                <th>Lakhelyhazszam</th>
                <td>{{ entity.lakhelyhazszam }}</td>
            </tr>
            <tr>
                <th>Lakhelyemelet</th>
                <td>{{ entity.lakhelyemelet }}</td>
            </tr>
            <tr>
                <th>Lakhelyajto</th>
                <td>{{ entity.lakhelyajto }}</td>
            </tr>
            <tr>
                <th>Tartorszag</th>
                <td>{{ entity.tartorszag }}</td>
            </tr>
            <tr>
                <th>Tarthelyseg</th>
                <td>{{ entity.tarthelyseg }}</td>
            </tr>
            <tr>
                <th>Tartirsz</th>
                <td>{{ entity.tartirsz }}</td>
            </tr>
            <tr>
                <th>Tartkozteruletnev</th>
                <td>{{ entity.tartkozteruletnev }}</td>
            </tr>
            <tr>
                <th>Tarthazszam</th>
                <td>{{ entity.tarthazszam }}</td>
            </tr>
            <tr>
                <th>Tartemelet</th>
                <td>{{ entity.tartemelet }}</td>
            </tr>
            <tr>
                <th>Tartajto</th>
                <td>{{ entity.tartajto }}</td>
            </tr>
            <tr>
                <th>Jogviszonykezdete</th>
                <td>{{ entity.jogviszonykezdete|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Jogviszonyvege</th>
                <td>{{ entity.jogviszonyvege|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ entity.telefon }}</td>
            </tr>
            <tr>
                <th>Mobil</th>
                <td>{{ entity.mobil }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Statusz</th>
                <td>{{ entity.statusz }}</td>
            </tr>
            <tr>
                <th>Penzugyistatusz</th>
                <td>{{ entity.penzugyistatusz }}</td>
            </tr>
            <tr>
                <th>Tartkozteruletjelleg</th>
                <td>{{ entity.tartkozteruletjelleg }}</td>
            </tr>
            <tr>
                <th>Szocialishelyzet</th>
                <td>{{ entity.szocialishelyzet }}</td>
            </tr>
            <tr>
                <th>Fogyatekossag</th>
                <td>{{ entity.fogyatekossag }}</td>
            </tr>
            <tr>
                <th>Gondozasiszam</th>
                <td>{{ entity.gondozasiszam }}</td>
            </tr>
            <tr>
                <th>Elozoiskolaomkod</th>
                <td>{{ entity.elozoiskolaomkod }}</td>
            </tr>
            <tr>
                <th>Lakohelyijellemzo</th>
                <td>{{ entity.lakohelyijellemzo }}</td>
            </tr>
            <tr>
                <th>Torvenyeskepviselo</th>
                <td>{{ entity.torvenyeskepviselo }}</td>
            </tr>
            <tr>
                <th>Megjegyzes</th>
                <td>{{ entity.megjegyzes }}</td>
            </tr>
            <tr>
                <th>Nekazonosito</th>
                <td>{{ entity.nekazonosito }}</td>
            </tr>
            <tr>
                <th>Torzslapszam</th>
                <td>{{ entity.torzslapszam }}</td>
            </tr>
            <tr>
                <th>Diakid</th>
                <td>{{ entity.diakid }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('intezmeny_diak') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('intezmeny_diak_edit', { 'id': entity.diakid }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
