
    #toolBarIntezmeny {
	color: #1E90FF;
	border: solid #eeeeee;
	border-width: 0px 0px 0px 0px;
	font-size: 10px;
    }
    #toolBarHelpButton { margin-left:5px;font-size:8px; border-radius: 50%; border: solid 1px #dddddd; padding:0px 3px; color: #aaaaaa; font-weight:normal;}
    #toolBarHelpButton:hover { background-color:#1e90ff; color: white; border-color: navy;}
    #diakSelectIcon {
	vertical-align: middle;
	background-color: ;
    	color: #aaaaaa;
	padding: 0px 2px;
	cursor: pointer;
	margin-right:2px;
	border: solid 0px #eeeeee;
    }
    #diakSelectIcon:hover {color:white;}


    table.toolBar { width: 95%; max-width: 95%;	border-spacing: 0px; margin: 1em auto; overflow: auto; border-collapse: collapse;}
    table.toolBar tr.first td.toolBarTitle { border: solid 1px #333333; }
    table.toolBar tr.first td.toolBarTool { border-style: solid; border-width: 1px 1px 1px 1px; border-color: #333333; }

    table.toolBar form { margin: 0px; padding: 0px;}

/* TH */

    table.toolBar th {
	background-color: rgb(90,133,184);
	text-align: center;
	color: white;
	font-size:10px;
        padding: 0px 4px 0px 4px;
	font-weight: 600;
	letter-spacing: 0.2px;
	border-color: rgb(21,71,123);
	border-width: 1px 0px 1px 1px;
	border-style: solid;
    }
    table.toolBar th button.toolBarClear { float:right; border: none; background-color: #5A85B8; height:10px;font-size:9px; color:inherit; padding:0px 2px; color: rgba(255,255,255,0.5);}
    table.toolBar th button.toolBarClear:hover { color: rgba(255,255,255,1);}


/* TD */
    table.toolBar td.gap { width: 50%; border-spacing: 0px; }
    table.toolBar td.help {
	background-color: rgb(11,51,103);
	color: white; 
	border-width: 0px 1px 1px 1px;
	border-color: black;
	border-style: none solid solid solid;
	font-size:smaller;
    }
    table.toolBar td.toolBarTitle {
	background-color: white;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
    }
    table.toolBar td.toolBarTool {
	border: solid 1px #666699;
	background-color: #666699;
	margin: 0px;
	padding: 0px;
    }
    table.toolBar td.toolBarTool table { border-spacing: 0px; width: 100%; }
    table.toolBar td.toolBarTool table th {
	background-color: rgb(90,133,184);
	text-align: left;
	color: white;
	font-size:10px;
        padding: 0px 0px 0px 4px;
	border-color: rgb(21,71,123);
	border-width: 1px 0px;
	border-style: solid;
    }

/* Submit */

    table.toolBar input.toolSubmit { 
	vertical-align: middle; border: 0px none;
	padding:0px;
	margin:0px;
	color: #aaaaaa;
	background-color: #666699;
    }
    table.toolBar form:hover input.toolSubmit {
	outline: solid 0px;
	color:#dddddd;
    } 

    table.toolBar form input.toolSubmit:hover {
	outline: solid 0px;
	color: lightgreen;
    } 
    table.toolBar td.toolBarTool.cella select {  max-width:180px; min-width:60px;}
    table.toolBar td.toolBarTool.sor select { max-width:320px; min-width:60px;}

    table.toolBar img { border: none; }

/* spec */

    table.toolBar table.hianyzasOsszegzo { width:100%; font-size:10px; }
    table.toolBar table.hianyzasOsszegzo th {
            text-align: center !important;
            border-style: none none solid none;
            border-color: #888888;
            border-width: 0px 0px 1px 0px;
            }
    table.toolBar     table.hianyzasOsszegzo td { width: 18%; border-bottom: solid 1px rgb(60,80,100); background-color: #dddddd; text-align: center; }

    form.lapozo input {	font-size: 10px; border: solid 1px #555555; }
    form button.lapozo { font-size:10px; }
    form span.lapozo   { color:white; background-color: rgb(90,133,184); padding:1px 5px; border: solid 1px rgb(21,71,123);}

    table.flipper input {height: 30px; color: white; 
	border-right: solid 1px #15477B;
	border-bottom: solid 1px #15477B;
	border-top: solid 1px #37699D;
	border-left: solid 1px #37699D;
	background-color: rgb(90,133,184);
	padding:0px 10px;
    }
    table.flipper input:hover {background-color: rgba(90,133,184,0.6);border: solid 1px #15477B;}
    table.flipper input.step { background-color: rgb(100,100,60); }
    table.gomb button { height:30px; background-color: rgb(90,133,184);
	border-right: solid 1px rgb(21, 71, 123);
	border-bottom: solid 1px rgb(21, 71, 123);
	border-top: solid 1px rgb(55, 105, 157);
	border-left: solid 1px rgb(55, 105, 157);
    }
    table.gomb button:hover { background-color: rgba(21, 71, 123,0.7); }
    div.beirasAdatok { text-align: center; }
    div.beirasAdatok span { font-weight: bold; font-size: 20pt; vertical-align: middle; }
    div.beirasAdatok img { vertical-align: middle; }

    table.toolBar input { font-size: 10px; }

    table.toolBar #toolBarHamburgerVezerlo { color:rgb(170, 170, 170);  }
    table.toolBar #toolBarHamburgerVezerlo:hover { color:white; }
    
    #toolBarHamburgerLista ul { list-style-type:none;  }
    #toolBarHamburgerLista li { text-align:right; }
    #toolBarHamburgerLista button.hamburgerIkon { 
	height: 30px;
	color: rgb(255, 255, 255);
	border-radius: 2px 0px 0px 2px;
	border-right: solid 0px rgb(21, 71, 123);
	border-bottom: solid 1px rgb(21, 71, 123);
	border-top: solid 1px rgb(55, 105, 157);
	border-left: solid 1px rgb(55, 105, 157);
	background-color: rgb(90, 133, 184);
	padding: 0px 10px;
	margin-bottom:4px;
    }
    #toolBarHamburgerLista button.hamburgerIkon:hover {background-color: rgba(90,133,184,0.6);border: solid 1px #15477B;}

