
    div.diakStatusz { 
	position:absolute; 
	right:28px; 
	background-color: #dddddd; border: solid 1px black; padding:10px;
	font-size:14px; 
	border-radius:2px;
    }

    form.diak #felfuggesztesOk { width: 500px; margin-top: 10px; }
    form.diak #lezarasIgazolatlan { width: 50px; }
    form.diak #lezaras { margin-top: 10px; }
    form.diak label { font-weight: bold; }

    div form.diak fieldset { background-color: #efefef; box-shadow: 1px 1px 1px #cccccc; padding-top:1.5em;}
    fieldset.bizonyitvanyTorzslap { background-color: #DD1458 !important; box-shadow: 1px 1px 1px #cccccc; padding-top:1.5em; color: white;}

    form.diak { margin: 5px 30px 50px 20px; font-size:12px; }
    form.diak h1 { border: solid rgb(40,60,80); border-width: 0px 0px 1px 0px; background-color: rgb(80,100,120); text-align: center; color: white; margin:0px 0px; font-size:13px; padding:2px;}

    form.diak input, form.diak select { 
	font-size:12px; border: solid 1px #777777; margin-left: 3px;
	padding-left: 2px;
    }

    form.diak input.diakSubmit { float:right; padding:2px 30px; width:100px; }
/* lásd alul
    form.diak:hover input.diakSubmit { border: solid 1px lightgreen; }
    form.diak:hover input.diakSubmit:hover { background-color: lightgreen; }
*/
    form.diak input.kiemelt { background-color: rgb(255,255,100); border-width: 1px 1px 0px 1px; }
    form.diak label { font-size:12px; }
    form.diak label.kotelezo { color:rgb(100,20,20); }
    form.diak input:focus, form.diak select:focus { background-color: orange; }
    form.diak input[type="checkbox"] { -moz-appearance: none; }
    from.diak input.ajaxRequest { color: black; background-color: red; }
    form.diak input.ajaxRequestDone {  color: white; background-color: rgb(0,130,0); }
    form.diak select.ajaxRequestDone { color: white; background-color: rgb(0,130,0); }
    form.diak input.ajaxRequestError {  color: white; background-color: rgb(130,0,0); }
    form.diak select.ajaxRequestError { color: white; background-color: rgb(130,0,0); }

    form.diak input:hover { outline: solid 1px lightblue; }

    form.diak fieldset { border: solid 1px rgb(140,160,180); }
    form.diak fieldset th { text-align: right; }
    form.diak fieldset legend { 
	background-color: rgb(100,120,140);
	color: white;
	font-size:90%; 
	text-align: left;
	margin-left:20px;
	padding-left: 10px;
	padding-right: 10px;
	border: solid 1px rgb(40,60,80);
    }
    form.diak fieldset:hover legend { box-shadow: 0px 0px 1px rgb(21, 174, 236); } 
    form.diak fieldset fieldset:hover legend { box-shadow: 0px 0px 1px orange; } 



    form.diak #megjegyzes { width: 100%; }
    div.magantanulo form.diak fieldset { background-color: rgb(180,180,100); }
    div.magantanulo form.diak fieldset legend { background-color: rgb(80,80,10); }
    div.vendegtanulo form.diak fieldset { background-color: rgb(180,180,180); }
    div.vendegtanulo form.diak fieldset legend { background-color: rgb(80,80,10); }

    div.jogviszonyLezarva form.diak fieldset { background-color: rgb(210,140,130); }
    div.jogviszonyLezarva form.diak fieldset legend { background-color: rgb(110,40,30); }
    div.jogviszonyFelfuggesztve form.diak fieldset { background-color: rgb(130,140,210); }
    div.jogviszonyFelfuggesztve form.diak fieldset legend { background-color: rgb(30,40,110); }
    div.felveteltNyert form.diak fieldset { background-color: rgb(140,210,130); }
    div.felveteltNyert form.diak fieldset legend { background-color: rgb(40,110,30); }
/*
    div.magantanulo form.diak fieldset { background-color: rgb(180,180,100); }
    div.jogviszonyLezarva form.diak fieldset { background-color: rgb(210,140,130); }
    div.jogviszonyFelfuggesztve form.diak fieldset { background-color: rgb(130,140,210); }
    div.felveteltNyert form.diak fieldset { background-color: rgb(140,210,130); }
*/
    form.diak input.kiemelt {
        background-color: rgb(220,220,255);
        border-width: 1px 1px 1px 1px; border-color: #777777 #777777 rgb(220,220,255) #777777;
        margin-bottom: 0px; padding-top: 2px;
    }
    form.diak fieldset table.reszletek { width: 100%; background-color: rgb(220,220,255); }
    form.diak fieldset table.reszletek th { text-align: right; }
    form.diak fieldset table.reszletek h1 {
        text-align: center; background-color: rgb(100,100,120); font-size: 12px;
        border-color: rgb(200,200,200); color: white;
    }
    form.diak table.reszletek legend { background-color: rgb(100,100,120); font-weight: bold; color: white; }
    form.diak td.top { vertical-align: top; }
    form.diak fieldset fieldset legend { background-color: white; color: black; }

    form.diak ul li { font-size:12px; list-style-type: square; }
    form.diak ul li.volt { background: #aaaaaa; list-style-type: circle; }

    form.updateTable { color: white; width: 80%; background-color: rgb(180,180,200); margin: 20px auto; }
    form.updateTable h1 { text-align: center; border: 1px dotted white; border-width: 1px 0px; background-color: rgb(60,60,80); }
    form.updateTable label { color: white; padding: 8px; }
    form.updateTable table { margin: 20px auto; background-color: rgb(140,140,180); color: red;  }
    form.updateTable table td { background-color: rgb(255,255,255); }
    form.updateTable table th { background-color: rgb(120,120,160); }

    form.megnyitas input {  border: 2px solid red; background-color: rgb(120,50,10); color: white; font-size: 14px; font-weight: bold; padding: 4px; }
    form.statusz { border: 1px solid rgb(40,60,80); padding: 2px; text-align: center; }

    form.diak span.naploSorszam { background-color: rgb(120,120,160); color: white; padding:0px 10px; font-size:normal; }

    #createAccount { background-color: green; color: white; float: left; margin-left: 200px; }
    #deleteAccount { background-color: red; color: white; float: right; margin-right: 200px; }

form.diak input.diakSubmit{
 border:1px solid #15aeec; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;
 text-decoration:none; display:inline-block;
/* text-shadow: -1px -1px 0 rgba(0,0,0,0.3); */
 font-weight:bold; color: #FFFFFF;
 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
}

button:hover,  .toolBarTool table.flipper input:hover,form.diak input.diakSubmit:hover {
 border:1px solid #1090c3;
 background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
}
