
    form.kepesites { margin: 20px 30px; background-color: #ddd; padding: 30px; }
    form.kepesites input[type=text] { width: 800px; padding: 10px; }
    form.kepesites label { margin-left: 20px; margin-right: 10px; }
    form.kepesites span.delTargy,
    form.kepesites span.delTanar { color: #600; margin-left: 20px; cursor: pointer; }


