
    div.tanarTankor table { font-size:x-small;table-layout:fixed; background-color: #ababab;}
    div.tanarTankor table thead tr th { background-color: white; }
    div.tanarTankor table thead tr td { border-bottom: solid 1px white; cursor:pointer;}
    div.tanarTankor table thead tr td.slctd { border-bottom: solid 1px cornflowerblue; }

    div.tanarTankor table tbody tr th { height:20px; background-color: white; }
    div.tanarTankor table tbody tr:hover th { background-color:orange }

    div.tanarTankor table tbody tr td { min-width:20px; text-align:center; background-color: #efefef;}

    div.tanarTankor input[type="checkbox"] { display:none; }
    div.tanarTankor input[type="checkbox"]:checked { display:table-cell; }
    div.tanarTankor table tbody tr th.slctd { background-color: rgba(0,200,0,0.7); }
    div.tanarTankor table tbody tr td:hover input[type="checkbox"] { display:table-cell; }

    div.rot {
	background-color: #eeeeee;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
