<?php

    function putJelIdForm($ADAT) {
    
	formBegin();
	echo '<input type="hidden" name="action" value="jelid" />';
	for ($i=0; $i<count($ADAT['missing']); $i++) {
	    echo $ADAT['missing'][$i];
	    
	    echo '<select name="jelid[]">';
		echo '<option value=""></option>';
		for ($j=0; $j<count($ADAT['tanarok']); $j++) {
		    echo '<option value="'.$ADAT['missing'][$i].'_'.$ADAT['tanarok'][$j]['tanarId'].'">'.$ADAT['tanarok'][$j]['tanarNev'].'</option>';
		}
	    echo '</select>'."\n";
	    
	    echo '<br/>';
	    	
	}
	echo '<input type="submit" />';
	
	formEnd();    
    }

    function putLoadOrarend() {

	echo '<h2>.dat: hét | nap | óra | tanárNév | tárgyJel | osztályJel | teremszám</h2>';

	echo '
	<form method="post" action="" enctype="multipart/form-data">
	<input type="checkbox" name="replace" value="true" />
	<input type="file" name="file" />
	tolDt:<input type="text" name="tolDt" />
	igDt:<input type="text" name="igDt" />
	<input type="submit" />
	</form>';

    }

?>
