

    table#tfStat tr.hide { display: none; }
    
    table#tfStat th { background-color: #ddd; padding: 2px 6px; }
    table#tfStat td { background-color: #eee; padding: 2px 6px; }
    table#tfStat td.gap { background-color: #fff; }
    table#tfStat td.number { text-align: right;  min-width: 30px; }
    table#tfStat td.alert,
    table#tfStat td span.alert { color: red; }
    
    table#tfStat th.slide { cursor: pointer; min-width: 180px; }

    table#tfStat span.icon-chevron-up,
    table#tfStat span.icon-chevron-down { float: right; margin: 4px 0 0 10px; }

