<?php

function fillHaladasiForm($tolDt, $igDt) {
    formBegin();
    echo '<input type="hidden" name="tolDt" value="'.$tolDt.'" />';
    echo '<input type="hidden" name="igDt" value="'.$igDt.'" />';
    echo '<input type="submit" name="action" value="ok" style="display:block; margin-left: auto; margin-right:auto; width:30%;" />';
    formEnd();
}

