<?php

    function validRegisztracio($valid) {

	if ($valid==1) {
	    echo '<div class="validRegisztracio"><span class="icon-ok-circle"></span>A mayor.hu sikeresen validálta a szervert!</div>';
	} else {
	    echo '<div class="notValidRegisztracio"><span class="icon-remove-circle"></span>A mayor.hu nem ismeri ezt a szervert!</div>';
	}

    }

    function putRegisztracio($ADAT) {
    
	if (defined('_DEVEL') && _DEVEL===true) {
	    $host = 'https://localhost';
	} else {
	    $host = 'http://www.mayor.hu';
	}
	$naploUrl = substr($_SERVER["HTTP_REFERER"], 0, strpos($_SERVER["HTTP_REFERER"], 'index.php?'));
	echo '<form target="_blank" method="post" action="'.$host.'/index.php?page=portal&sub=regisztracio&f=regisztracio" id="regForm" class="reg">'."\n";
	
	foreach ($ADAT['intezmeny'] as $key => $value) {
	    echo '<input type="hidden" name="'.$key.'" value="'.$value.'" />'."\n";
	}

	echo '<input type="hidden" name="naploUrl" value="'.$naploUrl.'" />'."\n";
	echo '<input type="submit" value="'._REGISZTRACIO.'" />'."\n";
	
	echo '</form>'."\n";

	

    }

?>
