{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tanar list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Oid</th>
                <th>Bedt</th>
                <th>Kidt</th>
                <th>Viseltnevelotag</th>
                <th>Viseltcsaladinev</th>
                <th>Viseltutonev</th>
                <th>Szuletesihely</th>
                <th>Szuletesiido</th>
                <th>Dn</th>
                <th>Szuleteskoriutonev</th>
                <th>Szuleteskoricsaladinev</th>
                <th>Szuleteskorinevelotag</th>
                <th>Hetimunkaora</th>
                <th>Nekazonosito</th>
                <th>Statusz</th>
                <th>Hetikotelezooraszam</th>
                <th>Megjegyzes</th>
                <th>Besorolas</th>
                <th>Tanarid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('intezmeny_tanar_show', { 'id': entity.tanarid }) }}">{{ entity.oid }}</a></td>
                <td>{% if entity.bedt %}{{ entity.bedt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.kidt %}{{ entity.kidt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.viseltnevelotag }}</td>
                <td>{{ entity.viseltcsaladinev }}</td>
                <td>{{ entity.viseltutonev }}</td>
                <td>{{ entity.szuletesihely }}</td>
                <td>{% if entity.szuletesiido %}{{ entity.szuletesiido|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.dn }}</td>
                <td>{{ entity.szuleteskoriutonev }}</td>
                <td>{{ entity.szuleteskoricsaladinev }}</td>
                <td>{{ entity.szuleteskorinevelotag }}</td>
                <td>{{ entity.hetimunkaora }}</td>
                <td>{{ entity.nekazonosito }}</td>
                <td>{{ entity.statusz }}</td>
                <td>{{ entity.hetikotelezooraszam }}</td>
                <td>{{ entity.megjegyzes }}</td>
                <td>{{ entity.besorolas }}</td>
                <td>{{ entity.tanarid }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('intezmeny_tanar_show', { 'id': entity.tanarid }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('intezmeny_tanar_edit', { 'id': entity.tanarid }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('intezmeny_tanar_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
