{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tanar</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Oid</th>
                <td>{{ entity.oid }}</td>
            </tr>
            <tr>
                <th>Bedt</th>
                <td>{{ entity.bedt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Kidt</th>
                <td>{{ entity.kidt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Viseltnevelotag</th>
                <td>{{ entity.viseltnevelotag }}</td>
            </tr>
            <tr>
                <th>Viseltcsaladinev</th>
                <td>{{ entity.viseltcsaladinev }}</td>
            </tr>
            <tr>
                <th>Viseltutonev</th>
                <td>{{ entity.viseltutonev }}</td>
            </tr>
            <tr>
                <th>Szuletesihely</th>
                <td>{{ entity.szuletesihely }}</td>
            </tr>
            <tr>
                <th>Szuletesiido</th>
                <td>{{ entity.szuletesiido|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dn</th>
                <td>{{ entity.dn }}</td>
            </tr>
            <tr>
                <th>Szuleteskoriutonev</th>
                <td>{{ entity.szuleteskoriutonev }}</td>
            </tr>
            <tr>
                <th>Szuleteskoricsaladinev</th>
                <td>{{ entity.szuleteskoricsaladinev }}</td>
            </tr>
            <tr>
                <th>Szuleteskorinevelotag</th>
                <td>{{ entity.szuleteskorinevelotag }}</td>
            </tr>
            <tr>
                <th>Hetimunkaora</th>
                <td>{{ entity.hetimunkaora }}</td>
            </tr>
            <tr>
                <th>Nekazonosito</th>
                <td>{{ entity.nekazonosito }}</td>
            </tr>
            <tr>
                <th>Statusz</th>
                <td>{{ entity.statusz }}</td>
            </tr>
            <tr>
                <th>Hetikotelezooraszam</th>
                <td>{{ entity.hetikotelezooraszam }}</td>
            </tr>
            <tr>
                <th>Megjegyzes</th>
                <td>{{ entity.megjegyzes }}</td>
            </tr>
            <tr>
                <th>Besorolas</th>
                <td>{{ entity.besorolas }}</td>
            </tr>
            <tr>
                <th>Tanarid</th>
                <td>{{ entity.tanarid }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('intezmeny_tanar') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('intezmeny_tanar_edit', { 'id': entity.tanarid }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
