<?php

if (_RIGHTS_OK !== true) die();

require_once('include/share/date/names.php');




putEszkozSor();

function putUjIntezmeny() {

formBegin();
echo '	<input type="hidden" name="action" value="ujIntezmeny" />

    _OMKOD(max7): <input type="text" name="OMKod" id="OMKod" value="0000000" maxlength="7" />
_ROVIDNEV(sql): <input type="text" name="rovidnev" id="rovidnev" />
_NEV: <input type="text" name="nev" id="nev" />

<input type="submit" />
';
formEnd();

}

function putEszkozSor() {

    if (__NOPAGEHELP!==true && (defined('__PAGEHELP') || isset($GLOBALS['TOOL']['pageHelp']) && defined('__'.$GLOBALS['TOOL']['pageHelp']))) $showHelp = true;
    else $showHelp=false;

    echo '<table align="center" cellspacing="0" class="toolBar hideShowContainer"><tr class="first">';
    if (is_array($GLOBALS['TOOL']['vissza'])) {
        echo '<th style="width:32px;">';
        putToolFormStart('vissza', '');
        echo '<button type="submit" class="icon-'.$GLOBALS['TOOL']['vissza']['icon'].'"></button>';
        putToolFormStop(false, "");
        echo '</th>';
    }

    echo '<td class="toolBarTitle" id="toolBarTitle" colspan="3">';
    if (defined('__PAGETITLE')) echo __PAGETITLE.'<br/>';
    echo '<a href="'.href('index.php?page=naplo&sub=intezmeny&f=valtas').'">';
    if (defined('__TELEPHELYID')) echo '<span id="toolBarIntezmeny" title="TelephelyId:".'.__TELEPHELYID.'>'.__INTEZMENY .', ' . __TANEV.'/'.(__TANEV+1).'</span>';
    else echo '<span id="toolBarIntezmeny">'.__INTEZMENY . '/' . __TANEV.'</span>';
    echo '</a>';
    if ($showHelp) echo '<span id="toolBarHelpButton" class="onClickHideShow">?</span>';
    echo '</td>'."\n";
    reset($GLOBALS['TOOL']); $colspan=3;

    foreach ( $GLOBALS['TOOL'] as $tool => $params ) {
    //	    if ( function_exists( $func = "put$tool" ) && $params['tipus']=='cella') {
        if ( isset($params['tipus']) && $params['tipus']=='cella') {
            if (isset($params['title'])) $title = '__'.$params['title'];
            else $title = '__'.nagybetus($tool).'TITLE';

            echo '<td class="toolBarTool cella" style="position:; vertical-align:top">';
            echo '<table style="border-bottom:solid 1px #558;">'."\n";
            if (defined($title)) {
                echo '<tr><th>';
                echo constant($title);
                echo '</th><th>';
                if ($GLOBALS['skin'] != 'vakbarat') echo '<button type="button" value="x" class="toolBarClear"><span class="icon-remove-circle"></span></button>';
                echo '</th></tr>'."\n";
            }
            echo '<tr><td colspan="2">'."\n";
            $func = "put$tool";
            if (function_exists( $func )) { $func(); }
            else { putGeneralSelect($tool); }
            echo '</td></tr>'."\n";
            echo '</table>'."\n";

            echo '</td>'."\n";
            $colspan++;
        } elseif (isset($params['tipus']) && $params['tipus'] == 'sor') { $sorDb++; }
    }
    // Hibabejelentő
    echo '<td>';
    //echo '<div id="toolBarHamburgerVezerlo" style="height:100%; padding:4px; font-size:20px;">';
    //	echo '<span  class="icon-th-list"></span>';
    //echo '</div>';
    if ($GLOBAL['policy'] != 'public') {
        $href = href('index.php?page=naplo&sub=hibabejelento&f=hibabejelento');
        echo '<a href="'.$href.'">';
        echo '<img src="skin/classic/module-naplo/img/hibabejelento/buggie.gif" alt="'._HIBABEJELENTES.'" />';
        echo '</a>';
    }
    echo '</td>'."\n";
    echo '</tr>'."\n";

    if (__NOPAGEHELP!==true) {
        if (isset($GLOBALS['TOOL']['pageHelp']) && defined('__'.$GLOBALS['TOOL']['pageHelp']))
            echo '<tr><td colspan="'.$colspan.'" class="help openable" style="display:none">'.constant('__'.$GLOBALS['TOOL']['pageHelp']).'</td></tr>'."\n";
        elseif (defined('__PAGEHELP')) 
            echo '<tr><td colspan="'.$colspan.'" class="help openable" style="display:none">'.__PAGEHELP.'</td></tr>'."\n";
    }

    reset($GLOBALS['TOOL']);

    foreach ( $GLOBALS['TOOL'] as $tool => $params ) {
        if ( function_exists( $func = "put$tool" ) && $params['tipus']=='sor') {
            echo '<tr><td colspan="'.($colspan).'">';

            echo '<table align="center" cellspacing="0"><tr>';
            if (isset($params['title'])) $title = '__'.$params['title'];
            else $title = '__'.nagybetus($tool).'TITLE';
            if (defined($title)) echo '<th class="toolBarTool">'.constant($title).'</th>'."\n";

            echo '<td class="toolBarTool sor">';
            $func();
            echo '</td></tr></table>';
            echo '</td></tr>';
        }	    
    }
    echo '</table>';

}

function putPostParams($postParams, $postOverride=array()) {
    if (is_array($postParams)) 
    for ($i = 0; $i < count($postParams); $i++) {
        $postParam = $postParams[$i];
        if (is_array($_POST[$postParam])) {
            for ($j = 0; $j < count($_POST[$postParam]); $j++) {
                echo '<input type="hidden" name="'.$postParam.'[]" value="'.str_replace('"', '', $_POST[$postParam][$j]).'" />'."\n";
            }
        } else {
            echo '<input type="hidden" name="'.$postParam.'" value="'.str_replace('"', '', $_POST[$postParam]).'" />'."\n";
        }
    }
    if (is_array($postOverride) && count($postOverride)>=1) {
        foreach($postOverride as $_k => $_v) 
            echo '<input type="hidden" name="'.$_k.'" value="'.str_replace('"', '', $_v).'" />'."\n";
    }
}

function setParam($toolName, $paramName) {
    if (isset($GLOBALS['TOOL'][$toolName]['paramName'])) $paramName = $GLOBALS['TOOL'][$toolName]['paramName'];
    else $GLOBALS['TOOL'][$toolName]['paramName'] = $paramName;
    
    
    if (!isset($GLOBALS[$paramName])) {
        dump($paramName);
    }
    
    $GLOBALS['TOOL'][$toolName]['paramValue'] = ($GLOBALS[$paramName] != '' || $GLOBALS[$paramName] === 0) ? $GLOBALS[$paramName] : $GLOBALS['TOOL'][$toolName][$paramName];

}

function putToolFormStart($toolName, $paramName, $_action='') {

    //if (!isset($_action)) 
    $_action = href('index.php',array('page','sub','f','lang','skin','sessionID','policy'));
    setParam($toolName, $paramName);
    formBegin(array('id' => $toolName.'Tool', 'method' => 'post', 'action'=> $_action));
    if (isset($GLOBALS['TOOL'][$toolName]['action'])) 
        echo '<input type="hidden" name="action" value="'.$GLOBALS['TOOL'][$toolName]['action'].'" />'."\n";
    putPostParams($GLOBALS['TOOL'][$toolName]['post'],$GLOBALS['TOOL'][$toolName]['postOverride']);
    echo '<table><tr><td>'."\n";

}

function putToolFormStop($putSubmitButton=true, $putTextButton="") {

    echo '</td>';    
    if ($putSubmitButton===true) {
        echo '<td>'."\n";
        //	    echo '<input style="float: right; height:17px; width:17px;" class="toolSubmit" type="image" name="kiválaszt" value="kiválaszt" src="skin/classic/module-naplo/img/toolSubmit.png" />'."\n";
        if ($GLOBALS['skin'] != 'vakbarat') echo '<input type="submit" class="toolSubmit" value="✓" />';
        else echo '<input type="submit" class="toolSubmit" name="kivalaszt" value="kiválaszt" />';
        echo '</td>';
    }
    if ($putTextButton!='') {
        echo '<td>'."\n";
        echo '<input style="float: right;" class="toolSubmit" type="button" name="" value="'.$putTextButton.'" />'."\n";
        echo '</td>';
    }
    echo '</tr></table>'."\n";
    formEnd();
}

/* Toolok */

function putGeneralSelect($tool) {
    putToolFormStart($tool, $GLOBALS['TOOL'][$tool]['paramName']);

    echo '<select name="'.$GLOBALS['TOOL'][$tool]['paramName'].'" class="onChangeSubmit">';
    echo '<option value=""> - </option>'."\n";
    $SEL = array($GLOBALS['TOOL'][$tool]['paramValue'] => ' selected="selected" ');
    for ($i=0; $i < count($GLOBALS['TOOL'][$tool]['adatok']); $i++) {
        $M = $GLOBALS['TOOL'][$tool]['adatok'][$i];
        $id = $M[ $GLOBALS['TOOL'][$tool]['paramName'] ];
        $nev = $M[ $GLOBALS['TOOL'][$tool]['paramDesc'] ];
        echo '<option value="'.$id.'"'.$SEL[$id].'>'.htmlspecialchars($nev);
        if ($id != $nev) echo ' ('.$id.')';
        echo '</option>';
    }
    echo '</select>';
    putToolFormStop();

}

function putSzamSelect() {

    putToolFormStart('szamSelect', 'szam');
    echo '<select name="'.$GLOBALS['TOOL']['szamSelect']['paramName'].'" class="onChangeSubmit">';
    echo '<option value=""> - </option>'."\n";
    $SEL = array($GLOBALS['TOOL']['szamSelect']['paramValue'] => ' selected="selected" ');
    foreach ($GLOBALS['TOOL']['szamSelect']['szamok'] as $_szam) {
        echo '<option value="'.$_szam.'"'.$SEL[$_szam].'>'.$_szam.'</option>';
    }
    echo '</select>';
    putToolFormStop();

}

function putIntezmenySelect() {
    putToolFormStart('intezmenySelect', 'intezmeny');
    echo '<select name="'.$GLOBALS['TOOL']['intezmenySelect']['paramName'].'" class="onChangeSubmit">';
    echo '<option value=""> - </option>'."\n";
    $SEL = array($GLOBALS['TOOL']['intezmenySelect']['paramValue'] => ' selected="selected" ');
    for ($i=0; $i < count($GLOBALS['TOOL']['intezmenySelect']['intezmenyek']); $i++) {
        $I = $GLOBALS['TOOL']['intezmenySelect']['intezmenyek'][$i];
        echo '<option value="'.$I['rovidNev'].'"'.$SEL[$I['rovidNev']].'>'.htmlspecialchars($I['nev']).' ('.$I['OMKod'].')'.'</option>';
    }
    echo '</select>';
    putToolFormStop();

}

function putTelephelySelect() {
    putToolFormStart('telephelySelect', 'telephelyId');
    echo '<select name="'.$GLOBALS['TOOL']['telephelySelect']['paramName'].'" class="onChangeSubmit" style="width:50px">';
    echo '<option value=""> - </option>'."\n";
    $SEL = array($GLOBALS['TOOL']['telephelySelect']['paramValue'] => ' selected="selected" ');
    for ($i=0; $i < count($GLOBALS['TOOL']['telephelySelect']['telephelyek']); $i++) {
        $I = $GLOBALS['TOOL']['telephelySelect']['telephelyek'][$i];
        echo '<option value="'.$I['telephelyId'].'"'.$SEL[$I['telephelyId']].'>'.$I['telephelyRovidNev'].' ('.htmlspecialchars($I['telephelyNev']).')</option>';
    }
    echo '</select>';
    putToolFormStop();

}

function putTanevSelect() {
    putToolFormStart('tanevSelect', 'tanev');
    echo '<select name="'.$GLOBALS['TOOL']['tanevSelect']['paramName'].'" class="onChangeSubmit">';
    echo '<option value=""> - </option>'."\n";
    $SEL = array($GLOBALS['TOOL']['tanevSelect']['paramValue'] => ' selected="selected" ');
    for ($i=0; $i < count($GLOBALS['TOOL']['tanevSelect']['tanevek']); $i++) {
        $T = $GLOBALS['TOOL']['tanevSelect']['tanevek'][$i];
        echo '<option value="'.$T.'"'.$SEL[$T].'>'.$T.'</option>';
    }
    echo '</select>';
    putToolFormStop();

}

function putSzemeszterSelect() {
    putToolFormStart('szemeszterSelect', 'szemeszterId');
    echo '<select name="'.$GLOBALS['TOOL']['szemeszterSelect']['paramName'].'" class="onChangeSubmit">';
    echo '<option value=""> - </option>'."\n";
    $SEL = array( $GLOBALS['TOOL']['szemeszterSelect']['paramValue'] => ' selected="selected" ');
    for ($i = 0; $i < count($GLOBALS['TOOL']['szemeszterSelect']['szemeszterek']); $i++) {
        $T = $GLOBALS['TOOL']['szemeszterSelect']['szemeszterek'][$i];
        echo '<option value="'.$T['szemeszterId'].'"'.$SEL[$T['szemeszterId']].'>'.$T['tanev'].' / '.$T['szemeszter'].'</option>';
    }
    echo '</select>';
    putToolFormStop();

}

function putFelevSelect() {
    putToolFormStart('felevSelect', 'szemeszter');
    echo '<select name="'.$GLOBALS['TOOL']['felevSelect']['paramName'].'" class="onChangeSubmit">';
    echo '<option value=""> - </option>'."\n";
    $SEL = array( $GLOBALS['TOOL']['felevSelect']['paramValue'] => ' selected="selected" ');
    for ($i = 1; $i <= 2 ; $i++) {
        echo '<option value="'.$i.'"'.$SEL[$i].'>'.$i.'</option>';
    }
    echo '</select>';
    putToolFormStop();

}

function putTargySorrendSelect() {
    putToolFormStart('targySorrendSelect', 'sorrendNev');
    echo '<select name="'.$GLOBALS['TOOL']['targySorrendSelect']['paramName'].'" class="onChangeSubmit">';
    echo '<option value=""> - </option>'."\n";
    $SEL = array( $GLOBALS['TOOL']['targySorrendSelect']['paramValue'] => ' selected="selected" ');
    for ($i = 0; $i < count($GLOBALS['TOOL']['targySorrendSelect']['sorrendNevek']); $i++) {
        $T = $GLOBALS['TOOL']['targySorrendSelect']['sorrendNevek'][$i];
        echo '<option value="'.$T.'"'.$SEL[$T].'>'.$T.'</option>';
    }
    echo '</select>';
    putToolFormStop();

}

function putMunkakozossegSelect() {
    putToolFormStart('munkakozossegSelect', 'mkId');
    echo '<select name="'.$GLOBALS['TOOL']['munkakozossegSelect']['paramName'].'" class="onChangeSubmit">';
    echo '<option value=""> - </option>'."\n";
    $SEL = array($GLOBALS['TOOL']['munkakozossegSelect']['paramValue'] => ' selected="selected" ');
    for ($i=0; $i < count($GLOBALS['TOOL']['munkakozossegSelect']['munkakozossegek']); $i++) {
        $M = $GLOBALS['TOOL']['munkakozossegSelect']['munkakozossegek'][$i];
        echo '<option value="'.$M['mkId'].'"'.$SEL[$M['mkId']].'>'.$M['leiras'];
        if ($M['mkVezNev']!='') echo ' ('.htmlspecialchars($M['mkVezNev']).') ';
        echo '</option>';
    }
    echo '</select>';
    putToolFormStop();

}

function putTargySelect() {
    putToolFormStart('targySelect', 'targyId');
    echo '<select name="'.$GLOBALS['TOOL']['targySelect']['paramName'].'" class="onChangeSubmit">';
    echo '<option value=""> - </option>'."\n";
    $SEL = array($GLOBALS['TOOL']['targySelect']['paramValue'] => ' selected="selected" ');
    for ($i=0; $i < count($GLOBALS['TOOL']['targySelect']['targyak']); $i++) {
        $M = $GLOBALS['TOOL']['targySelect']['targyak'][$i];
        echo '<option value="'.$M['targyId'].'"'.$SEL[$M['targyId']].'>'.htmlspecialchars($M['targyNev']).' ('.$M['targyId'].')'.'</option>';
    }
    echo '</select>';
    putToolFormStop();

}

function putMunkatervSelect() {
    putToolFormStart('munkatervSelect', 'munkatervId');
    echo '<select name="'.$GLOBALS['TOOL']['munkatervSelect']['paramName'].'" class="onChangeSubmit">';
    echo '<option value=""></option>'."\n";
    $SEL = array($GLOBALS['TOOL']['munkatervSelect']['paramValue'] => ' selected="selected" ');
    for ($i=0; $i < count($GLOBALS['TOOL']['munkatervSelect']['munkatervek']); $i++) {
        $M = $GLOBALS['TOOL']['munkatervSelect']['munkatervek'][$i];
        echo '<option value="'.$M['munkatervId'].'"'.$SEL[$M['munkatervId']].'>'.htmlspecialchars($M['munkatervNev']).' ('.$M['munkatervId'].')'.'</option>';
    }
    echo '</select>';
    putToolFormStop();

}

function putTanarSelect() {

    $StatuszJel = array(
        'jogviszonya lezárva' => '[-] ',
        'tartósan távol' => '[t] ',
        'külső óraadó' => '[k] '
    );

    putToolFormStart('tanarSelect', 'tanarId');
    echo '<select name="'.$GLOBALS['TOOL']['tanarSelect']['paramName'].'" class="onChangeSubmit" accesskey="t">';
    echo '<option value=""></option>'."\n";
    $SEL = array($GLOBALS['TOOL']['tanarSelect']['paramValue'] => ' selected="selected" ');
    for ($i=0; $i < count($GLOBALS['TOOL']['tanarSelect']['tanarok']); $i++) {
        $M = $GLOBALS['TOOL']['tanarSelect']['tanarok'][$i];
        //		    echo '<option value="'.$M['tanarId'].'"'.$SEL[$M['tanarId']].'>'.(($M['aktualisStatusz'] == 'jogviszonyban van')?'':'[-] ').htmlspecialchars($M['tanarNev']).' ('.$M['tanarId'].')'.'</option>';
        echo '<option value="'.$M['tanarId'].'"'.$SEL[$M['tanarId']].'>'.$StatuszJel[$M['statusz']].htmlspecialchars($M['tanarNev']).' ('.$M['tanarId'].')'.'</option>';
    }
    echo '</select>';
    putToolFormStop();

}

function putDiakSelect() {
    putToolFormStart('diakSelect', 'diakId');

    if ($GLOBALS['TOOL']['diakSelect']['searchable']==true && $GLOBALS['TOOL']['diakSelect']['paramValue']=='' && count($GLOBALS['TOOL']['diakSelect']['diakok'])>100) {
        echo '<span style="display:none" id="diakSelectIcon">ዖ</span>';
        echo '<input type="text" name="diakSelectPattern" id="diakSelectPattern" value="" placeholder="'._NEV.'" />';
        echo '<select style="display:none" id="diakSelectLista" name="'.$GLOBALS['TOOL']['diakSelect']['paramName'].'" class="onChangeSubmit" accesskey="d">';
        echo '<option value=""></option>';
        echo '</select>';
    } else {
        echo '<span style="display:inline" id="diakSelectIcon" class="icon-view-mode"></span>'; //ዖ
        echo '<input style="display:none;" type="text" name="diakSelectPattern" id="diakSelectPattern" value="" placeholder="'._NEV.'"/>';
        echo '<select id="diakSelectLista" name="'.$GLOBALS['TOOL']['diakSelect']['paramName'].'" class="onChangeSubmit" accesskey="d">';
        echo '<option value=""></option>'."\n";
        $SEL = array($GLOBALS['TOOL']['diakSelect']['paramValue'] => ' selected="selected" ');
        foreach ($GLOBALS['TOOL']['diakSelect']['statusz'] as $statusz) {
            if (count($GLOBALS['TOOL']['diakSelect']['statusz']) > 1) echo '<optgroup label="'.$statusz.'">'."\n";
            for ($i = 0; $i < count($GLOBALS['TOOL']['diakSelect']['diakok']); $i++) {
                $M = $GLOBALS['TOOL']['diakSelect']['diakok'][$i];
                if ($M['aktualisStatusz'] == 'magántanuló') $statuszStr = ' - [m]';
                elseif ($M['aktualisStatusz'] == 'jogviszonya lezárva') $statuszStr = ' - [-]';
                elseif ($M['aktualisStatusz'] == 'jogviszonya felfüggesztve') $statuszStr = ' - [f]';
                else $statuszStr = '';
                if ($M['aktualisStatusz'] == $statusz) echo '<option value="'.$M['diakId'].'"'.$SEL[$M['diakId']].'>'.htmlspecialchars($M['diakNev']).' ('.$M['diakId'].')'.$statuszStr.'</option>';
            }
            if (count($GLOBALS['TOOL']['diakSelect']['statusz']) > 1) echo '</optgroup>'."\n";
        }
        echo '</select>';
    } // <100
    // TEST - általánosabban kellene...
    //echo '<input type="submit" id="diakSelectClear" value="x" style="" class="onClickSubmit" />';
    putToolFormStop();

}

function putDiakLapozo() {
    putToolFormStart('diakLapozo', 'diakId');

    for ($i = 0; $i < count($GLOBALS['TOOL']['diakLapozo']['diakok']); $i++) {
        if ($GLOBALS['TOOL']['diakLapozo']['diakok'][$i]['diakId'] == $GLOBALS['TOOL']['diakLapozo']['paramValue']) {
            $M[0] = $GLOBALS['TOOL']['diakLapozo']['diakok'][$i-1];
            $M[1] = $GLOBALS['TOOL']['diakLapozo']['diakok'][$i];
            $M[2] = $GLOBALS['TOOL']['diakLapozo']['diakok'][$i+1];
            break;
        }
    }
    if (is_array($M[0])) echo '<button type="submit" class="lapozo balra" name="diakId" value="'.$M[0]['diakId'].'">'.htmlspecialchars($M[0]['diakNev']).'</button>';

    if ($GLOBALS['TOOL']['diakLapozo']['withSelect'] === true) {
        echo '<select id="diakSelectLista" name="'.$GLOBALS['TOOL']['diakLapozo']['paramName'].'" class="onChangeSubmit" accesskey="d">';
        echo '<option value="">------------------------------ '.__DIAKLAPOZOTITLE.' ------------------------------------</option>'."\n";
        $SEL = array($GLOBALS['TOOL']['diakLapozo']['paramValue'] => ' selected="selected" ');
        foreach ($GLOBALS['TOOL']['diakLapozo']['statusz'] as $statusz) {
            if (count($GLOBALS['TOOL']['diakLapozo']['statusz']) > 1) echo '<optgroup label="'.$statusz.'">'."\n";
            for ($i = 0; $i < count($GLOBALS['TOOL']['diakLapozo']['diakok']); $i++) {
                $D = $GLOBALS['TOOL']['diakLapozo']['diakok'][$i];
                if ($D['aktualisStatusz'] == 'magántanuló') $statuszStr = ' - [m]';
                elseif ($D['aktualisStatusz'] == 'jogviszonya lezárva') $statuszStr = ' - [-]';
                elseif ($D['aktualisStatusz'] == 'jogviszonya felfüggesztve') $statuszStr = ' - [f]';
                else $statuszStr = '';
                if ($D['aktualisStatusz'] == $statusz) echo '<option value="'.$D['diakId'].'"'.$SEL[$D['diakId']].'>'.htmlspecialchars($D['diakNev']).' ('.$D['diakId'].')'.$statuszStr.'</option>';
            }
            if (count($GLOBALS['TOOL']['diakLapozo']['statusz']) > 1) echo '</optgroup>'."\n";
        }
        echo '</select>';
    } else {
        echo '<span class="lapozo">'.htmlspecialchars($M[1]['diakNev']).'</span>';
    }
    if (is_array($M[2])) echo '<button type="submit" class="lapozo jobbra" name="diakId" value="'.$M[2]['diakId'].'">'.htmlspecialchars($M[2]['diakNev']).'</button>';

    putToolFormStop(false);

}

function putTableSelect() {
    putToolFormStart('tableSelect', 'table');
    echo '<select name="'.$GLOBALS['TOOL']['tableSelect']['paramName'].'" class="onChangeSubmit">';
    echo '<option value=""></option>'."\n";
    $SEL = array($GLOBALS['TOOL']['tableSelect']['paramValue'] => ' selected="selected" ');
    for ($i = 0; $i < count($GLOBALS['TOOL']['tableSelect']['naplo_intezmeny']); $i++) {
        $t = $GLOBALS['TOOL']['tableSelect']['naplo_intezmeny'][$i];
        echo '<option value="'."naplo_intezmeny:$t".'"'.$SEL["naplo_intezmeny:$t"].'>'.$t.' ('.__INTEZMENY.')</option>';
    }
    for ($i = 0; $i < count($GLOBALS['TOOL']['tableSelect']['naplo']); $i++) {
        $t = $GLOBALS['TOOL']['tableSelect']['naplo'][$i];
        echo '<option value="'."naplo:$t".'"'.$SEL["naplo:$t"].'>'.$t.' ('.__TANEV.')</option>';
    }
    echo '</select>';
    putToolFormStop();
}

function putOsztalySelect() {
    putToolFormStart('osztalySelect', 'osztalyId');
    echo '<select name="'.$GLOBALS['TOOL']['osztalySelect']['paramName'].'" class="onChangeSubmit" accesskey="o">';
    echo '<option value=""> - </option>'."\n";
    $SEL = array($GLOBALS['TOOL']['osztalySelect']['paramValue'] => ' selected="selected" ');
    for ($i = 0; $i < count($GLOBALS['TOOL']['osztalySelect']['osztalyok']); $i++) {
        $M = $GLOBALS['TOOL']['osztalySelect']['osztalyok'][$i];
        if (isset($M['osztalyJel'])) $osztalyJel = $M['osztalyJel'].' - '.$M['kezdoTanev'];
        else $osztalyJel = $M['kezdoTanev'].'/'.$M['jel'];
        if (is_array($M['osztalyfonok']) && $M['osztalyfonokNev']!=''){
            $osztalyJel .= ' ('.htmlspecialchars($M['osztalyfonokNev']).')';
        }
        echo '<option value="'.$M['osztalyId'].'"'.$SEL[$M['osztalyId']].'>'.$osztalyJel.'</option>';
    }
    echo '</select>';
    putToolFormStop();
}

function putTanmenetSelect() {
    putToolFormStart('tanmenetSelect', 'tanmenetId');
    echo '<select name="'.$GLOBALS['TOOL']['tanmenetSelect']['paramName'].'" class="onChangeSubmit" accesskey="t">';
    echo '<option value=""> - </option>'."\n";
    $SEL = array($GLOBALS['TOOL']['tanmenetSelect']['paramValue'] => ' selected="selected" ');
    for ($i = 0; $i < count($GLOBALS['TOOL']['tanmenetSelect']['tanmenetek']); $i++) {
        $M = $GLOBALS['TOOL']['tanmenetSelect']['tanmenetek'][$i];
        $tanmenetNev = $M['tanmenetNev'].' ('.$M['tanmenetId'].') - '.$M['tanarNev'].' '.$M['dt'];
        echo '<option value="'.$M['tanmenetId'].'"'.$SEL[$M['tanmenetId']].'>'.htmlspecialchars($tanmenetNev).'</option>';
    }
    echo '</select>';
    putToolFormStop();
}

function putTankorSelect() {
    if (count($GLOBALS['TOOL']['tankorSelect']['tankorok'])>0) {
        if ($GLOBALS['TOOL']['tankorSelect']['tankorIdsDt']!='') $_info = true; else $_info=false;
        putToolFormStart('tankorSelect', 'tankorId');
        echo '<select name="'.$GLOBALS['TOOL']['tankorSelect']['paramName'].'" class="onChangeSubmit" accesskey="k" title="'.$GLOBALS['TOOL']['tankorSelect']['tankorIdsDt'].'">';
        echo '<option value=""></option>'."\n";
        $SEL = array($GLOBALS['TOOL']['tankorSelect']['paramValue'] => ' selected="selected" ');
        if (is_array($GLOBALS['TOOL']['tankorSelect']['tankorIds'])) {
            if ($_info) 		echo '<optgroup label="--['.$GLOBALS['TOOL']['tankorSelect']['tankorIdsDt'].']-----------------">';
            for ($i = 0; $i < count($GLOBALS['TOOL']['tankorSelect']['tankorok']); $i++) {
                $M = $GLOBALS['TOOL']['tankorSelect']['tankorok'][$i];
                if (in_array($M['tankorId'], $GLOBALS['TOOL']['tankorSelect']['tankorIds']))
                    echo '<option value="'.$M['tankorId'].'"'.$SEL[$M['tankorId']].'>'.htmlspecialchars($M['tankorNev']).' ('.$M['tankorId'].')'.'</option>';
            }
            if ($_info) 		    echo '</optgroup>';
            if ($_info) 		    echo '<optgroup label="--------------------------------------">';
            for ($i = 0; $i < count($GLOBALS['TOOL']['tankorSelect']['tankorok']); $i++) {
                $M = $GLOBALS['TOOL']['tankorSelect']['tankorok'][$i];
                if (!in_array($M['tankorId'], $GLOBALS['TOOL']['tankorSelect']['tankorIds']))
                    echo '<option value="'.$M['tankorId'].'"'.$SEL[$M['tankorId']].'>'.htmlspecialchars($M['tankorNev']).' ('.$M['tankorId'].')'.'</option>';
            }
            if ($_info) 		    echo '</optgroup>';
        } else {
            for ($i = 0; $i < count($GLOBALS['TOOL']['tankorSelect']['tankorok']); $i++) {
                $M = $GLOBALS['TOOL']['tankorSelect']['tankorok'][$i];
                echo '<option value="'.$M['tankorId'].'"'.$SEL[$M['tankorId']].'>'.htmlspecialchars($M['tankorNev']).' ('.$M['tankorId'].')'.'</option>';
            }
        }
        echo '</select>';
        putToolFormStop();
    }

}

function putTanevLapozo() {    putToolFormStart('tanevLapozo', 'tanev');
    echo '&larr;';
    echo '<input type="submit" name="tanev" value="'.($GLOBALS['TOOL']['tanevLapozo']['tanev']-1).'" />';
    echo '</td>';
    echo '<th>'.$GLOBALS['TOOL']['tanevLapozo']['tanev'].'</th>';
    echo '<td>';
    echo '<input type="submit" name="tanev" value="'.($GLOBALS['TOOL']['tanevLapozo']['tanev']+1).'" />';
    echo '&rarr;';
    echo '</td></tr></table>';
    echo '</form>'."\n";
}

function putDatumSelect() {

    $paramName = $GLOBALS['TOOL']['datumSelect']['paramName'];

    $aHetNapjai = json_decode(AHETNAPJAI);

    if ($GLOBALS['TOOL']['datumSelect']['lapozo']) {

        // Előző és következő dátum meghatározása
        $elozo = $kovetkezo = '';
        if (is_array($GLOBALS['TOOL']['datumSelect']['napok'])) {
            for ($i = 0; $i < count($GLOBALS['TOOL']['datumSelect']['napok']); $i++) {
                if ($GLOBALS['TOOL']['datumSelect']['napok'][$i] == $GLOBALS[$paramName]) {
                    $kovetkezo = $GLOBALS['TOOL']['datumSelect']['napok'][$i+1];
                    $elozo = $GLOBALS['TOOL']['datumSelect']['napok'][$i-1];
                    break;
                }
            }
        } else {
            $tolTime = strtotime($GLOBALS['TOOL']['datumSelect']['tolDt']);
            $igTime = strtotime($GLOBALS['TOOL']['datumSelect']['igDt']);
            $count = $GLOBALS['TOOL']['datumSelect']['hanyNaponta'];
            for ($t = $tolTime; $t <= $igTime; $t = strtotime("$count days", $t)) {
                $d = date('Y-m-d', $t);
                if ($d == $GLOBALS[$paramName]) {
                    if (strtotime("$count days", $t) <= $igTime) $kovetkezo = date('Y-m-d', strtotime("$count days", $t));
                    break;
                }
                $elozo = $d;
            }
        }
        echo '<table><tr>';
        if ($elozo!='') {
            echo '<td>';
            //echo '<form method="post" action="'.href('index.php',array('page','sub','f','lang','skin','sessionID','policy')).'">';
            formBegin(array('method'=>'post', 'action'=>href('index.php',array('page','sub','f','lang','skin','sessionID','policy'))));
            echo '<table><tr><td>';    
            if (isset($GLOBALS['TOOL']['datumSelect']['action'])) 
                echo '<input type="hidden" name="action" value="'.$GLOBALS['TOOL']['datumSelect']['action'].'" />'."\n";
            putPostParams($GLOBALS['TOOL']['datumSelect']['post']);
            echo '<input name="'.$paramName.'" style="float: left;" class="toolSubmit" type="submit" value="'.$elozo.'" />';
            echo '</td></tr></table>';
            //echo '</form>';
            formEnd();
            echo '</td>';
        }
        echo '<td>';

    }



    //echo '<form method="post" action="'.href('index.php',array('page','sub','f','lang','skin','sessionID','policy')).'">';
    formBegin(array('method'=>'post', 'action'=>href('index.php',array('page','sub','f','lang','skin','sessionID','policy'))));
    echo '<table><tr><td>';    
    if (isset($GLOBALS['TOOL']['datumSelect']['action'])) 
        echo '<input type="hidden" name="action" value="'.$GLOBALS['TOOL']['datumSelect']['action'].'" />'."\n";
    putPostParams($GLOBALS['TOOL']['datumSelect']['post']);
    $SEL = array($GLOBALS[$paramName] => ' selected="selected" ');
    echo '<select name="'.$paramName.'" class="onChangeSubmit">';
    echo '<option value=""> - </option>'."\n";
    if (is_array($GLOBALS['TOOL']['datumSelect']['napok'])) {
        for ($i = 0; $i < count($GLOBALS['TOOL']['datumSelect']['napok']); $i++) {
            $d = $GLOBALS['TOOL']['datumSelect']['napok'][$i];
            echo '<option value="'.$d.'"'.$SEL[$d].'>'.$d.' ('.$aHetNapjai[(date('w',strtotime($d))+6) % 7].')</option>';
        }
    } else {
        $tolTime = strtotime($GLOBALS['TOOL']['datumSelect']['tolDt']);
        $igTime = strtotime($GLOBALS['TOOL']['datumSelect']['igDt']);
        $count = $GLOBALS['TOOL']['datumSelect']['hanyNaponta'];
        for (
        $t = $tolTime;
        $t <= $igTime;
        $t = ($count == 'havonta') ? strtotime("next month", $t) : strtotime("$count days", $t)
        ) {
            $d = date('Y-m-d', $t);
            echo '<option value="'.$d.'"'.$SEL[$d].'>'.$d.' ('.$aHetNapjai[(date('w',strtotime($d))+6) % 7].')</option>';
        }
    }
    echo '</select>';
    //	    echo '<button type="submit" value=="'.$kovetkezo.'"><span class="icon-chevron-right"></span></button>';

    putToolFormStop();

    if ($GLOBALS['TOOL']['datumSelect']['lapozo']) {
        echo '</td>';
        if ($kovetkezo!='') {
            echo '<td>';

            // echo '<form method="post" action="'.href('index.php',array('page','sub','f','lang','skin','sessionID','policy')).'">';
            formBegin(array('method'=>'post', 'action'=>href('index.php',array('page','sub','f','lang','skin','sessionID','policy'))));
            echo '<table><tr><td>';    
            if (isset($GLOBALS['TOOL']['datumSelect']['action'])) 
                echo '<input type="hidden" name="action" value="'.$GLOBALS['TOOL']['datumSelect']['action'].'" />'."\n";
            putPostParams($GLOBALS['TOOL']['datumSelect']['post']);
            echo '<input name="'.$paramName.'" style="float: right;" class="toolSubmit" type="submit" value="'.$kovetkezo.'" />';
            echo '</td></tr></table>';
            formEnd();

            echo '</td>';
        }
        echo '</tr></table>';
    }



}

//--
function putDatumTolIgSelect() {

    $tolParamName = $GLOBALS['TOOL']['datumTolIgSelect']['tolParamName'];
    $igParamName = $GLOBALS['TOOL']['datumTolIgSelect']['igParamName'];

    //echo '<form method="post" action="'.href('index.php',array('page','sub','f','lang','skin','sessionID','policy')).'">'."\n";
    formBegin(array('method'=>'post', 'action'=>href('index.php',array('page','sub','f','lang','skin','sessionID','policy'))));
    putPostParams($GLOBALS['TOOL']['datumTolIgSelect']['post']);
    if (isset($GLOBALS['TOOL']['datumTolIgSelect']['action'])) 
        echo '<input type="hidden" name="action" value="'.$GLOBALS['TOOL']['datumTolIgSelect']['action'].'" />'."\n";
    echo '<table><tr><td>'."\n";
    echo '<select name="'.$tolParamName.'" class="onChangeSubmit">';
    echo '<option value=""> - </option>'."\n";
    $SEL = array($GLOBALS[$tolParamName] => ' selected="selected" ');
    if (is_array($GLOBALS['TOOL']['datumTolIgSelect']['napok'])) {
        for ($i = 0; $i < count($GLOBALS['TOOL']['datumTolIgSelect']['napok']); $i++) {
            $d = $GLOBALS['TOOL']['datumTolIgSelect']['napok'][$i];
            echo '<option value="'.$d.'"'.$SEL[$d].'>'.$d.' ('.$GLOBALS['aHetNapjai'][(date('w',strtotime($d))+6) % 7].')</option>';
        }
    } else {
        $tolTime = strtotime($GLOBALS['TOOL']['datumTolIgSelect']['tolDt']);
        $igTime = strtotime($GLOBALS['TOOL']['datumTolIgSelect']['igDt']);
        $count = $GLOBALS['TOOL']['datumTolIgSelect']['hanyNaponta'];
        for (
        $t = $tolTime;
        $t <= $igTime && $t != 0;
        $t = ($count == 'havonta') ? strtotime("next month", $t) : strtotime("$count days", $t)
        ) {
            $d = date('Y-m-d', $t);
            echo '<option value="'.$d.'"'.$SEL[$d].'>'.$d.' ('.$GLOBALS['aHetNapjai'][(date('w',strtotime($d))+6) % 7].')</option>';
        }
    }
    echo '</select>';

    echo ' - ';

    echo '<select name="'.$igParamName.'" class="onChangeSubmit">';
    echo '<option value=""> - </option>'."\n";
    $SEL = array($GLOBALS[$igParamName] => ' selected="selected" ');
    if (is_array($GLOBALS['TOOL']['datumTolIgSelect']['napok'])) {
        for ($i = 0; $i < count($GLOBALS['TOOL']['datumTolIgSelect']['napok']); $i++) {
            $d = $GLOBALS['TOOL']['datumTolIgSelect']['napok'][$i];
            echo '<option value="'.$d.'"'.$SEL[$d].'>'.$d.' ('.$GLOBALS['aHetNapjai'][(date('w',strtotime($d))+6) % 7].')</option>';
        }
    } else {
        $tolTime = strtotime($GLOBALS['TOOL']['datumTolIgSelect']['tolDt']);
        $igTime = strtotime($GLOBALS['TOOL']['datumTolIgSelect']['igDt']);
        $count = $GLOBALS['TOOL']['datumTolIgSelect']['hanyNaponta'];
        for (
        $t = $tolTime;
        $t <= $igTime && $t != 0;
        $t = ($count == 'havonta') ? strtotime("next month", $t) : strtotime("$count days", $t)
        ) {
            $d = date('Y-m-d', $t);
            echo '<option value="'.$d.'"'.$SEL[$d].'>'.$d.' ('.$GLOBALS['aHetNapjai'][(date('w',strtotime($d))+6) % 7].')</option>';
        }
    }
    echo '</select>';
    putToolFormStop();

}


function putOraSelect() {
    putToolFormStart('oraSelect', 'ora');
    echo '<select name="'.$GLOBALS['TOOL']['oraSelect']['paramName'].'" class="onChangeSubmit">';
    $SEL = array($GLOBALS['TOOL']['oraSelect']['paramValue'] => ' selected="selected" ');
    echo '<option value=""> - </option>'."\n";
    if (is_array($GLOBALS['TOOL']['oraSelect']['orak'])) {
        for ($i = 0; $i < count($GLOBALS['TOOL']['oraSelect']['orak']); $i++) {
            echo '<option value="'.$GLOBALS['TOOL']['oraSelect']['orak'][$i].'"'.$SEL[$GLOBALS['TOOL']['oraSelect']['orak'][$i]].'>'.$GLOBALS['TOOL']['oraSelect']['orak'][$i].'</option>';
        }
        if ($GLOBALS['TOOL']['oraSelect']['foglaltOrakkal']) {
            echo '<optgroup label="'._FOGLALT_ORAK.'">';
            for ($t = $GLOBALS['TOOL']['oraSelect']['tol']; $t <= $GLOBALS['TOOL']['oraSelect']['ig']; $t++) {
                if (!in_array($t, $GLOBALS['TOOL']['oraSelect']['orak'])) echo '<option value="'.$t.'"'.$SEL[$t].'>'.$t.'</option>';
            }
            echo '</optgroup>'."\n";
        }
    } else {
        for ($t = $GLOBALS['TOOL']['oraSelect']['tol']; $t <= $GLOBALS['TOOL']['oraSelect']['ig']; $t++) {
            echo '<option value="'.$t.'"'.$SEL[$t].'>'.$t.'</option>';
        }
    }
    echo '</select>';
    putToolFormStop();

}

function putTeremSelect() {
    // telephely szerint szétválogatás:
    $numt=0;
    if (is_array($GLOBALS['TOOL']['teremSelect']['termek'])) {
        for ($i = 0; $i < count($GLOBALS['TOOL']['teremSelect']['termek']); $i++) {
            $I = $GLOBALS['TOOL']['teremSelect']['termek'][$i];
            $T[$I['telephelyId']][] = $I;
            $numt++;
        }
    }

    putToolFormStart('teremSelect', 'teremId');
    echo '<select name="'.$GLOBALS['TOOL']['teremSelect']['paramName'].'" class="onChangeSubmit">';
    $SEL = array($GLOBALS['TOOL']['teremSelect']['paramValue'] => ' selected="selected" ');
    echo '<option value=""> - </option>'."\n";
    if ($numt>=2) {
        foreach($T AS $telephelyId => $I) {
            $disp = ($telephelyId=='')?'Nincs telephely':$telephelyId;
            echo '<optgroup label="'.$disp.'">';
            if (is_array($I)) {
                for ($i = 0; $i < count($I); $i++) {
                    $show = $I[$i]['leiras'];
                    echo '<option value="'.$I[$i]['teremId'].'"'.$SEL[$I[$i]['teremId']].'>'.$show.'</option>';
                }
            }
            echo '</optgroup>'."\n";
        }
    } else {
        if (is_array($GLOBALS['TOOL']['teremSelect']['termek'])) {
            for ($i = 0; $i < count($GLOBALS['TOOL']['teremSelect']['termek']); $i++) {
                $show = $GLOBALS['TOOL']['teremSelect']['termek'][$i]['leiras'];
                echo '<option value="'.$GLOBALS['TOOL']['teremSelect']['termek'][$i]['teremId'].'"'.$SEL[$GLOBALS['TOOL']['teremSelect']['termek'][$i]['teremId']].'>'.$show.'</option>';
            }
        }
    }
    echo '</select>';
    putToolFormStop();

}


function putOrarendiHetSelect() {
    putToolFormStart('orarendiHetSelect', 'orarendiHet');
    echo '<select name="'.$GLOBALS['TOOL']['orarendiHetSelect']['paramName'].'" class="onChangeSubmit" '.$_DS.'>';
    echo '<option value=""></option>'."\n";
    $SEL = array($GLOBALS['TOOL']['orarendiHetSelect']['paramValue'] => ' selected="selected" ');
    foreach ($GLOBALS['TOOL']['orarendiHetSelect']['hetek'] as $M) {
        echo '<option value="'.$M.'"'.$SEL[$M].'>'.$M.'</option>';
    }
    if (is_array($GLOBALS['TOOL']['orarendiHetSelect']['megjelenitendoHetek'])) {
        echo '<optgroup label="'._UJ_ORARENDIHET.'">';
        foreach ($GLOBALS['TOOL']['orarendiHetSelect']['megjelenitendoHetek'] as $index => $het) {
            if (!in_array($het, $GLOBALS['TOOL']['orarendiHetSelect']['hetek']))
                echo '<option value="'.$het.'"'.$SEL[$het].'>'.$het.'</option>';
        }
        echo '</optgroup>'."\n";
    }
    echo '</select>';
    putToolFormStop();

}

function putKepzesSelect() {
    putToolFormStart('kepzesSelect', 'kepzesId');
    echo '<select name="'.$GLOBALS['TOOL']['kepzesSelect']['paramName'].'" class="onChangeSubmit">';
    echo '<option value=""></option>'."\n";
    $SEL = array($GLOBALS['TOOL']['kepzesSelect']['paramValue'] => ' selected="selected" ');
    for ($i=0; $i < count($GLOBALS['TOOL']['kepzesSelect']['kepzes']); $i++) {
        $M = $GLOBALS['TOOL']['kepzesSelect']['kepzes'][$i];
        $_prefix = ($M['kepzesEles']!=1) ? '-' : '';
        echo '<option value="'.$M['kepzesId'].'"'.$SEL[$M['kepzesId']].'>'.$_prefix.htmlspecialchars($M['kepzesNev']).' '.$M['tanev'].' ('.$M['kepzesId'].')'.'</option>';
    }
    echo '</select>';
    putToolFormStop();

}

function putSzuloSelect() {
    putToolFormStart('szuloSelect', 'szuloId');
    echo '<select name="'.$GLOBALS['TOOL']['szuloSelect']['paramName'].'" class="onChangeSubmit">';
    echo '<option value=""></option>'."\n";
    $SEL = array($GLOBALS['TOOL']['szuloSelect']['paramValue'] => ' selected="selected" ');
    for ($i=0; $i < count($GLOBALS['TOOL']['szuloSelect']['szulo']); $i++) {
        $M = $GLOBALS['TOOL']['szuloSelect']['szulo'][$i];
        echo '<option value="'.$M['szuloId'].'"'.$SEL[$M['szuloId']].'>'.htmlspecialchars($M['szuloNev']).' ('.$M['szuloId'].')'.'</option>';
    }
    echo '</select>';
    putToolFormStop();

}


function putKerdoivSelect() {
    putToolFormStart('kerdoivSelect', 'kerdoivId');
    echo '<select name="'.$GLOBALS['TOOL']['kerdoivSelect']['paramName'].'" class="onChangeSubmit">';
    echo '<option value=""></option>'."\n";
    $SEL = array($GLOBALS['TOOL']['kerdoivSelect']['paramValue'] => ' selected="selected" ');
    for ($i = 0; $i < count($GLOBALS['TOOL']['kerdoivSelect']['kerdoiv']); $i++) {
        $M = $GLOBALS['TOOL']['kerdoivSelect']['kerdoiv'][$i];
        echo '<option value="'.$M['kerdoivId'].'"'.$SEL[$M['kerdoivId']].'>'.$M['cim'].'</option>';
    }
    echo '</select>';
    putToolFormStop();

}


function putZaradekSelect() {
    putToolFormStart('zaradekSelect', 'zaradekIndex');
    $mit = array('bizonyítvány','törzslap','osztálynapló','beírási napló');
    $mire = array('Bi.','Tl.','On.','Bn.');
    echo '<select name="'.$GLOBALS['TOOL']['zaradekSelect']['paramName'].'" class="onChangeSubmit">';
    $SEL = array($GLOBALS['TOOL']['zaradekSelect']['paramValue'] => ' selected="selected" ');
    echo '<option value=""> - </option>'."\n";
    if (is_array($GLOBALS['TOOL']['zaradekSelect']['zaradekok'])) {
        foreach ($GLOBALS['TOOL']['zaradekSelect']['zaradekok'] as $zaradekIndex => $zaradekAdat) {
            $length = mb_strlen($zaradekAdat['szoveg'], 'utf-8');
            $rpos = mb_strrpos(mb_substr($zaradekAdat['szoveg'],0,-15), ' ', 0, 'utf-8');
            echo '<option value="'.$zaradekIndex.'"'.$SEL[$zaradekIndex].'>';
            echo $zaradekAdat['sorszam'].' '
                .($length>80?
                    mb_substr($zaradekAdat['szoveg'],0,mb_strpos($zaradekAdat['szoveg'],' ',40,'utf-8'),'utf-8').
                        ' ... '.
                            mb_substr($zaradekAdat['szoveg'], $rpos, $length-$rpos+10, 'utf-8'):$zaradekAdat['szoveg']).
                                ' ('.str_replace($mit, $mire, $zaradekAdat['dokumentum']).')</option>';
        }
    }
    echo '</select>';
    putToolFormStop();

}


function putTanarOraLapozo() {
    $paramName = $GLOBALS['TOOL']['tanarOraLapozo']['paramName'];
    if ((is_array($GLOBALS['TOOL']['tanarOraLapozo']['elozo'])) || (is_array($GLOBALS['TOOL']['tanarOraLapozo']['kovetkezo']))) {
        formBegin(array('class'=>'lapozo','method'=>'post', 'action'=>href('index.php',array('page','sub','f','lang','skin','sessionID','policy'))));
        putPostParams($GLOBALS['TOOL']['tanarOraLapozo']['post']);
        echo '<table><tr><td>';
        if (is_array($GLOBALS['TOOL']['tanarOraLapozo']['elozo'])) {
            $_leiras = '&larr;'.($GLOBALS['TOOL']['tanarOraLapozo']['elozo']['ora']).'. '._ORA;
            if ($GLOBALS['TOOL']['tanarOraLapozo']['elozo']['leiras']!='') $_leiras .= ' ('.$GLOBALS['TOOL']['tanarOraLapozo']['elozo']['leiras'].')';
            echo '<input type="submit" name="oraId" value="'.$_leiras.'" onclick="this.value='.($GLOBALS['TOOL']['tanarOraLapozo']['elozo']['oraId']).'" />';
        }
        echo '</td>';
        echo '<th>';
        echo $GLOBALS['TOOL']['tanarOraLapozo']['oraAdat']['ora'].'. '._ORA.' ';
        if ($GLOBALS['TOOL']['tanarOraLapozo']['oraAdat']['leiras'] != '') echo '('.$GLOBALS['TOOL']['tanarOraLapozo']['oraAdat']['leiras'].') ';
        echo '</th>';
        echo '<td>';
        if (is_array($GLOBALS['TOOL']['tanarOraLapozo']['kovetkezo'])) {
            $_leiras = ($GLOBALS['TOOL']['tanarOraLapozo']['kovetkezo']['ora']).'. '._ORA;
            if ($GLOBALS['TOOL']['tanarOraLapozo']['kovetkezo']['leiras']!='') $_leiras .= ' ('.$GLOBALS['TOOL']['tanarOraLapozo']['kovetkezo']['leiras'].')';
            $_leiras .=' &rarr;';
            echo '<input type="submit" name="oraId" value="'.$_leiras.'" onclick="this.value='.($GLOBALS['TOOL']['tanarOraLapozo']['kovetkezo']['oraId']).'" />';
        }
        echo '</td></tr></table>';
        //echo '</form>';
        formEnd();
        echo "\n";
    }
}

function putHonapLapozo() {

    $paramName = $GLOBALS['TOOL']['honapLapozo']['paramName'];
    //echo '<form class="lapozo" method="post" action="'.href('index.php',array('page','sub','f','lang','skin','sessionID','policy')).'">';
    formBegin(array('class' => 'lapozo', 'method' => 'post', 'action' => href('index.php',array('page','sub','f','lang','skin','sessionID','policy'))));
    putPostParams($GLOBALS['TOOL']['honapLapozo']['post']);
    echo '<table><tr><td>';
    echo '&larr;';
    echo '<input type="submit" name="ho" value="'.(($GLOBALS[$paramName]-1)==0?12:$GLOBALS[$paramName]-1).'" />';
    echo '</td>';
    echo '<th>'.$GLOBALS['Honapok'][$GLOBALS[$paramName]-1].'</th>';
    echo '<td>';
    echo '<input type="submit" name="ho" value="'.(($GLOBALS[$paramName]%12+1)).'" />';
    echo '&rarr;';
    echo '</td></tr></table>';

    // ideiglenes megoldás!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    //	echo '<input type="hidden" name="diakId" value="'.$GLOBALS['TOOL']['honapLapozo']['diakId'].'" />'."\n";

    //echo '</form>';
    formEnd();

}

//-- INSECURE
function putOldalFlipper() {

    $paramName = $GLOBALS['TOOL']['oldalFlipper']['paramName'];

    $stepCount = count($GLOBALS['TOOL']['oldalFlipper']['url']);
    if (isset($GLOBALS['TOOL']['oldalFlipper']['step'])) $step = $GLOBALS['TOOL']['oldalFlipper']['step'];
    for ($i = 0; $i < count($GLOBALS['TOOL']['oldalFlipper']['titleConst']); $i++) {
        if (defined($GLOBALS['TOOL']['oldalFlipper']['titleConst'][$i]))
            $GLOBALS['TOOL']['oldalFlipper']['title'][$i] = constant($GLOBALS['TOOL']['oldalFlipper']['titleConst'][$i]);
        else
            $GLOBALS['TOOL']['oldalFlipper']['title'][$i] = '';
    }

    echo '<table class="flipper"><tr>';
    if ($stepCount > 1 && isset($step) && $step > 0) {
        echo '<td>';
        // echo '<form method="post" action="'.href($GLOBALS['TOOL']['oldalFlipper']['url'][$step-1]).'">'."\n";
        formBegin(array('action'=>href($GLOBALS['TOOL']['oldalFlipper']['url'][$step-1])));
        putPostParams($GLOBALS['TOOL']['oldalFlipper']['post']);
        if (isset($GLOBALS['TOOL']['oldalFlipper']['action'])) 
            echo '<input type="hidden" name="action" value="'.$GLOBALS['TOOL']['oldalFlipper']['action'].'" />'."\n";
        if (isset($GLOBALS['TOOL']['oldalFlipper']['paramName'])) 
            echo '<input type="hidden" name="'.$paramName.'" value="'.$GLOBALS[$paramName].'" />'."\n";
        echo '<input type="submit" value="&larr;" title="'.$GLOBALS['TOOL']['oldalFlipper']['title'][$step-1].'" />'."\n";
        //echo '</form>'."\n";
        formEnd();
        echo '</td>';
    }
    if ($stepCount > 1)
    for ($j = 0; $j < $stepCount; $j++) {
        echo '<td>';
        //echo '<form method="post" action="'.href($GLOBALS['TOOL']['oldalFlipper']['url'][$j]).'">'."\n";
        formBegin(array('action'=>href($GLOBALS['TOOL']['oldalFlipper']['url'][$j])));
        putPostParams($GLOBALS['TOOL']['oldalFlipper']['post']);
        if (isset($GLOBALS['TOOL']['oldalFlipper']['action'])) 
            echo '<input type="hidden" name="action" value="'.$GLOBALS['TOOL']['oldalFlipper']['action'].'" />'."\n";
        if (isset($GLOBALS['TOOL']['oldalFlipper']['paramName'])) 
            echo '<input type="hidden" name="'.$paramName.'" value="'.$GLOBALS[$paramName].'" />'."\n";

        if (isset($step) && $step == $j)
            echo '<input class="step" type="button" value="'.($j+1).'" title="'.$GLOBALS['TOOL']['oldalFlipper']['title'][$j].'" />'."\n";
        else
            echo '<input type="submit" value="'.($j+1).'" title="'.$GLOBALS['TOOL']['oldalFlipper']['title'][$j].'" />'."\n";
        // echo '</form>'."\n";
        formEnd();
        echo '</td>';
    }
    if ($stepCount == 1 || (isset($step) && $step < $stepCount-1)) {
        if (!isset($step)) $step = 0; else $step++;
        echo '<td>';
        // echo '<form method="post" action="'.href($GLOBALS['TOOL']['oldalFlipper']['url'][$step]).'">'."\n";
        formBegin(array('action'=>href($GLOBALS['TOOL']['oldalFlipper']['url'][$step])));
        putPostParams($GLOBALS['TOOL']['oldalFlipper']['post']);
        if (isset($GLOBALS['TOOL']['oldalFlipper']['action'])) 
            echo '<input type="hidden" name="action" value="'.$GLOBALS['TOOL']['oldalFlipper']['action'].'" />'."\n";
        if (isset($GLOBALS['TOOL']['oldalFlipper']['paramName'])) 
            echo '<input type="hidden" name="'.$paramName.'" value="'.$GLOBALS[$paramName].'" />'."\n";

        echo '<input type="submit" value="&rarr;" title="'.$GLOBALS['TOOL']['oldalFlipper']['title'][$step].'" />'."\n";
        // echo '</form>'."\n";
        formEnd();
        echo '</td>';
    }
    echo '</tr></table>'."\n";

}

function putNyomtatasGomb() {

    $paramName = $GLOBALS['TOOL']['nyomtatasGomb']['paramName'];

    if (defined($GLOBALS['TOOL']['nyomtatasGomb']['titleConst']))
        $GLOBALS['TOOL']['nyomtatasGomb']['title'] = constant($GLOBALS['TOOL']['nyomtatasGomb']['titleConst']);
    else
        $GLOBALS['TOOL']['nyomtatasGomb']['title'] = '';

    echo '<table class="gomb"><tr>';
    echo '<td>';
    //echo '<form method="post" action="'.href($GLOBALS['TOOL']['nyomtatasGomb']['url']).'">'."\n";
    formBegin(array('method'=>'post', 'action'=>href($GLOBALS['TOOL']['nyomtatasGomb']['url'])));
    putPostParams($GLOBALS['TOOL']['nyomtatasGomb']['post']);
    if (isset($GLOBALS['TOOL']['nyomtatasGomb']['action'])) 
        echo '<input type="hidden" name="action" value="'.$GLOBALS['TOOL']['nyomtatasGomb']['action'].'" />'."\n";
    if (isset($GLOBALS['TOOL']['nyomtatasGomb']['paramName'])) 
        echo '<input type="hidden" name="'.$paramName.'" value="'.$GLOBALS[$paramName].'" />'."\n";
    //		echo '<input type="submit" value="&larr;" title="'.$GLOBALS['TOOL']['nyomtatasGomb']['title'].'" />'."\n";
    echo '<button title="'.$GLOBALS['TOOL']['nyomtatasGomb']['title'].'"><span class="icon-print" style="font-size:15px; color:white;"></span></button>'."\n";
    //echo '</form>'."\n";
    formEnd();
    echo '</td>';
    echo '</tr></table>'."\n";

}


function putIgazolasOsszegzo() {
    $H = $GLOBALS['TOOL']['igazolasOsszegzo']['igazolasok'];
    echo '<table class="hianyzasOsszegzo" cellpadding="1" cellspacing="1" style="width:300px;">';
    echo '<tr>';
    echo '<th></th>';
    echo '<th>'._ORVOSI.'</th>';
    echo '<th>'._SZULOI.'</th>';
    echo '<th>'._OSZTALYFONOKI.'</th>';
    echo '<th>'._TANULMANYI_VERSENY.'</th>';
    echo '<th>'._NYELVVIZSGA.'</th>';
    echo '<th>'._IGAZGATOI.'</th>';
    echo '<th>'._HATOSAGI.'</th>';
    echo '</tr>'."\n";
    echo '<tr>';

    echo '<td></td>';
    echo '<td>'.intval($H['napok']['osszesen']['orvosi']).' nap</td>';
    echo '<td>';
    if (__SZULOI_IGAZOLAS_EVRE != 0)	echo (int)$H['napok']['osszesen']['szülői'].'/'.__SZULOI_IGAZOLAS_EVRE.' '._NAP.'/'._EV.' ';
    if (__SZULOI_IGAZOLAS_FELEVRE != 0) foreach ($H['szemeszterek'] as $i => $szemeszter) {
        echo decimal_to_roman($szemeszter).':&nbsp;'.(int)$H['napok'][ $szemeszter ]['szülői'].'/'.__SZULOI_IGAZOLAS_FELEVRE.'&nbsp;'._NAP.', ';
    }
    echo '</td>';
    echo '<td>'.(int)$H['napok']['osszesen']['osztályfőnöki'].'/'.__OSZTALYFONOKI_IGAZOLAS_EVRE. ' '._NAP.'</td>';
    echo '<td>'.(int)$H['napok']['osszesen']['tanulmányi verseny'].' '._NAP.'</td>';
    echo '<td>'.(int)$H['napok']['osszesen']['nyelvvizsga'].' '._NAP.'</td>';
    echo '<td>'.(int)$H['napok']['osszesen']['igazgatói'].' '._NAP.'</td>';
    echo '<td>'.(int)$H['napok']['osszesen']['hatósági'].' '._NAP.'</td>';
    echo '</tr>'."\n";
    echo '<tr>';
    echo '<td>';
    echo '<span style="color: white; font-weight:bold;margin-right:3px; border: solid 1px white; padding:2px 5px;background-color: green;">'.intval($GLOBALS['TOOL']['igazolasOsszegzo']['hianyzasok']['igazolt']).'</span>';
    echo '<span style="color: white; font-weight:bold;margin-right:3px; border: solid 1px white; padding:2px 5px;background-color: red;">'.intval($GLOBALS['TOOL']['igazolasOsszegzo']['hianyzasok']['igazolatlan']).'</span>';
    echo '<span style="color: white; font-weight:bold;margin-right:3px; border: solid 1px white; padding:2px 5px;background-color: #C8C864;">'.intval($GLOBALS['TOOL']['igazolasOsszegzo']['hianyzasok']['kesesPercOsszeg']).'\'</span>';
    echo '</td>'; // igazolatlan, kesesPercOsszeg
    echo '<td>'.(int)$H['orak']['osszesen']['orvosi'].' '._ORA.'</td>';
    echo '<td>';
    if (__SZULOI_ORA_IGAZOLAS_EVRE != 0)	echo (int)$H['orak']['osszesen']['szülői'].'/'.__SZULOI_ORA_IGAZOLAS_EVRE.' '._ORA.'/'._EV.' ';
    if (__SZULOI_ORA_IGAZOLAS_FELEVRE != 0) foreach ($H['szemeszterek'] as $i => $szemeszter) {
        echo decimal_to_roman($szemeszter).':&nbsp;'.(int)$H['orak'][ $szemeszter ]['szülői'].'/'.__SZULOI_ORA_IGAZOLAS_FELEVRE.'&nbsp;'._ORA.', ';
    }
    echo '</td>';

    echo '<td>'.(int)$H['orak']['osszesen']['osztályfőnöki'].'/'.__OSZTALYFONOKI_ORA_IGAZOLAS_EVRE.' '._ORA.'</td>';
    echo '<td>'.(int)$H['orak']['osszesen']['tanulmányi verseny'].' '._ORA.'</td>';
    echo '<td>'.(int)$H['orak']['osszesen']['nyelvvizsga'].' '._ORA.'</td>';
    echo '<td>'.(int)$H['orak']['osszesen']['igazgatói'].' '._ORA.'</td>';
    echo '<td>'.(int)$H['orak']['osszesen']['hatósági'].' '._ORA.'</td>';
    echo '</tr>'."\n";
    echo '</table>'."\n";	

}

function putKerelemStat() {

    echo '<span style="padding:0px 10px; border-bottom: solid 1px white; background-color: #6969ff;" title="sum">'.$GLOBALS['TOOL']['kerelemStat']['stat']['n'].'</span>';
    echo '<span style="padding:0px 10px; border-bottom: solid 1px white; background-color: lightgreen;" title="done">'.$GLOBALS['TOOL']['kerelemStat']['stat']['nofdone'].'</span>';
    echo '<span style="padding:0px 10px; border-bottom: solid 1px white; background-color: magenta; " title="avgtime">'.$GLOBALS['TOOL']['kerelemStat']['stat']['avgTime'].'</span>';

}

function putToolBarHamburger() {
    echo '<div id="toolBarHamburgerLista" style="position:fixed; top:150px;right:0px;">';
    echo '<ul>';
    for ($j = 0; $j < count($GLOBALS['TOOL']['toolBarHamburger']['url']); $j++) {
        echo '<li>';
        formBegin(array('action'=>href($GLOBALS['TOOL']['toolBarHamburger']['url'][$j])));
        putPostParams($GLOBALS['TOOL']['toolBarHamburger']['post']);
        if (isset($GLOBALS['TOOL']['toolBarHamburger']['action'])) 
            echo '<input type="hidden" name="action" value="'.$GLOBALS['TOOL']['toolBarHamburger']['action'].'" />'."\n";
        if (isset($GLOBALS['TOOL']['toolBarHamburger']['paramName'])) 
            echo '<input type="hidden" name="'.$paramName.'" value="'.$GLOBALS[$paramName].'" />'."\n";
        //echo '<input type="submit" value="'.$GLOBALS['TOOL']['toolBarHamburger']['title'][$j].'" title="'.$GLOBALS['TOOL']['toolBarHamburger']['title'][$j].'" />'."\n";
        echo '<button type="submit" class="hamburgerIkon" value="'.$GLOBALS['TOOL']['toolBarHamburger']['title'][$j].'" title="'.$GLOBALS['TOOL']['toolBarHamburger']['title'][$j].'">'.$GLOBALS['TOOL']['toolBarHamburger']['title'][$j].'</button>'."\n";
        formEnd();
        echo '</li>';
    }
    echo '</ul>';
    echo '</div>';
}

// CONTRIB!
include('skin/classic/module-naplo/html/share/face.phtml');

?>
