{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Szulo list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nevelotag</th>
                <th>Csaladinev</th>
                <th>Utonev</th>
                <th>Szuleteskorinevelotag</th>
                <th>Szuleteskoricsaladinev</th>
                <th>Szuleteskoriutonev</th>
                <th>Email</th>
                <th>Nem</th>
                <th>Szuletesiev</th>
                <th>Cimorszag</th>
                <th>Cimhelyseg</th>
                <th>Cimirsz</th>
                <th>Cimkozteruletnev</th>
                <th>Cimkozteruletjelleg</th>
                <th>Cimhazszam</th>
                <th>Cimemelet</th>
                <th>Cimajto</th>
                <th>Mobil</th>
                <th>Telefon</th>
                <th>Foglalkozas</th>
                <th>Munkahely</th>
                <th>Useraccount</th>
                <th>Statusz</th>
                <th>Oid</th>
                <th>Szuloid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('intezmeny_szulo_show', { 'id': entity.szuloid }) }}">{{ entity.nevelotag }}</a></td>
                <td>{{ entity.csaladinev }}</td>
                <td>{{ entity.utonev }}</td>
                <td>{{ entity.szuleteskorinevelotag }}</td>
                <td>{{ entity.szuleteskoricsaladinev }}</td>
                <td>{{ entity.szuleteskoriutonev }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.nem }}</td>
                <td>{% if entity.szuletesiev %}{{ entity.szuletesiev|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.cimorszag }}</td>
                <td>{{ entity.cimhelyseg }}</td>
                <td>{{ entity.cimirsz }}</td>
                <td>{{ entity.cimkozteruletnev }}</td>
                <td>{{ entity.cimkozteruletjelleg }}</td>
                <td>{{ entity.cimhazszam }}</td>
                <td>{{ entity.cimemelet }}</td>
                <td>{{ entity.cimajto }}</td>
                <td>{{ entity.mobil }}</td>
                <td>{{ entity.telefon }}</td>
                <td>{{ entity.foglalkozas }}</td>
                <td>{{ entity.munkahely }}</td>
                <td>{{ entity.useraccount }}</td>
                <td>{{ entity.statusz }}</td>
                <td>{{ entity.oid }}</td>
                <td>{{ entity.szuloid }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('intezmeny_szulo_show', { 'id': entity.szuloid }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('intezmeny_szulo_edit', { 'id': entity.szuloid }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('intezmeny_szulo_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
