{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Szulo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nevelotag</th>
                <td>{{ entity.nevelotag }}</td>
            </tr>
            <tr>
                <th>Csaladinev</th>
                <td>{{ entity.csaladinev }}</td>
            </tr>
            <tr>
                <th>Utonev</th>
                <td>{{ entity.utonev }}</td>
            </tr>
            <tr>
                <th>Szuleteskorinevelotag</th>
                <td>{{ entity.szuleteskorinevelotag }}</td>
            </tr>
            <tr>
                <th>Szuleteskoricsaladinev</th>
                <td>{{ entity.szuleteskoricsaladinev }}</td>
            </tr>
            <tr>
                <th>Szuleteskoriutonev</th>
                <td>{{ entity.szuleteskoriutonev }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Nem</th>
                <td>{{ entity.nem }}</td>
            </tr>
            <tr>
                <th>Szuletesiev</th>
                <td>{{ entity.szuletesiev|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Cimorszag</th>
                <td>{{ entity.cimorszag }}</td>
            </tr>
            <tr>
                <th>Cimhelyseg</th>
                <td>{{ entity.cimhelyseg }}</td>
            </tr>
            <tr>
                <th>Cimirsz</th>
                <td>{{ entity.cimirsz }}</td>
            </tr>
            <tr>
                <th>Cimkozteruletnev</th>
                <td>{{ entity.cimkozteruletnev }}</td>
            </tr>
            <tr>
                <th>Cimkozteruletjelleg</th>
                <td>{{ entity.cimkozteruletjelleg }}</td>
            </tr>
            <tr>
                <th>Cimhazszam</th>
                <td>{{ entity.cimhazszam }}</td>
            </tr>
            <tr>
                <th>Cimemelet</th>
                <td>{{ entity.cimemelet }}</td>
            </tr>
            <tr>
                <th>Cimajto</th>
                <td>{{ entity.cimajto }}</td>
            </tr>
            <tr>
                <th>Mobil</th>
                <td>{{ entity.mobil }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ entity.telefon }}</td>
            </tr>
            <tr>
                <th>Foglalkozas</th>
                <td>{{ entity.foglalkozas }}</td>
            </tr>
            <tr>
                <th>Munkahely</th>
                <td>{{ entity.munkahely }}</td>
            </tr>
            <tr>
                <th>Useraccount</th>
                <td>{{ entity.useraccount }}</td>
            </tr>
            <tr>
                <th>Statusz</th>
                <td>{{ entity.statusz }}</td>
            </tr>
            <tr>
                <th>Oid</th>
                <td>{{ entity.oid }}</td>
            </tr>
            <tr>
                <th>Szuloid</th>
                <td>{{ entity.szuloid }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('intezmeny_szulo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('intezmeny_szulo_edit', { 'id': entity.szuloid }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
