@media screen {

h2 { text-align: center;  color: red;}
h2.toPrint { display: none; }

table.toolBar tr td select, table.toolBar tr td option {
    font-size:11px;
}

table.orarend {
    width: 95%;
    background-color: #333333;
}
table.orarend tr th {
    background-color: #889988;
    color: white;
/*    border-width: 0px 1px 2px 0px !important; */
    width:2%;
    height:30px;
}

table.orarend tbody tr th {
    border-right: solid 2px #889988;
    border-left: solid 2px #889988;
}
table.orarend tbody tr th.most { background-color: #99aa99; border-right: solid 2px #1e90ff;}

table.orarend thead tr th {
    background-color: #889999;
    color: white;
    border-bottom: solid 1px white;
    font-weight: 100;
    letter-spacing:0.2px;
}
table.orarend thead tr th.ma { border-bottom: solid 1px #1E90FF; background-color: #9aa; }
table.orarend thead tr th.het { background-color: #6495ED}

table.orarend tfoot.publikus tr th {
    background-color: lightgreen;
    color: white;
}
table.orarend tfoot.nempublikus tr th {
    background-color: #f06;
    color: white;
}
table.orarend tfoot:hover tr th {
    background-color: #8f8;
}


table.orarend thead tr th.spec {
    background-color: red;
}

table.orarend tr td {
    text-align: center;
    background-color: #efefef;
/*    border-width: 0px 1px 2px 0px;*/
    width:18%;
}

table.orarend tbody tr td.eppTart {
    outline: solid 2px #1e90ff;
    background-color: rgba(255,255,255,1);
}


table.orarend tr td select {
    font-size: 10px;
    background-color:#000011;
    color: white
}

div.unfinished {
    background-color: yellow;
}
    table.orarend tbody tr td hr { width: 80% } 
    div.normál {}
    div.plusz {
	background-color: #eeccee;
    }
    div.elmarad {
	color: white;
	background-color: black;
    }
    div.elmarad_máskor {
	color: white;
	background-color: #555555;
    }
    div.normál_máskor {
	color: white;
	background-color: #776699;
    }
    div.felügyelet {
	background-color: #FF69B4; /* #bbaac0  */
    }
    div.helyettesítés {
	background-color: #ccffcc;
    }
    div.összevonás {
	background-color: #B0C4DE /*#aabbc0;*/
    }
    div.friss {  }

    div.osztályfüggetlen { color: #eeeeee; background-color: rgba(52, 150, 185, 1); }
    table.osztalyOrarend div.osztályfüggetlen { display:none; }
    table.diakOrarend div.osztályfüggetlen { display:none; }

    span.helyett {
	color: gray;
	text-decoration: line-through;
    }

    table.orarend tr td span.t0 {
	padding:0px 2px;
	background-color: mediumvioletred; color:white;
    }
    table.orarend tr td span.t1 {
    }

    table.orarend tbody tr th div {
	color: #dddddd; 
	white-space:nowrap;font-size:xx-small; font-weight:normal; width:100%; text-align: center;
	/* text-shadow: 0px 1px black;*/
    }

    .animated { 
    -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    } 

    @-webkit-keyframes shake { 
    0%, 100% {-webkit-transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-2px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(2px);} 
    } 
    @keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-2px);} 
    20%, 40%, 60%, 80% {transform: translateX(2px);} 
    } 
    .shake { 
    -webkit-animation-name: shake; 
    animation-name: shake; 
    }
}


@media print {
    table.toolBar, #nav, #nav1, #nav2, #poz, #head {
	display: none;
    }
    table.orarend {
	width: 100%;
    }
    table.orarend thead tr th {
	color: black;
	border-color: black;
	border-style: solid;
	border-width: 1px 1px 2px 1px;
	width:2%;
	height:30px;
    }
    table.orarend tbody tr th {
	color: black;
	border-color: black;
	border-style: solid;
	border-width: 0px 1px 2px 1px; 
	width:2%;
	height:30px;
    }

    table.orarend tr td {
	text-align: center;
	border-color: black;
	border-style: solid;
	border-width: 0px 1px 2px 0px;
	width:18%;
	font-size:10px;
	page-break-inside: avoid;
    }
    hr { width: 80% }
    h2.toPrint { color: black; text-align: center; margin-top:0px; margin-bottom: 0px; padding-top:0px; padding-bottom:0px; } 

    table.orarend tbody tr th div {
	color: #dddddd; text-shadow: 0px 1px black;white-space:nowrap;font-size:xx-small; font-weight:normal; width:100%; text-align: center;
    }

}
