@media screen {
h2 { text-align: center;  color: red;}
h2.toPrint { display: none; }

table.toolBar tr td select, table.toolBar tr td option {
    font-size:normal;
}

table.orarend {
    width: 85%;
    background-color: black;
}
table.orarend tr th {
    background-color: #889988;
    color: white;
    border-width: 0px 1px 2px 0px;
    width:2%;
    height:30px;
}
table.orarend thead tr th {
    background-color: #889999;
    color: white;
    border-width: 0px 1px 2px 0px;
    width:2%;
    height:1em;
}
table.orarend thead tr th.spec {
    background-color: red;
}

table.orarend tr td {
    text-align: center;
    background-color: #eeeeff;
    border-width: 0px 1px 2px 0px;
    width:18%;
}

table.orarend tr td select {
    font-size: 10px;
    background-color:#000011;
    color: white
}

div.unfinished {
    background-color: yellow;
}
    table.orarend tbody tr td hr { width: 80% }
    div.normál {}
    div.elmarad {
	color: white;
	background-color: black;
    }
    div.felügyelet {
	background-color: #bbaac0;
    }
    div.helyettesítés {
	background-color: #ccffcc;
    }
    div.összevonás {
	background-color: #aabbc0;
    }
    span.helyett {
	color: gray;
	text-decoration: line-through;
    }

}
@media print {
    table.toolBar {
	display: none;
    }
    table.orarend {
	width: 100%;
    }
    table.orarend thead tr th {
	color: black;
	border-color: black;
	border-style: solid;
	border-width: 1px 1px 2px 1px;
	width:2%;
	height:30px;
    }
    table.orarend tbody tr th {
	color: black;
	border-color: black;
	border-style: solid;
	border-width: 0px 1px 2px 1px;
	width:2%;
	height:30px;
    }

    table.orarend tr td {
	text-align: center;
	border-color: black;
	border-style: solid;
	border-width: 0px 1px 2px 0px;
	width:18%;
	font-size:10px;
	page-break-inside: avoid;
    }
    hr { width: 80% }
    h2.toPrint { color: black; text-align: center; margin-top:0px; margin-bottom: 0px; padding-top:0px; padding-bottom:0px; } 
}