@media screen { 	

div.mayorbody h1	{text-align: center;  margin:10px; font-size:20px; } 	
div.mayorbody h2	{text-align: center;  margin:10px; font-size: 15px; } 	

/* table.loginablak table.main {width: 100%; border-width: 0px;} */
table.loginablak {
    background-color: #ffffff;
    border-width: 1px; 
    border-style: solid; 
    border-color: #555550;
    width:400px} 	
table.loginablak td	{ padding: 2px } 	
table.loginablak form	{ margin: 30px;padding: 0px; } 	
table.loginablak input	{ font-size: 12px; font-family:Verdana,Arial; background-color: #fffff0; border: solid 1px #666690;} 
table.loginablak input:hover {background-color: white;}
/*
table.loginablak select.pp {  	    padding: 0px; margin: 0px; 	    border: none 0px #778890; 	    font-size: 12px;  	    background-color: #eeeee0; 	   font-family: Verdana,Arial;  	    } 	
table.loginablak select.pp>option { border: none 0px black; } 	
table.loginablak input.submit 	{ border: solid 1px #776650; } 	
*/
table.loginablak thead td {
		height: 2em;
		background-color: #666690;
		text-align: center;
		font-family: Verdana,arial;
		font-size: 10pt;
		font-weight: bold;
		color: white;
		border-bottom: solid 1px white;
}
table.loginablak tbody tr.top td { border-top: solid 1px #666690; }
table.loginablak tfoot td { 	   background-color: #888880; 	    text-align: center; 	} 

table.loginablak td.co { 	    text-align: center; 	    vertical-align: bottom; 	    font-family: Verdana,arial; 	    font-size:8pt; 	} 	
table.loginablak img.aauthImg {
    border-top: solid 1px #666690; 	   
    border-bottom: solid 1px #888880; 	    
    border-left: solid 1px #666690; 	    
    border-right: solid 1px #888880; 	
}
#warning { height: 40px; }
#capsLockWarning { 
    background: #ffffaa; color: #ffaaaa; 
    text-align: center; font-size: 20px; font-weight: bold; 
    padding: 20px; margin: 10px auto; width: 300px;
}

}