<?php
/*
    Module: naplo
*/

    function putJegyInfo($jegy, $Orak, $Dolgozatok, $ADAT) {
    
	global $jegyTipusok, $aHetNapjai, $skin;
	global $KOVETELMENY;

	if (_MODOSITHAT) $DIS=''; else $DIS=' disabled="disabled"';
	$kepMutat = $ADAT['kepMutat'];

	$colspan=5;
	$_colspan=1;
	if ($kepMutat) {
	    $colspan++;
	    $_colspan++;
	}

	formBegin(array('method' => 'post', 'id' => 'jegyMod', 'action' => href('index.php?page=naplo&sub=osztalyozo&f=jegy')), array('skipFormTag'=>$skin == 'ajax','print'=>true));
	echo '<input type="hidden" name="action" value="jegyModositas" />'."\n";
	echo '<input type="hidden" id="jegyId" name="jegyId" value="'.$jegy['jegyId'].'" />'."\n";
	echo '<table align="center" cellspacing="1" cellpadding="0" class="jegyInfo">'."\n";
	
	    echo '<thead>'."\n";
		echo '<tr>'."\n";
		    echo '<th colspan="'.$colspan.'">';

		    echo '<a href="'.href('index.php?page=naplo&sub=osztalyozo&f=diak&diakId='.$jegy['diakId']).'">';
		    echo $jegy['diakNev'];
		    echo '</a>';

		    echo '</th>'."\n";
		echo '</tr>'."\n";
	    echo '</thead>'."\n";
	    
	    echo '<tfoot>'."\n";
		echo '<tr>'."\n";
		    echo '<th colspan="'.$colspan.'">'."\n";
		    if (_MODOSITHAT) {
			echo '<input type="submit" class="modosit" id="jegyModositas" value="'._ROGZIT.'" />'."\n";
			echo '<input type="submit" id="jegyTorles" name="jegyTorles" class="confirm onClickUpdateAction torol" value="'._TOROL.'" title="'._BIZTOSE.'" />'."\n";
		    }
		    echo '</th>'."\n";
		echo '</tr>'."\n";
	    echo '</tfoot>'."\n";
	    
	    echo '<tbody>'."\n";
	    echo '<tr>'."\n";
		    if ($kepMutat) {
			echo '<th>';
			putFace($jegy['diakId'],'diak');
			echo '</th>';
		    }
		echo '<th>';
		echo '</th>'."\n";
		echo '<td>'."\n";
		    echo '<a href="'.str_replace('ajax', '', href('index.php?page=naplo&sub=osztalyozo&f=tankor&tankorId='.$jegy['tankorId'])).'">';
		    $tanarLista = '';
		    for ($i = 0; $i < count($jegy['tanár']['idk']); $i++) $tanarLista .= $jegy['tanár'][$i]['tanarNev'].', ';
		    echo $jegy['tankör'][0]['tankorNev'].' ('.substr($tanarLista, 0, -2).')';
		    echo '</a>'."\n";
		echo '</td>'."\n";
		echo '<td>'."\n";
		    $SEL = array($jegy['jegy'] => ' selected="selected" ');
		    $_ok = false;
		    echo '<select id="jegyValaszto" name="jegy"'.$DIS.'>'."\n";
		    foreach ($KOVETELMENY as $jegyTipus => $jAdat) {
			if ($jegyTipus == $jegy['jegyTipus'] || (__JEGYTIPUS_VALTHATO === true && in_array($jegyTipus, $ADAT['jegyTipusok']))) {
			    echo '<optgroup label="'.$jegyTipus.'">';
			    if ($jegyTipus == $jegy['jegyTipus']) $SEL = array($jegy['jegy'] => ' selected="selected" ');
			    else $SEL = array();
			    for ($i = 0; $i < count($KOVETELMENY[$jegyTipus]['értékek']); $i++) {
				$j = $KOVETELMENY[$jegyTipus]['értékek'][$i];
				$_jegyShow = $KOVETELMENY[$jegyTipus][$j]['rovid'];
				echo '<option value="'."$jegyTipus:$j".'" '.$SEL[$j].'>'.$_jegyShow.'</option>'."\n";
				if ($SEL[$j]!='') $_ok = true;
			    }
			    echo '</optgroup>'."\n";
			}
		    }
		    if ($_ok===false) 
			echo '<option value="'.$jegy['jegy'].'" selected="selected" >'.$jegy['jegy'].$jegy['jegyTipus'].' (!hibás!)</option>'."\n";
		    echo '</select>'."\n";
		echo '</td>'."\n";
		echo '<td>'."\n";
		    $SEL = array($jegy['tipus'] => ' selected="selected"');
		    echo '<select id="jegyTipus" name="tipus"'.$DIS.'>'."\n";
			echo '<option value="0">'.$jegyTipusok[0].'</option>'."\n";
			if ($jegy['dolgozatId'] == '') {
			    echo '<option value="1"'.$SEL[1].'>'.$jegyTipusok[1].'</option>'."\n";
			    echo '<option value="2"'.$SEL[2].'>'.$jegyTipusok[2].'</option>'."\n";
			} else {
			    echo '<option value="3"'.$SEL[3].'>'.$jegyTipusok[3].'</option>'."\n";
			    echo '<option value="4"'.$SEL[4].'>'.$jegyTipusok[4].'</option>'."\n";
			    echo '<option value="5"'.$SEL[5].'>'.$jegyTipusok[5].'</option>'."\n";
			}
		    echo '</select>'."\n";
		echo '</td>'."\n";
		echo '<td>'.$jegy['dt'].' ('.$aHetNapjai[(date('w',strtotime($jegy['dt']))+6) % 7].')</td>'."\n";
	    echo '</tr>'."\n";

	    echo '<tr>'."\n";
		echo '<th colspan="'.$_colspan.'">'._MEGJEGYZES.'</th>'."\n";
		echo '<td colspan="4">'."\n";
		    echo '<input type="text" name="megjegyzes" value="'.$jegy['megjegyzes'].'" '.$DIS.'/>'."\n";
		echo '</td>'."\n";
	    echo '</tr>'."\n";

	    echo '</tbody>'."\n";
	    
	// -------- Óra hozzárendelés -------- //

	    echo '<tbody>'."\n";
	    echo '<tr>'."\n";
		echo '<th colspan="'.$_colspan.'">'._HOZZARENDELT_ORA.'</th>'."\n";
		echo '<td colspan="4">'."\n";
		    $SEL = array($jegy['oraId'] => ' selected="selected"');
		    echo '<select name="oraId"'.$DIS.'>'."\n";
		    echo '<option value="NULL">'._NINCS.'</option>';
		    for ($i = 0;$i < count($Orak); $i++) {
			echo '<option value="'.$Orak[$i]['oraId'].'" '.$SEL[$Orak[$i]['oraId']].'>';
			echo $Orak[$i]['dt'].' ('.$aHetNapjai[(date('w',strtotime($Orak[$i]['dt']))+6) % 7].') '
				.$Orak[$i]['ora'].'. '._ORA;
			echo ': '.$Orak[$i]['leiras'];
			echo '</option>'."\n";
		    }
		    echo '</select>'."\n";
		echo '</td>'."\n";

	    echo '</tr>'."\n";
	    echo '</tbody>'."\n";
	
	// -------- Ha dolgozat jegy - a dolgozat adatai -------- //

	    if ($jegy['tipus'] > 2) {
		echo '<tbody>'."\n";
		echo '<tr>'."\n";
		    echo '<th colspan="'.$_colspan.'"><a href="'.str_replace('ajax', '', href('index.php?page=naplo&sub=osztalyozo&f=dolgozat&dolgozatId='.$jegy['dolgozatId'])).'">'.ucfirst(_DOLGOZAT).'</a></th>'."\n";
		    echo '<td colspan="'.($colspan-1).'">'."\n";
			$SEL = array($jegy['dolgozatId'] => ' selected="selected"');
			echo '<select name="dolgozatId"'.$DIS.'>';
			for ($i = 0;$i < count($Dolgozatok['dolgozatIds']);$i++) {
			    $dolgozatId = $Dolgozatok['dolgozatIds'][$i];
			    echo '<option value="'.$dolgozatId.'" '.$SEL[$dolgozatId].'>';
			    echo $Dolgozatok[$dolgozatId]['dolgozatNev'];
			    echo '</option>'."\n";
			}
			echo '</select>'."\n";
		    echo '</td>'."\n";
		echo '</tr>'."\n";
		echo '</tbody>'."\n";
	    
	    }
	echo '</table>';
	
	if ($skin != 'ajax') formEnd(); // echo '</form>';

    }
?>
