<?php

    function putChangePasswordForm($userAccount, $toPolicy, $forcePolicy = false) {

	global $POLICIES, $AUTH;

	echo '<h1 class="changePassword">'._CHANGE_PASSWORD.'</h1>'."\n";
	formBegin(array('action'=>location('index.php?page=password&f=changePassword')));

	echo '<input type="hidden" name="action" value="changePassword" />';

	echo '<table cellspacing="0" cellpadding="1" align="center" class="changePassword">'."\n";
	echo '<thead>'."\n";
	    if ($forcePolicy) {
	    echo '<tr>'."\n";
		echo '<th colspan="3">'."\n";
		echo constant('_'.strtoupper($toPolicy).'_PASSWORD');
		echo '<input type="hidden" name="toPolicy" value="'.$toPolicy.'" />'."\n";
    		echo '</th>'."\n";
	    echo '</tr>'."\n";
	    }
	echo '</thead>'."\n";
	echo '<tfoot>'."\n";
	    echo '<tr>'."\n";
    		echo '<th colspan="3">'."\n";
            	echo '<input type="submit" tabindex="3" name="button" value=" '. _OK .' "
			onclick="document.loginablak.button.disabled=true;
				document.loginablak.button.value=\' Várj... \';
				document.loginablak.submit()" class="submit" />'."\n";
    		echo '</th>'."\n";
	    echo '</tr>'."\n";
	echo '</tfoot>'."\n";
	echo '<tbody>'."\n";
    	    echo '<tr>'."\n";
        	echo '<td>'."\n";
            	    echo _USERNAME;
        	echo '</td>'."\n";
        	echo '<td>'."\n";
            	    echo '<input id="userAccount" type="text" accesskey="l" tabindex="1" name="userAccount" value="'.$userAccount.'" maxlength="32" />'."\n";
        	echo '</td>'."\n";
    	    echo '</tr>'."\n";

	    if (!$forcePolicy) { // rögzített policy esetén nem kell jelszót megadni
    	    echo '<tr>'."\n";
        	echo '<td>'."\n";
                    echo '<select class="pp" name="toPolicy">'."\n";
		    $SEL = array($toPolicy => ' selected="selected" ');
		    for ($i=0; $i<count($POLICIES); $i++) {
			$_policy = $POLICIES[$i];
			if ($AUTH[$_policy]['authentication'] != 'none') {
                	    echo '<option value="'.$_policy.'" '.$SEL[$_policy].'>';
			    echo constant('_'.strtoupper($_policy).'_PASSWORD');
			    echo '</option>'."\n";
			}
		    }
                    echo '</select>'."\n";
        	echo '</td>'."\n";
        	echo '<td>'."\n";
            	    echo '<input id="userPassword" type="password" accesskey="p" tabindex="2" name="userPassword" value="" maxlength="20" />'."\n";
        	echo '</td>'."\n";
    	    echo '</tr>'."\n";
	    }

	    echo '<tr>'."\n";
        	echo '<td>'."\n";
            	    echo _NEW_PASSWORD;
        	echo '</td>'."\n";
        	echo '<td>'."\n";
            	    echo '<input id="newPassword" type="password" accesskey="n" tabindex="3" name="newPassword" value="" maxlength="20" />'."\n";
        	echo '</td>'."\n";
    	    echo '</tr>'."\n";

	    echo '<tr>'."\n";
        	echo '<td>'."\n";
            	    echo _VERIFICATION;
        	echo '</td>'."\n";
        	echo '<td>'."\n";
            	    echo '<input id="verification" type="password" accesskey="v" tabindex="3" name="verification" value="" maxlength="20" />'."\n";
        	echo '</td>'."\n";
    	    echo '</tr>'."\n";

	echo '</tbody>'."\n";
	echo '</table>'."\n";

	formEnd();

    }

?>
