<?php

    function putChangePasswordForm($userAccount, $toPolicy) {

	global $POLICIES, $AUTH;

	echo '<h1 class="changePassword">'._CHANGE_PASSWORD.'</h1>'."\n";
	formBegin(array(
	    'action'=>location('index.php?page=password&f=changeMyPassword'),
	    'id'=>'changeMyPassword'
	));
	//echo '<form  method="post" action="'.location('index.php?page=password&f=changeMyPassword').'" name="loginablak">'."\n";
	echo '<input type="hidden" name="action" value="changePassword" />';

	echo '<table cellspacing="0" cellpadding="1" align="center" class="changePassword">'."\n";
	echo '<thead>'."\n";
	    echo '<tr>'."\n";
		echo '<th colspan="2">'."\n";
    		echo _CHANGE_PASSWORD;
    		echo '</td>'."\n";
	    echo '</tr>'."\n";
	echo '</thead>'."\n";
	echo '<tfoot>'."\n";
	    echo '<tr>'."\n";
    		echo '<th colspan="2">'."\n";
            	echo '<input type="submit" tabindex="5" name="button" value=" '. _OK .' "  class="submit" />'."\n";
    		echo '</th>'."\n";
	    echo '</tr>'."\n";
	echo '</tfoot>'."\n";
	echo '<tbody>'."\n";
    	    echo '<tr>'."\n";
        	echo '<td>'."\n";
            	    echo _USERNAME;
        	echo '</td>'."\n";
        	echo '<td>'."\n";
            	    echo '<input id="userAccount" type="hidden" name="userAccount" value="'.$userAccount.'" maxlength="32" />'."\n";
		    echo $userAccount;
        	echo '</td>'."\n";
    	    echo '</tr>'."\n";

    	    echo '<tr>'."\n";
        	echo '<td>'."\n";
		    echo '<input type="hidden" name="toPolicy" value="'.$toPolicy.'" />';
		    echo constant('_'.strtoupper($toPolicy).'_PASSWORD');
        	echo '</td>'."\n";
        	echo '<td>'."\n";
            	    echo '<input id="userPassword" type="password" accesskey="p" tabindex="2" name="userPassword" value="" maxlength="20" />'."\n";
        	echo '</td>'."\n";
    	    echo '</tr>'."\n";
	    
	    echo '<tr>'."\n";
        	echo '<td>'."\n";
            	    echo _NEW_PASSWORD;
        	echo '</td>'."\n";
        	echo '<td>'."\n";
            	    echo '<input id="newPassword" type="password" accesskey="n" tabindex="3" name="newPassword" value="" maxlength="20" />'."\n";
        	echo '</td>'."\n";
    	    echo '</tr>'."\n";

	    echo '<tr>'."\n";
        	echo '<td>'."\n";
            	    echo _VERIFICATION;
        	echo '</td>'."\n";
        	echo '<td>'."\n";
            	    echo '<input id="verification" type="password" accesskey="v" tabindex="4" name="verification" value="" maxlength="20" />'."\n";
        	echo '</td>'."\n";
    	    echo '</tr>'."\n";

	echo '</tbody>'."\n";
	echo '</table>'."\n";

	//echo '</form>'."\n";
	formEnd();

    }

?>
