<?php

function includeSocial($page,$sub,$f) {
    global $OG;

   if (_OG_ENABLED!==true) return;

    if ($page=='portal') {
	$_url .= _BASE_URL."/index.php?page=$page&sub=$sub&f=$f&".$OG['getparameter'];
	$_img = ($OG['image']!='') ? $OG['image']:_OG_IMAGE;
	echo '<meta property="og:title" content="'.$OG['title'].'" />'."\n";
//	echo '<meta property="og:type" content="website" />'."\n";
	echo '<meta property="og:type" content="article" />'."\n";
	echo '<meta property="og:site_name" content="MaYoR | '._SCHOOL_NAME.'" />'."\n";
	echo '<meta property="og:image" content="'.$_img.'" />'."\n";
	echo '<meta property="og:description" content="'.$OG['title'].' - MaYoR - '._SCHOOL_NAME.'" />'."\n";
	echo '<meta property="og:url" content="'.str_replace('&','&#38;',$_url).'" />'."\n";
    }
}

function includeCSS($page,$sub,$f,$skin,$media='') {

    echo '<link rel="stylesheet" href="skin/default/base/css/elusive-webfont.css" type="text/css" />'; // minden mediara, colorscheme-re

//    echo '<link href="//fonts.googleapis.com/css?family=Source+Sans Pro:200italic,200,300italic,300,400italic,400,600italic,600,700italic,700,900italic,900" rel="stylesheet" type="text/css">';


    if ($media!='') {
	$MEDIA='-'.$media;
	$MEDIA_STR = 'media="'.$media.'" ';
    } else {
	$MEDIA='';
	$MEDIA_STR = 'media="screen,print" ';
    }
    if (file_exists(($_f="skin/$skin/base/css$MEDIA/base.php")) ) {
        echo '<link rel="stylesheet" href="'.$_f.'?scheme='.__COLOR_SCHEME.'&ver='._MAYORREV.'" type="text/css" '.$MEDIA_STR.'/>';
	echo "\n";
    } elseif (file_exists(($_f="skin/$skin/base/css$MEDIA/base.css")) ) {
        echo '<link rel="stylesheet" href="'.$_f.'?ver='._MAYORREV.'" type="text/css" '.$MEDIA_STR.'/>';
	echo "\n";
    } elseif ($media=='') {
        echo '<link rel="stylesheet" href="skin/'._DEFAULT_SKIN.'/base/css/base.css?ver='._MAYORREV.'" type="text/css" '.$MEDIA_STR.'/>';
	echo "\n";
    }
    if (file_exists(($_f="skin/$skin/module-$page/css$MEDIA/$page.css")) ) {
	echo '<link rel="stylesheet" href="'.$_f.'?ver='._MAYORREV.'" type="text/css" '.$MEDIA_STR.' />';
	echo "\n";
    } elseif (file_exists(($_f="skin/"._DEFAULT_SKIN."/module-$page/css/$page.css")) && $media=='') {
	echo '<link rel="stylesheet" href="'.$_f.'?ver='._MAYORREV.'" type="text/css"  '.$MEDIA_STR.'/>';
	echo "\n";
    }
    if ($sub!='') {
	if (file_exists(($_f="skin/$skin/module-$page/css$MEDIA/$sub/base.css")) ) {
	    echo '<link rel="stylesheet" href="'.$_f.'?ver='._MAYORREV.'" type="text/css" '.$MEDIA_STR.'/>';
	    echo "\n";
	} elseif ( file_exists(($_f="skin/"._DEFAULT_SKIN."/module-$page/css/$sub/base.css")) && $media=='') {
	    echo '<link rel="stylesheet" href="'.$_f.'?ver='._MAYORREV.'" type="text/css"  '.$MEDIA_STR.'/>';
	    echo "\n";
	}
	if (file_exists(($_f="skin/$skin/module-$page/css$MEDIA/$sub/$f.css")) ) {
	    echo '<link rel="stylesheet" href="'.$_f.'?ver='._MAYORREV.'" type="text/css" '.$MEDIA_STR.'/>';
	    echo "\n";
	} elseif ( file_exists(($_f="skin/"._DEFAULT_SKIN."/module-$page/css/$sub/$f.css")) && $media=='') {
	    echo '<link rel="stylesheet" href="'.$_f.'?ver='._MAYORREV.'" type="text/css"  '.$MEDIA_STR.'/>';
	    echo "\n";
	}
    } else {
	if (file_exists(($_f="skin/$skin/module-$page/css$MEDIA/$f.css")) ) {
	    echo '<link rel="stylesheet" href="'.$_f.'?ver='._MAYORREV.'" type="text/css"  '.$MEDIA_STR.'/>';
	    echo "\n";
	} elseif ( file_exists(($_f="skin/"._DEFAULT_SKIN."/module-$page/css/$f.css")) && $media=='') {
	    echo '<link rel="stylesheet" href="'.$_f.'?ver='._MAYORREV.'" type="text/css"  '.$MEDIA_STR.'/>';
	    echo "\n";
	}
    }
}

function includeJS($page,$sub,$f,$skin) {

	$js = '.'._JSLIB.'.js';
	echo '<script language="JavaScript" type="text/javascript" charset="utf-8" src="skin/'._DEFAULT_SKIN.'/base/javascript/underscore-min.js?ver='._MAYORREV.'"></script>'."\n";
	echo '<script language="JavaScript" type="text/javascript" charset="utf-8" src="skin/'._DEFAULT_SKIN.'/base/javascript/'._JSLIB.'.js?ver='._MAYORREV.'"></script>'."\n";
	echo '<script language="JavaScript" type="text/javascript" charset="utf-8" src="skin/'._DEFAULT_SKIN.'/base/javascript/backbone-min.js?ver='._MAYORREV.'"></script>'."\n";

	if (_ENABLE_IFRAME_EMBEDDING !== true)  
	    echo '<script language="JavaScript" type="text/javascript"  charset="utf-8" src="skin/'._DEFAULT_SKIN.'/base/javascript/noiframe.js?ver='._MAYORREV.'"></script>';

	if (file_exists(($_f="skin/$skin/base/javascript/base".$js)) ) {
	    echo '<script language="JavaScript" type="text/javascript"  charset="utf-8" src="'.$_f.'?ver='._MAYORREV.'"></script>'."\n";
	} elseif (file_exists(($_f='skin/'._DEFAULT_SKIN.'/base/javascript/base'.$js)) ) {
	    echo '<script language="JavaScript" type="text/javascript"  charset="utf-8" src="'.$_f.'?ver='._MAYORREV.'"></script>'."\n";
	}

	    if ( file_exists(($_f="skin/$skin/module-$page/javascript/$page".$js)) ) {
		echo '<script language="JavaScript" type="text/javascript"  charset="utf-8" src="'.$_f.'?ver='._MAYORREV.'"></script>'."\n";
	    } elseif (file_exists(($_f="skin/"._DEFAULT_SKIN."/module-$page/javascript/$page".$js)) ) {
		echo '<script language="JavaScript" type="text/javascript"  charset="utf-8" src="'.$_f.'?ver='._MAYORREV.'"></script>'."\n";
	    }
	    if ($sub!='') {
		if ( file_exists(($_f="skin/$skin/module-$page/javascript/$sub/$f".$js)) ) {
		    echo '<script language="JavaScript" type="text/javascript"  charset="utf-8" src="'.$_f.'?ver='._MAYORREV.'"></script>'."\n";
		} elseif ( file_exists(($_f="skin/"._DEFAULT_SKIN."/module-$page/javascript/$sub/$f".$js)) ) {
		    echo '<script language="JavaScript" type="text/javascript"  charset="utf-8" src="'.$_f.'?ver='._MAYORREV.'"></script>'."\n";
		}
	    } elseif ($f != $page) {
		if ( file_exists(($_f="skin/$skin/module-$page/javascript/$f".$js)) ) {
		    echo '<script language="JavaScript" type="text/javascript"  charset="utf-8" src="'.$_f.'?ver='._MAYORREV.'"></script>'."\n";
		} elseif ( file_exists(($_f="skin/"._DEFAULT_SKIN."/module-$page/javascript/$f".$js)) ) {
		    echo '<script language="JavaScript" type="text/javascript"  charset="utf-8" src="'.$_f.'?ver='._MAYORREV.'"></script>'."\n";
		}
	    }
	    if (__RICH_TEXT_EDITOR===true && $f == 'egyhir') {
		// Koschtit Image Gallery
		if ($page == 'portal') {
		    //require_once('skin/classic/share/javascript/koschtit/ki_include.php');
		    echo '<script type="text/javascript" src="skin/classic/share/javascript/koschtit/ki_base/ki_js_framework.php?reldir=skin/classic/share/javascript/koschtit/"></script>';
		}
		echo '
		    <script src="skin/classic/share/javascript/tiny_mce/tiny_mce.js" type="text/javascript"></script>
		    <script src="skin/classic/module-portal/javascript/hirek/egyhir.php?lang='.$lang.'" type="text/javascript"></script>';
	    }

	//	if (file_exists(($_f="skin/$skin/base/javascript/jstorage.min.js")) ) {
	//	echo '<script language="JavaScript" type="text/javascript"  charset="utf-8" src="'.$_f.'?ver='._MAYORREV.'"></script>'."\n";
	//    }	    
	//    if (file_exists(($_f="skin/$skin/base/javascript/json2.min.js")) ) {
	//	echo '<script language="JavaScript" type="text/javascript"  charset="utf-8" src="'.$_f.'?ver='._MAYORREV.'"></script>'."\n";
	//    }	    

}

// -------------------------------------------------------------------
// ajaxUpdaterForm
// -------------------------------------------------------------------


function ajaxUpdaterForm($id, $url, $params, $method, $forEcho=false) {
    global $skin;

    $t = '<form method="'.$method.'" action="'.href($url.'&toSkin='.$skin).'" class="onLoadUpdate" id="'.$id.'">'."\n";
    foreach ($params as $name => $value) $t .= '<input type="hidden" name="'.$name.'" value="'.$value.'" />'."\n";
    $t .= '</form>';
    if ($forEcho) return $t;
    else echo $t;

}

/*

<!ATTLIST FORM
  %attrs;                              -- %coreattrs, %i18n, %events --
  action      %URI;          #REQUIRED -- server-side form handler --
  method      (GET|POST)     GET       -- HTTP method used to submit the form--
  enctype     %ContentType;  "application/x-www-form-urlencoded"
  accept      %ContentTypes; #IMPLIED  -- list of MIME types for file upload --
  name        CDATA          #IMPLIED  -- name of form for scripting --
  onsubmit    %Script;       #IMPLIED  -- the form was submitted --
  onreset     %Script;       #IMPLIED  -- the form was reset --
  accept-charset %Charsets;  #IMPLIED  -- list of supported charsets --
  >

  %attrs : id, class

*/

    /* For XSRF hardening */                                                                                                                                                                              
    function formBegin($SET=array('method'=>'post','action'=>'','checkSalt'=>true),$SET2=array('print'=>true, 'skipFormTag'=>false)) {

	global $skin;
        if ($skin != 'ajax') {                                                                                                                                                                            
            /* Default */                                                                                                                                                                                 
            if ($SET['method']=='') $SET['method'] = 'post';                                                                                                                                              
                                                                                                                                                                                                          
            foreach (array('method','action') as $key) { /* Kötelező paraméterek */                                                                                                                       
                $formParams .= $key.'="'.$SET[$key].'" ';                                                                                                                                                 
            }                                                                                                                                                                                             
            foreach (array('id','class','name','onsubmit', 'enctype','target','style') as $key) { /* Lehetséges megengedett argumentumok */                                                                       
                if ($SET[$key]!='') $formParams .= $key.'="'.$SET[$key].'" ';                                                                                                                             
            }
            $str = '<!-- SOForm -->'."\n";
            if ('skipFormTag' !== true) $str .= '<form '.$formParams.'>';
        }
        if ($SET['checkSalt']!==false) $str .= '<input type="hidden" name="checkSalt" value="1" />';
        $str .= '<input class="salt" type="hidden" name="'.__SALTNAME.'" value="'.__SALTVALUE.'" />';
        if ($SET2['print']===true) echo $str; else return $str;
                                                                                                                                                                                                          
    }                                                                                                                                                                                                     
                                                                                                                                                                                                          
    function formEnd($SET2=array('print'=>true)) {
        global $skin;                                                                                                                                                                                     
        if ($skin != 'ajax') {
            $str = '</form>';
            $str .= '<!-- EOForm -->';
        }
        if ($SET2['print']===true) echo $str; else return $str;
    }



// ---------------







// -------------------------------------------------------------------
// debug_layer() : debug üzenetek kiiratása
// -------------------------------------------------------------------

    function _debugLayer() {
	global $_DEBUG;
	echo '<!--// debug start //-->'."\n".'<div id="debug" style="display: none;">'.$_DEBUG.'</div>'."\n".'<!--// debug end //-->';
	echo '<div id="help" style="display: none;"><div id="hideHelp" class="onClickHide">X</div><div id="helpHeader">'._HELP.'</div><iframe src=""></iframe></div>';
    }

    function _keyHelp() {
	$keys = array(
	array('Shift-L','Login/Logout - Belépés/Kilépés'),
	array('Shift-F','Find - Keresés a menüben'),
	array('Shift-S','Settings - Beállítások'),
	array('Shift-D','Debug - Nyomkövetési üzenetek megjelnítése/elrejtése'),
	array('Ctrl-Shift-V','Vakbarát nézet'),
	array('F1','Help - Súgó'),
	);
	echo '<table id="keyHelp" style="display: none;">';
	echo '<tr><th colspan="2">Gyorsbillentyűk</th></tr>';
	foreach ($keys as $keyAdat) {
	    echo '<tr><td class="key">'.$keyAdat[0].':</td><td class="desc">'.$keyAdat[1].'</td></tr>';
	}
	echo '</table>';
    }

    function _searchLayer() {
	echo '<form id="mayorSearch" action="" method="post" style="display: none">';
		echo '<label for="searchPattern"><span class="icon-search"></span> </label>';
		echo '<input type="text" name="pattern" value="" autocomplete="off" />';
	echo '</form>';
    }


    function _httpheader() {
	@header("Last-Modified: Mon, 20 Oct 2003 01:01:01 GMT");
	@header("Cache-Control: no-store, no-cache, must-revalidate");
	@header("Cache-Control: post-check=0, pre-check=0", false);
	@header("Pragma: no-cache");
    }
    function _updateWindow() {
	echo '<div id="takaro" style="display: none;"></div>';
	echo '<div id="updateWindow" style="display: none;">';
    	echo _svgClose(array('size'=>30, 'id'=>'updateCloseButton', 'title'=>_CLOSE, 'print'=>false));
	echo '<div id="updateHeader">';
	echo '</div>';
	echo formBegin(array('class'=>'onSubmitUpdate','id'=>'updateForm'));formEnd();
	echo '</div>';
    }



    function _svgClose($SET=array('size'=>24,'print'=>true)) {
	$size = isset($SET['size'])?$SET['size']:24; //128 volt eredetileg
	$print = isset($SET['print'])?$SET['print']:true;

    $str .= '<div style="width: '.$size.'px; height: '.$size.'px;" '
.(isset($SET['id'])?'id="'.$SET['id'].'" ':'')
.(isset($SET['class'])?'class="'.$SET['class'].'" ':'')
.(isset($SET['alt'])?'alt="'.$SET['alt'].'" ':'')
.(isset($SET['title'])?'title="'.$SET['title'].'" ':'')
.'>';

	$str .= '<svg style="position: absolute; z-index: -1;" '
.'version="1.0" xmlns="http://www.w3.org/2000/svg"
width="'.$size.'.000000px" height="'.$size.'.000000px" viewBox="0 0 128.000000 100.000000"
preserveAspectRatio="xMidYMid meet">
<metadata>x</metadata>
<g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)" fill="#880000" stroke="none">
<path d="M536 1190 c-115 -29 -224 -122 -279 -238 -30 -62 -32 -75 -32 -172 0
-97 2 -110 32 -172 44 -94 109 -160 202 -206 72 -36 79 -37 181 -37 102 0 109
1 181 37 93 46 158 112 202 206 30 62 32 75 32 172 0 97 -2 110 -32 172 -44
93 -110 160 -199 204 -64 32 -84 37 -161 40 -48 2 -105 -1 -127 -6z m51 -272
l53 -52 55 54 55 55 42 -43 43 -42 -55 -55 -54 -55 54 -55 55 -55 -43 -42 -42
-43 -55 55 -55 54 -55 -54 -55 -55 -42 43 -43 42 55 55 54 55 -54 55 -54 55
39 40 c21 22 41 40 44 40 3 0 29 -23 58 -52z"/>
</g>
</svg>';

    $str .= '<div style="background-color: transparent; width: '.$size.'px; height: '.$size.'px;" '
.(isset($SET['id'])?'id="'.$SET['id'].'Click" ':'').'></div>';
    $str .= '</div>';

        if ($print===true) echo $str; else return $str;
    }

    function _svgLoginout($SET=array('print'=>true, 'color'=>'#00c0ff')) {
	global $page;
	if (//_POLICY=='public'
	    defined('_USERACCOUNT') && (!is_string(_USERACCOUNT) || _USERACCOUNT=='')) {
	    if($page=='auth') $_bg = 'rgb(247, 197, 14)';
	    elseif (isset($SET['color'])) $_bg = $SET['color'];
	    else $_bg = '#00c0ff'; 
	    $img .= '<span id="mayorLoginoutSmall" style="color: '.$_bg.'" class="icon-unlock"></span></a>';
	} else {
	    //$_bg = '#Ff0066'; // (piros) #3496b9
	    //$_bg = 'rgb(52, 150, 185)';
	    $img .= '<span id="mayorLoginoutSmall" class="icon-lock"></span></a>';
	}
        if ($print===true) echo $img; else return $img;

    }

    function _svgDown($SET=array('print'=>true, 'color' => '#3496b9')) {

	return '';

    }

    function _inlineHelp($txt) {
        echo '<div class="hideShowContainer inlinehelp">';
            //echo '<span class="onClickHideShow iicon-question">?</span>';
	    echo '<span class="onClickHideShow icon-question-sign"></span>';
            echo '<p class="openable" style="display: none;">'.$txt.'</p>';
        echo '</div>';
    }

    function mayorGlobalLogin($loggedIn=false) {

	echo '<div id="mayorGlobalLogin">';
	    if ($loggedIn) {
		if (defined('_MAYORAUTHRESULT') && defined('_AUTH_FAILURE') && intval(_MAYORAUTHRESULT)>=intval(_AUTH_FAILURE)) {
		    $_class=' failed';
		    //$_focus = ' id="focus" '; // ha azt akarjuk, hogy focus-t is kapjon...
		}
		$secure_url = 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
		formBegin(array('action'=>$secure_url));
		echo '<span class="icon-adult '.$_class.'"></span>';
		echo '<input '.$_focus.' type="text" name="userAccount" autocomplete="off" />';
		echo '<br/>';
		echo '<span class="icon-key '.$_class.'"></span>';
		echo '<input type="password" name="userPassword" />';
		echo '<input type="hidden" name="toPolicy" value="private" />';
		echo '<input type="hidden" name="action" value="mayorGlobalLogin" />';
		echo '<button type="submit" style="background-color:inherit;border: solid 0px white;padding:0px;"><span class="icon-play-alt"></span></button>';
		formEnd();
	    } else {
		echo '<a href="'.href('index.php?page=session&f=logout&toPolicy=public',array('skin','lang','sessionID')).'"><div class="large icon-lock"></div></a>';
	    }
	echo '</div>';

    }

    function _updateWindowSide() {
	echo '<div id="updateWindowSide" class="updateWindowSide">';
	    echo '<h1><span id="btn_updateWindowSideClose" class="icon-remove-circle"></span><div id="updateWindowSideTitle"></div></h1>';
	    echo '<div id="updateWindowSideContent">';
	    echo '</div>';
	echo '</div>'."\n";
    }

?>
